<script src="~/lib/datatable/js/jquery.datatables.min.js"></script>
<script src="~/lib/datatable/js/datatables.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/datatables.responsive.min.js"></script>
<script src="~/lib/datatable/js/responsive.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/datatables.buttons.min.js"></script>
<script src="~/lib/datatable/js/buttons.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/jszip.min.js"></script>
<script src="~/lib/datatable/js/pdfmake.min.js"></script>
<script src="~/lib/datatable/js/vfs_fonts.js"></script>
<script src="~/lib/datatable/js/buttons.html5.min.js"></script>
<script src="~/lib/datatable/js/buttons.print.min.js"></script>
<script src="~/lib/datatable/js/buttons.colvis.min.js"></script>
<script src="~/lib/toastr/toastr.min.js"></script>
<script>
    $(document).ready(function () {
        var CaseId = $('#CaseId').val();
        function returnToMaker(data) {
            const userConfirmed = confirm("Are you sure you want to return to the maker?");
            if (userConfirmed) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("RetrunToMaker", "Case")',
                    data: { Id: data },
                    success: function (response) {
                        // Assuming the response indicates success
                        if (response.success) {
                            toastr.success("Successfully returned to maker!", "success");
                            var caseCollateralsTable = $('#RejectCollaterals').DataTable();
                                caseCollateralsTable.destroy();
                            loadCollaterals();
                        } else {
                            toastr.error("Failed to return to maker.", "error");
                        }
                    },
                    error: function () {
                        toastr.error("An error occurred. Please try again.", "error");
                    }
                });
            }
        }
        function initializeDataTable(data) {
            caseCollateralsTable = $('#RejectCollaterals').DataTable({
                language: {
                    emptyTable: "There is no collateral register for this case please click the above add button to add collaterals"
                },
                responsive: true,
                pageLength: 8,
                lengthChange: false,
                autoWidth: false,
                buttons: [
                    "copy",
                    "csv",
                    "excel",
                    { extend: 'pdf', title: 'My Case - pdf' },
                    { extend: 'print', title: 'My Case - Print' },
                    "colvis"
                ],
                data: data,
                columns: [
                    { data: 'PropertyOwner', width: '20%' },
                    { data: 'Role', width: '20%' },
                    { data: 'Category', width: '25%' },
                    { data: 'Type', width: '25%' },
                    {
                        data: 'Id',
                        width: '10%',
                        render: function (data, type, row, meta) {
                            return `<a href="@Url.Action("Detail", "Collateral")?Id=${data}">Details |
                                    </a> <a href="@Url.Action("Edit", "Collateral")?Id=${data}">Edit</a>|
                                    <a href="#" class="return-to-maker" data-id="${data}">Return to Maker</a>`;
                        }
                    }
                ]
            }).buttons().container().appendTo('#RejectCollaterals_wrapper .col-md-6:eq(0)');
        }
        $(document).on('click', '.return-to-maker', function (event) {
            event.preventDefault(); // Prevent the default anchor click behavior
            const id = $(this).data('id');
            returnToMaker(id);
        });
       
        function loadCollaterals() {
            $.ajax({
                url: '/Collateral/GetRejectCollaterals?CaseId=' + CaseId,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if ($.fn.DataTable.isDataTable('#RejectCollaterals')) {
                        var caseCollateralsTable = $('#RejectCollaterals').DataTable();
                        caseCollateralsTable.destroy();
                    }
                    initializeDataTable(data);
                },
                error: function (error) {
                    toastr.error("Failed to load collaterals");
                    console.log(error);
                }
            });
        }
        loadCollaterals();
     });
</script>
