@using System
@using mechanical.Models.Enum

@model mechanical.Models.Dto.TaskManagmentDto.ShareTasksDto

<form id="shareCaseForm">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label for="CaseId" class="form-label">Case List</label>
        <select class="form-control" id="CaseId" asp-for="CaseId" required>
            <option value="" disabled selected>-- Select Case --</option>
        </select>
        <span asp-validation-for="CaseId" class="text-danger small"></span>
        <div class="invalid-feedback">Please select a case.</div>
    </div>

    <div class="mb-3">
        <label for="TaskName" class="form-label">Task List</label>
        @* <label for="TaskName" class="form-label">@Html.DisplayNameFor(model => model.TaskName) Task List<span class="text-danger small">*</span></label> *@
        <select class="form-control" id="TaskName" asp-for="TaskName" required>
                @* asp-items="Html.GetEnumSelectList<TaskList>()" *@
            <option value="" disabled selected>-- Select Task --</option>
            <option value="All">All</option>
            <option value="Collateral Addition">Collateral Addition</option>
            <option value="Case Follow">Case Follow</option>
            <option value="Report Generation">Report Generation</option>
        </select>
        <span asp-validation-for="TaskName" class="text-danger small"></span>
        <div class="invalid-feedback">Please select a task.</div>
    </div>

    <div class="form-group mb-3">
        <label class="form-label">Relation Managers</label>
        <select class="form-control select2" asp-for="SelectedRMs" required multiple>
            <option value="" disabled selected>Select RMs</option>
        </select>
        <span asp-validation-for="SelectedRMs" class="text-danger small"></span>
        <div class="invalid-feedback">Please select at least one relations manager.</div>
    </div>

    <div class="mb-3">
        <label for="Deadline" class="form-label">Deadline</label>
        <input type="date" value='@DateTime.Now.ToString("yyyy-MM-dd")' class="form-control" id="shareDeadline" asp-for="Deadline" required>
        <span asp-validation-for="Deadline" class="text-danger small"></span>
        <div class="invalid-feedback">Please select a deadline. Deadline cannot be earlier than today.</div>
    </div>

    <div class="mb-3">
        <label for="TaskPriority" class="form-label">Priority</label>
        @* <label for="TaskPriority" class="form-label">@Html.DisplayNameFor(model => model.TaskPriority)<span class="text-danger small">*</span></label> *@
        <select class="form-control" id="TaskPriority" asp-for="TaskPriority" required >
                @* asp-items="Html.GetEnumSelectList<PriorityType>()" *@
            <option value="" disabled selected>-- Select Priority Type --</option>
            <option value="Urgent">Urgent</option>
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
        </select>
        <span asp-validation-for="TaskPriority" class="text-danger small"></span>
        <div class="invalid-feedback">Please select a priority type.</div>
    </div>

    <div class="mb-3">
        <label for="Reason" class="form-label">Reason for Task Sharing</label>
        <textarea class="form-control" id="Reason" asp-for="SharingReason" required></textarea>
        <span asp-validation-for="SharingReason" class="text-danger small"></span>
        <div class="invalid-feedback">Please provide a reason for task sharing.</div>
    </div>
</form>