<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    
    $(document).ready(function () {

        loadSharedTasks();
        
        $('.select2').select2({
            placeholder: "Select RMs",
            allowClear: true
        });

        $('#selectAllCheckbox').on('click', function () {
            var isChecked = $(this).prop('checked');
            $('.purple-checkbox').prop('checked', isChecked);
        });

        $('#sharedTasksTable tbody').on('change', '.purple-checkbox', function () {
            var allChecked = $('.purple-checkbox').length === $('.purple-checkbox:checked').length;
            $('#selectAllCheckbox').prop('checked', allChecked);
        });


        // Populate Cases dropdown
        $.get("/TaskManagment/GetMyCases", function (data) {
            var caseDropdown = $("#CaseId");
            caseDropdown.empty().append('<option value="">-- Select Case --</option>');
            $.each(data, function (index, item) {
                caseDropdown.append($('<option></option>').val(item.Id).text(item.CaseNo));
            });
        });

        // Populate RMs dropdown
        $.get("/TaskManagment/GetRMs", function (data) {
            var rmDropdown = $("#SelectedRMs");
            rmDropdown.empty().append('<option value="" disabled>Select RMs</option>');
            $.each(data, function (index, item) {
                rmDropdown.append($('<option></option>').val(item.Id).text(item.Name));
            });
            rmDropdown.select2(); // Reinitialize Select2
        });

        // Handle form submission via AJAX
        $("#saveTaskButton").click(function () {
            var form = $("#taskForm");

            // Check form validity
            if (form[0].checkValidity() === false) {
                form.addClass("was-validated");
                return;
            }

            // Disable submit button and show spinner
            $("#saveTaskButton").prop("disabled", true);
            $("#submitSpinner").removeClass("d-none");
            console.log("ghjghj", form.attr("action"),form.attr("method"),form.serialize());
            $.ajax({
                url: form.attr("action"),
                type: form.attr("method"),
                data: form.serialize(),
                success: function (response) {
                    if (response.success) {
                        // Show success toast
                        toastr.success("Task shared successfully!", "Success");

                        // Clear form and close modal
                        form[0].reset();
                        form.removeClass("was-validated");
                        $("#shareTaskModal").modal("hide");

                        // Update task table dynamically
                        loadSharedTasks();
                        
                    } else {
                        toastr.error(response.message, "Error occured when sharing Task");
                    }
                },
                error: function () {
                    toastr.error("An error occurred while submitting the form.", "Error");
                },
                complete: function () {
                    // Re-enable submit button and hide spinner
                    $("#saveTaskButton").prop("disabled", false);
                    $("#submitSpinner").addClass("d-none");
                }
            });
        });
    });
</script>