@using mechanical.Models.Dto.TaskManagmentDto

<div class="card-body">
    <div class="direct-chat-messages" style="height:25rem;"></div>
    <div class="direct-chat-contacts">
        <ul class="contacts-list"></ul>
    </div>
    <div class="mt-4">
        <form action="/TaskManagment/CommentTask" method="post" id="commentForm">
            <input type="hidden" id="TaskId" />
            <div class="input-group">
                <textarea name="message" id="messageinput" placeholder="Type message ..." class="form-control" rows="2" required></textarea>
                <button type="submit" class="btn btn-primary" id="SendButton"><i class="fas fa-arrow-right"></i></button>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        // await Html.RenderPartialAsync("_ValidationScriptsPartial");
        // await Html.RenderPartialAsync("_CommonLibrariesScriptPartial");
        // await Html.RenderPartialAsync("_sharedTasksScriptPartial");
       // await Html.RenderPartialAsync("_tsakShareCommentDatatableScriptPartial");

    }
}

<style>
    .direct-chat {
        border: 1px solid #dee2e6; /* Add border to the card */
        box-shadow: none; /* Remove box shadow */
    }

    .card-header,
    .card-footer {
        background-color: white; /* White background for header and footer */
    }

    .card-header {
        border-bottom: 1px solid #dee2e6; /* Border on the bottom of the header */
    }

    .card-footer {
        border-top: 0px solid #dee2e6; /* Border on the top of the footer */
    }
</style>