
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4>My Shared Case</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("NewCases", "Case")">My New Case</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <table id="MySharedTask" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Assigned At</th>
                            <th>Deadline</th>
                          @*   <th>Case No</th> *@
                            @* <th>Aplicant </th>
                            <th>Customer Id</th>   *@                         
                            @* <th>Assignee</th> *@
                            <th>Task List</th>                            
                            <th>Priority</th>                            
                            <th>Task Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
               
            </div>
        </div>
    </div>
</section>



@section Scripts {
    @{
        await Html.RenderPartialAsync("ShareTaskModel");
        await Html.RenderPartialAsync("_taskShareDatatableScript");
        //await Html.RenderPartialAsync("ScriptPartial/_DetailCaseDataTableSriptsPartial");


    }
}


