<script src="~/lib/datatable/js/jquery.datatables.min.js"></script>
<script src="~/lib/datatable/js/datatables.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/datatables.responsive.min.js"></script>
<script src="~/lib/datatable/js/responsive.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/datatables.buttons.min.js"></script>
<script src="~/lib/datatable/js/buttons.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/jszip.min.js"></script>
<script src="~/lib/datatable/js/pdfmake.min.js"></script>
<script src="~/lib/datatable/js/vfs_fonts.js"></script>
<script src="~/lib/datatable/js/buttons.html5.min.js"></script>
<script src="~/lib/datatable/js/buttons.print.min.js"></script>
<script src="~/lib/datatable/js/buttons.colvis.min.js"></script>
<script src="~/lib/toastr/toastr.min.js"></script>
<script>
   
    $(document).ready(function () {
        $('#showCollateralFile').click(function () {
            $('#CollateralFileModal').modal('show');
        });
        var caseId;
        $.ajax({
            url: '/CMCase/GetMyCases',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Initialize the DataTable
                var table = $('#MOMyCasesDatatable').DataTable({
                    data: data,
                    columns: [
                        {
                            data: 'CreationAt',
                            width: '15%',
                            render: function (data, type, row, meta) {
                                var date = new Date(data);
                                return date.toLocaleString();
                            }
                        },
                        { data: 'CaseNo', width: '10%' },
                        { data: 'RequestingUnit', width: '15%' },
                        { data: 'ApplicantName', width: '15%' },
                        { data: 'CustomerId', width: '15%' },
                        { data: 'NoOfCollateral', width: '10%' },
                        { data: 'TotalNoOfCollateral', width: '10%' },
                        {
                            data: 'Id',
                            width: '10%',
                            render: function (data, type, row, meta) {
                                return '<a href="@Url.Action("MyCase", "CMCase")?Id=' + data + '">Details | </a><a href="@Url.Action("Index", "CaseTimeLine")?CaseId=' + data + '">  <i class="nav-icon fas fa-sitemap ">  </i></a>';
                            }
                        }

                    ],
                    order: [[0, 'desc']],
                    responsive: true,
                    lengthChange: false,
                    autoWidth: false,
                    buttons: ["copy", "csv", "excel", { extend: 'pdf', title: 'My Case - pdf' }, { extend: 'print', title: 'My Case - Print' }, "colvis"]
                }).buttons().container().appendTo('#MOMyCasesDatatable_wrapper .col-md-6:eq(0)');

            },
            error: function (error) {
                toastr.error();
            }
        });
    });
</script>
