<script>    
    $(document).ready(function () {
        fetch('/UserManagment/GetMakerTeamLeader')
            .then(response => response.json())
            .then(data => {
                var selectOption = $('<option selected disabled></option>').attr('value', '').text('Select Team Leader');
                $('#employeeDropdown').append(selectOption);
                data.forEach(function (employee) {
                    var option = $('<option></option>').attr('value', employee.Id).text(employee.Name);
                    $('#employeeDropdown').append(option);
                });
            })
            .catch(error => {
                console.log('Error fetching employee data:', error);
            });
        $('#assignButton').on('click', function () {

            var checkedProductions = $('.purple-checkbox:checked');
            var selectedPCEIds = [];

            checkedProductions.each(function () {
                var PCECaseAssignmentId= $(this).val();
                selectedPCEIds.push(PCECaseAssignmentId);
            });
            if (selectedPCEIds.length === 0) {
                toastr.error('Please select at least one Production');
            } else {
                $('#selectedPCEIds').val(selectedPCEIds.join(','));

                $('#assignModal').modal('show');
            }
        });
        $('#selectAllCheckbox').on('click', function () {
            if ($(this).is(':disabled')) {
                return;
            }

            var isChecked = $(this).prop('checked');
            $('.purple-checkbox').each(function () {
                if (!$(this).is(':disabled')) {
                    $(this).prop('checked', isChecked);
                }
            });
        });

        $('#Productions tbody').on('change', '.purple-checkbox', function () {
            var allChecked = $('.purple-checkbox').length === $('.purple-checkbox:checked').length;
            $('#selectAllCheckbox').prop('checked', allChecked);
        });
        $('#assignForm').submit(function (e) {
            e.preventDefault();

            var formData = new FormData(this);

            $.ajax({
                url: '/MMCase/PCEReAssignMakerTeamLeader',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    toastr.success(response.message);
                    loadProductions();
                    $('#assignModal').modal('hide');
                },
                error: function (error) {
                    toastr.error("Unable to assign Production");
                    console.log(error);
                }
            });
        });

        function initializeDataTable(data) {
            $('#Productions').DataTable({
                language: {
                    emptyTable: "There are no assigned Productions for this PCE Case."
                },
                responsive: true,
                pageLength: 8,
                lengthChange: false,
                autoWidth: false,
                buttons: ["copy", "csv", "excel", { extend: 'pdf', title: 'My PCE Case - pdf' }, { extend: 'print', title: 'My PCE Case - Print' }, "colvis"],
                data: data,
                columns: [
                    {
                        data: null,
                        render: function (data, type, row, meta) {
                            if (data.Status == "New" || data.Status == "Remark"){
                                return '<input class="purple-checkbox" type="checkbox"  value="' + data.PCECaseAssignmentId + '">';
                            }
                            else{

                                return '<input disabled class="purple-checkbox" type="checkbox"  value="' + data.PCECaseAssignmentId + '">';

                            }
                            
                        }
                    },
                    { data: 'PropertyOwner', width: '15%' },
                    { data: 'Role', width: '10%' },
                    { data: 'Category', width: '15%' },
                    { data: 'Type', width: '15%' },
                    { 
                        data: 'AssignmentDate', 
                        width: '10%',
                        render: function(data) {
                            const date = new Date(data);
                            return date.toISOString().split('T')[0]; 
                        } 
                    },
                    { data: 'User', width: '10%' },
                    { data: 'Status', width: '10%' },
                    {
                        data: 'ProductionCapacityId',
                        width: '15%',
                        render: function (data, type, row, meta) {
                            return '<a href="@Url.Action("Detail", "ProductionCapacity")?Id=' + data + '">Details';
                        }
                    }
                ]
            }).buttons().container().appendTo('#Productions_wrapper .col-md-6:eq(0)');
        }

        function loadProductions() {
            $.ajax({
                url: '/ProductionCapacity/GetMyAssigmentProduction?CaseId=' + '@ViewData["PCECaseId"]',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if ($.fn.DataTable.isDataTable('#Productions')) {
                        $('#Productions').DataTable().destroy();
                    }
                    initializeDataTable(data);
                },
                error: function (error) {
                    toastr.error("Failed to load Productions");
                    console.log(error);
                }
            });
        }
        loadProductions();
    });
</script>