﻿@using mechanical.Models.PCE.Entities
@using mechanical.Models.Dto.UploadFileDto
@using mechanical.Models.PCE.Dto.ProductionCapacityDto
@using mechanical.Models.PCE.Dto.PCEEvaluationDto
@model ReturnProductionDto

@{
    var latestEvaluation = ViewData["LatestEvaluation"] as PCEEvaluationReturnDto;
    var reestimation = ViewData["Reestimation"] as ProductionCapacityReestimation;
    var currentUser = ViewData["CurrentUser"] as CreateUser;

    ViewData["Title"] = ViewBag.Title as string;   
}

<section class="content">
    <section class="col-xl-12 connectedSortable">
         
        @{
            if (reestimation != null)
            {
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-warning">Reason for reestimation</h3>
                    </div>
                    <div class="card-body">                              
                        <div>
                            @reestimation.Reason
                        </div>                         
                    </div>
                </div>
            }
        }    

        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-success text-center">Valuation Result</h3>
            </div>
                @{
                    if (latestEvaluation != null)
                    {
                        <div class="row">
                            @await Html.PartialAsync("PCEScriptPartial/Partial/_EvaluationDetailPartial", latestEvaluation)
                        </div>                                             
                    }
                    else
                    {
                        <div>
                            <h6 class="text-center">
                                Not evaluated yet.                            
                    
                                @* @if (Model.EvaluatorUserID == currentUser.Id && Model.CurrentStage == "Maker Officer")
                                { 
                                        <a href="#" data-toggle="modal" data-target="#rejectionModal1">| Return</a>
                                } *@  
                            </h6>                           
                        </div>
                    }                    
                }
                 
            </div>          
        </div>   
    </section>           
</section>