@using mechanical.Models.Dto.UserDto
@using mechanical.Models.PCE.Dto.PCECaseDto

@{
    var myPCECase = ViewData["PCECase"] as PCECaseReturnDto;
    var currentUser = ViewData["CurrentUser"] as ReturnUserDto;

    var currentUserRole = currentUser?.Role?.Name as string;
    var status = ViewBag.Status as string;
    var assiName = "";

    if (currentUserRole == "Relation Manager")
    {
        if (status == "New" || status == "All" || status == "Returned")
        {
            assiName = "SendForValuation";
        }
        else if (status == "Reestimate")
        {
            assiName = "SendForReestimation";
        }
    }
    else if (currentUserRole == "Maker Manager")
    {
        assiName = "PCEAssignMakerTeamleader";
    }
    else if (currentUserRole == "Maker TeamLeader")
    {
        assiName = "PCEAssignMakerOfficer";
    }
    else if (currentUserRole == "District Valuation Manager")
    {
        assiName = "PCEAssignMakerOfficer";
    }
}

<div class="card">
    <div class="card-header">
        <div class="col-12">
            <div class="row">
                @{
                    if (currentUserRole == "Relation Manager" && (status == "New" | status == "All"))
                    {
                        <div class="col-12 col-sm-6" style="margin-top:1rem;">
                            <div class="btn-group">
                                <button id="addProductionButton" type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#addProductionModal">
                                    <i class="fas fa-plus-circle"></i> Manufacturing PCE Request
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-primary ms-1" data-toggle="modal">
                                    <i class="fas fa-plus-circle"></i> Add any other
                                </button>
                                <a class="btn btn-sm btn-outline-primary ms-1" href="@Url.Action("Index", "PCECaseTimeLine", new { PCECaseId = myPCECase.Id })">
                                    <i class="nav-icon fas fa-sitemap"></i>
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <table id="Productions" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        @if ((status == "New" || status == "All" || status == "Reestimate" || status == "Returned") && currentUserRole != "Maker Officer")
                        {
                            <th><input type="checkbox" class="form-check bg-purple" id="selectAllCheckbox"></th>
                        }
                        <th>Property Owner</th>
                        <th>Role</th>
                        <th>Machine Name</th>
                        <th>Status</th>
                        <th>Current Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
        @{
            if (currentUserRole == "Relation Manager")
            {
                <div class="row">
                    <div class="row">
                        @if (status == "New" || status == "All")
                        {
                            <button type="submit" id="assignButton" class="col-xl-2  btn btn-sm  bg-purple">Send for Estimation <i class="fas fa-paper-plane"></i></button>
                        }
                        else if (status == "Returned")
                        {
                            <button type="submit" id="assignButton" class="col-xl-2  btn btn-sm  bg-purple">Resend for Estimation <i class="fas fa-paper-plane"></i></button>
                        }
                        else if (status == "Reestimate")
                        {
                            <button type="submit" id="assignButton" class="col-xl-2  btn btn-sm bg-purple">Request Re-estimation <i class="fas fa-paper-plane"></i></button>
                        }
                    </div>
                </div>
            }

            else if (status == "New" || status == "All")
            {
                if ((currentUserRole == "Maker Manager") || (currentUserRole == "Maker TeamLeader") || (currentUserRole == "District Valuation Manager"))
                {
                    <div class="row">
                        <div class="col-xl-2 col-lg-4 col-sm-6">
                            <button id="assignButton" class="col-12 btn btn-sm bg-purple">Assign</button>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>
