@using mechanical.Models.PCE.Enum.ProductionCapacity

@model mechanical.Models.PCE.Dto.ProductionCapacityDto.ProductionPostDto

<div class="card">
    <div class="card-body">
        <table id="Productions" class="table table-bordered table-striped">
            <thead>
                <tr>                    
                    <th>Property Owner</th>
                    <th>Role</th>
                    <th>Main Sector</th>
                    <th>Sub Sector</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
        </div>
</div>

