@using mechanical.Models.Dto.UserDto
@using mechanical.Models.PCE.Dto.PCECaseDto
@* @using mechanical.Models.PCE.Enum.ProductionCapacity *@

@{
    var myPCECase = ViewData["PCECase"] as PCECaseReturnDto;
    var currentUser = ViewData["CurrentUser"] as ReturnUserDto;
    var status = ViewBag.Status as string;

    var assiName = "";

    if (currentUser.Role.Name == "Relation Manager")
    {
        if (status == "New")
        {            
            assiName = "SendForValuation";
        }        
        else if (status == "Reestimate")
        {
            assiName = "SendForReestimation";
        }
    }
    else if (currentUser.Role.Name == "Maker Manager")
    {
        assiName = "PCEAssignMakerTeamleader";
    }
    else if (currentUser.Role.Name == "Maker TeamLeader")
    {
        assiName = "PCEAssignMakerOfficer";
    }
    else if (currentUser.Role.Name == "District Valuation Manager")
    {
        assiName = "PCEAssignMakerOfficer";
    }
}

<div class="card">
    <div class="card-header">
        <div class="col-12">
            <div class="row">                
                @{
                    if (status == "New" && currentUser.Role.Name == "Relation Manager")
                    {                     
                        <div class="col-12 col-sm-6" style="margin-top:1rem;">
                            <div class="btn-group">
                                <button id="addProductionButton" type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#addProductionModal">
                                    <i class="fas fa-plus-circle"></i> Manufacturing PCE Request
                                </button>
                                <button id="addPlantButton" type="button" class="btn btn-sm btn-outline-primary ms-1" data-toggle="modal" data-target="#addPlantModal">
                                    <i class="fas fa-plus-circle"></i> Plant PCE Request
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-primary ms-1" data-toggle="modal">
                                    <i class="fas fa-plus-circle"></i> Add any other
                                </button>
                                <a class="btn btn-sm btn-outline-primary ms-1" href="@Url.Action("Index", "PCECaseTimeLine", new { PCECaseId = myPCECase.Id })">
                                    <i class="nav-icon fas fa-sitemap"></i>
                                </a>
                            </div>
                        </div> 
                    }               
                }
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <table id="Productions" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        @if ((status == "New" || status == "Reestimate" || status == "Reject") && currentUser.Role.Name != "Maker Officer")
                        {
                            <th><input type="checkbox" class="form-check bg-purple" id="selectAllCheckbox"></th>  
                        }        
                        <th>Property Owner</th>
                        <th>Role</th>
                        <th>Production Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table> 
        </div>
        @{
            if (currentUser.Role.Name == "Relation Manager")
            {                
                <div class="row">
                    <div class="row">
                        @if (status == "New") 
                        {
                            <button type="submit" id="assignButton" class="col-xl-2  btn btn-sm  bg-purple">Send for Estimation<i class="fas fa-paper-plane"></i></button>
                        }
                        else if (status == "Reestimate") 
                        {
                            <button type="submit" id="assignButton" class="col-xl-2  btn btn-sm bg-purple">Request Re-estimation<i class="fas fa-paper-plane"></i></button>
                        }
                    </div>
                </div>
            }
            
            else if (status == "New")
            {
                if ((currentUser.Role.Name == "Maker Manager") || (currentUser.Role.Name == "Maker TeamLeader") || (currentUser.Role.Name == "District Valuation Manager"))
                {
                    <div class="row">
                        <div class="col-xl-2 col-lg-4 col-sm-6">
                            <button id="assignButton" class="col-12 btn btn-sm bg-purple">Assign</button>
                        </div>
                    </div>                 
                }
            }
        }        
    </div>
  
</div>

@{
    if (currentUser.Role.Name == "Relation Manager")
    {
        if (status == "Reestimate") 
        {       
            <div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="assignModalLabel">Send For Re-estimation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm(assiName, "PCECaseAssignment", FormMethod.Post, new { id = "assignForm" }))
                            {
                                <input type="hidden" id="SelectedPCEIds" name="SelectedPCEIds">
                                <div class="form-group">
                                    <label for="OptionDropdown">Select Valuation Center:</label>
                                    <select class="form-control" id="OptionDropdown" name="AssignedId">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="ReestimationReason">Re-estimation Reason:</label>
                                    <select class="form-control" id="ReestimationReason" name="ReestimationReason" required>
                                        <option value="" disabled selected>Select Re-estimation Reason </option>
                                        <option value="Customer Appeal">Customer Appeal</option>
                                        <option value="Customer Appeal">Re-estimation </option>
                                    </select>
                                </div>
                                <div class="row col-12">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-sm bg-purple col-6  ms-1">Assign</button>
                                        <button type="button" class="btn btn-sm btn-secondary col-6  ms-1" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {    
            <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">Are you sure you want to delete this production?</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-danger" id="deleteItem">Delete</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="assignModalLabel">Send For Valuation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm(assiName, "PCECaseAssignment", FormMethod.Post, new { id = "assignForm" }))
                            {
                                <input type="hidden" id="SelectedPCEIds" name="SelectedPCEIds">
                                <div class="form-group">
                                    <label for="OptionDropdown">Select Valuation Center:</label>
                                    <select class="form-control" id="OptionDropdown" name="AssignedId">
                                    </select>
                                </div>
                                <div class="row col-12">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-sm bg-purple col-6  ms-1">Assign</button>
                                        <button type="button" class="btn btn-sm btn-secondary col-6  ms-1" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div> 
        }
    }

    else if ((currentUser.Role.Name == "Maker Manager") || (currentUser.Role.Name == "Maker TeamLeader") || (currentUser.Role.Name == "District Valuation Manager"))
    {
        <div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="assignModalLabel">Assign Productions(s)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm(assiName, "PCECaseAssignment", FormMethod.Post, new { id = "assignForm" }))
                        {
                            <input type="hidden" id="SelectedPCEIds" name="SelectedPCEIds">
                            <div class="form-group">
                                <label for="OptionDropdown">Select Employee:</label>
                                <select class="form-control" id="OptionDropdown" name="AssignedId">
                                </select>
                            </div>
                            <div class="row col-12">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-sm bg-purple col-6  ms-1">Assign</button>
                                    <button type="button" class="btn btn-sm btn-secondary col-6  ms-1" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}
