.vs/
.vs/mechanical/
.vs/mechanical/v17/.suo
Signature management/
Signature management/obj/
Signature management/bin/
.vs/mechanical
mechanical/bin
mechanical/obj
mechanical/publish
mechanical/migrations
mechanical/UploadFile
mechanical/.vs
mechanical/.config
mechanical/appsettings.Development.json
# mechanical/mechanical.csproj
# mechanical/mechanical.csproj.user
