<script>
    const pceCaseId = $('#pceCaseId').val();
    const pceCaseStatus = $('#pceCaseStatus').val();
    const currentUserId = $('#currentUserId').val();
    const currentUserRole = $('#currentUserRole').val();
    const latestScheduleDate = stripTime(new Date($('#latestScheduleDate').val()));
    const currentDate = stripTime(new Date());
    
    $(document).ready(function () { 

        fetchSchedules(currentUserId, currentUserRole, pceCaseId, pceCaseStatus, latestScheduleDate);
       
        $(document).on('click', '#acceptButton', function (event) {
        // $('#acceptButton').click(function (event) {
            event.preventDefault();
          
            var selectedDate = new Date($('#ScheduleDate').val());
            
            $('#dateError').text('');

            if (isSameDate(selectedDate, latestScheduleDate)) {
                $('#dateError').text('The selected date must be different from the current date.');
                return;
            }
            if (stripTime(selectedDate) <= currentDate) {
                $('#dateError').text("The selected date must be greater than the today's date.");
                return; 
            }

            showLoadingIndicator();

            var Id = $('#ScheduleId').val();
            var formData = new FormData();
            formData.append('Id', Id);

            $.ajax({
                url: '/PCECaseSchedule/ApproveSchedule',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    hideLoadingIndicator();
                    fetchSchedules(currentUserId, currentUserRole, pceCaseId, pceCaseStatus, latestScheduleDate);
                    // location.reload();
                },
                error: function () {
                    alert('Error occurred while approving the schedule.');
                    hideLoadingIndicator();
                },
                complete: function () {
                    hideLoadingIndicator();
                }
            });
        });

        $('#createSchedule-form').submit(function (event) {
            event.preventDefault();

            var selectedDate = new Date($('#ScheduleDate').val());
            
            $('#dateError').text('');
            
            //if (stripTime(selectedDate) <= currentDate) {
            //    $('#dateError').text("The selected date must be greater than the today's date.");
            //    return; 
            //}
            //if (isSameDate(selectedDate, latestSchedule)) {
            //    $('#dateError').text('The selected date must be different from the current date.');
            //    return;
            //}

            showLoadingIndicator();

            var Id = $('#ScheduleId').val();
            var formData = new FormData(this);
            formData.append('Id', Id);

            $.ajax({
                url: '/PCECaseSchedule/CreateSchedule',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    hideLoadingIndicator();
                    fetchSchedules(currentUserId, currentUserRole, pceCaseId, pceCaseStatus, latestScheduleDate);
                    // location.reload();
                },
                error: function () {
                    alert('Error occurred while creating a schedule.');
                    hideLoadingIndicator();
                },
                complete: function () {
                    hideLoadingIndicator();
                }
            });
        });    
       
        $('#updateSchedule-form').submit(function (event) {
            event.preventDefault();
            
            var selectedDate = new Date($('#updateScheduleDate').val());

            $('#updateDateError').text('');

            if (isSameDate(selectedDate, latestScheduleDate)) {
                $('#updateDateError').text('The selected date must be different from the current date.');
                return;
            }
            if (stripTime(selectedDate) <= currentDate) {
                $('#updateDateError').text("The selected date must be greater than the today's date.");
                return; 
            }

            showLoadingIndicator();

            var Id = $('#ScheduleId').val();
            var formData = new FormData(this);
            formData.append('Id', Id);

            $.ajax({
                url: '/PCECaseSchedule/UpdateSchedule',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $('#updateSchedule-modals').modal('hide');
                    hideLoadingIndicator();
                    fetchSchedules(currentUserId, currentUserRole, pceCaseId, pceCaseStatus, latestScheduleDate);
                    // location.reload();
                },
                error: function () {
                    alert('Error occurred while updating the schedule.');
                    hideLoadingIndicator();
                },
                complete: function () {
                    hideLoadingIndicator();
                }
            });
        });

        $('#proposeNewSchedule-form').submit(function (event) {
            event.preventDefault();

            var selectedDate = new Date($('#proposeScheduleDate').val());

            $('#proposeDateError').text('');
            
            if (isSameDate(selectedDate, latestScheduleDate)) {
                $('#proposeDateError').text('The selected date must be different from the current date.');
                return;
            }
            if (stripTime(selectedDate) <= currentDate) {
                $('#proposeDateError').text("The selected date must be greater than the today's date.");
                return; 
            }

            showLoadingIndicator();

            var Id = $('#ScheduleId').val();
            var formData = new FormData(this);
            formData.append('Id', Id);

            $.ajax({
                url: '/PCECaseSchedule/ProposeSchedule',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $('#proposeNewSchedule-modals').modal('hide');
                    hideLoadingIndicator();
                    fetchSchedules(currentUserId, currentUserRole, pceCaseId, pceCaseStatus, latestScheduleDate);
                    // location.reload();
                },
                error: function () {
                    alert('Error occurred while proposing a schedule.');
                    hideLoadingIndicator();
                },
                complete: function () {
                    hideLoadingIndicator();
                }
            });
        }); 

        $('#reschedule-form').submit(function (event) {
            event.preventDefault();
            
            var selectedDate = new Date($('#rescheduleDate').val());
            
            $('#rescheduleDateError').text('');

            if (isSameDate(selectedDate, latestScheduleDate)) {
                $('#rescheduleDateError').text('The selected date must be different from the current date.');
                return;
            }
            if (stripTime(selectedDate) <= currentDate) {
                $('#rescheduleDateError').text("The selected date must be greater than the today's date.");
                return; 
            }

            showLoadingIndicator();

            var Id = $('#ScheduleId').val();
            var formData = new FormData(this);
            formData.append('Id', Id);

            $.ajax({
                url: '/PCECaseSchedule/CreateReschedule',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $('#reschedule-modals').modal('hide');
                    hideLoadingIndicator();
                    fetchSchedules(currentUserId, currentUserRole, pceCaseId, pceCaseStatus, latestScheduleDate);
                    // location.reload();
                },
                error: function () {
                    alert('Error occurred while rescheduling the date.');
                    hideLoadingIndicator();
                },
                complete: function(){
                    hideLoadingIndicator();
                }
            });
        });    

        $('#acceptButton').click(function (event) {
            event.preventDefault();
          
            var selectedDate = new Date($('#ScheduleDate').val());
            
            $('#dateError').text('');

            if (isSameDate(selectedDate, latestScheduleDate)) {
                $('#dateError').text('The selected date must be different from the current date.');
                return;
            }
            if (stripTime(selectedDate) <= currentDate) {
                $('#dateError').text("The selected date must be greater than the today's date.");
                return; 
            }

            showLoadingIndicator();

            var Id = $('#ScheduleId').val();
            var formData = new FormData();
            formData.append('Id', Id);

            $.ajax({
                url: '/PCECaseSchedule/ApproveSchedule',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    hideLoadingIndicator();
                    fetchSchedules(currentUserId, currentUserRole, pceCaseId, pceCaseStatus, latestScheduleDate);
                    // location.reload();
                },
                error: function () {
                    alert('Error occurred while approving the schedule.');
                    hideLoadingIndicator();
                },
                complete: function () {
                    hideLoadingIndicator();
                }
            });
        });

    });
    
    function fetchSchedules(currentUserId, currentUserRole, pceCaseId, pceCaseStatus, latestScheduleDate) {
        // showLoadingIndicator();
        $.ajax({
            url: '/PCECaseSchedule/GetSchedules?PCECaseId=' + pceCaseId,
            type: 'GET',
            success: function (response) {
                const schedules = typeof response === 'string' ? JSON.parse(response) : response;
                // hideLoadingIndicator();
                renderSchedules(schedules, currentUserId, currentUserRole, pceCaseId, pceCaseStatus, latestScheduleDate);
                scrollToBottom();
            },
            error: function () {
                alert('Error occurred while fetching schedules.');
                // hideLoadingIndicator();
            }
        });
    }

    function renderSchedules(schedules, currentUserId, currentUserRole, pceCaseId, pceCaseStatus, latestScheduleDate) {
        
        const caseScheduleContainer = document.getElementById('CaseSchedule');
        caseScheduleContainer.innerHTML = "";

        if (!schedules || schedules.length === 0) {
            caseScheduleContainer.innerHTML = currentUserRole !== "Maker Officer" 
                ? `<div class="text-center">
                    <h6>Valuation Schedule Is Not Set Yet For This PCE Case</h6>
                </div>`
                : `<form id="createSchedule-form" method="post" action="/PCECaseSchedule/CreateSchedule">
                    <input type="hidden" name="PCECaseId" value="${pceCaseId}">
                    <div class="form-group">
                        <div class="input-group">
                            <input id="ScheduleDate" name="ScheduleDate" class="form-control" type="date" value="${latestScheduleDate}" required />
                        </div>
                        <span class="text-danger" id="dateError"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn bg-purple btn-sm">Submit</button>
                    </div>
                </form>`;
            return;
        }

        const getStatusClassAndIcon = (status) => {
            switch (status.toLowerCase()) {
                case "approved":
                    return { class: "text-success", icon: "fa-check-circle" };
                case "rejected":
                    return { class: "text-danger", icon: "fa-times-circle" };
                case "rescheduled":
                    return { class: "text-warning", icon: "fa-undo-circle" };
                default:
                    return { class: "text-info", icon: "fa-spinner" };
            }
        };

        schedules.forEach(schedule => {
            const { class: statusClass, icon: statusIcon } = getStatusClassAndIcon(schedule.Status);
            const isProposed = schedule.Status.toLowerCase() === "proposed";

            const actionButtons = `
                ${schedule.User.Id !== currentUserId && isProposed ? `
                    <input type="hidden" id="ScheduleId" name="Id" value="${schedule.Id}" />
                    <button id="acceptButton" type="button" class="btn btn-sm btn-outline-primary ms-1">
                        <i class="fas fa-check-circle"></i> Accept
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-primary ms-1" data-toggle="modal" data-target="#proposeNewSchedule-modals">
                        <i class="fas fa-plus-circle"></i> Propose New
                    </button>` : ""}
                ${schedule.User.Id === currentUserId && isProposed ? `
                    <input type="hidden" id="ScheduleId" name="Id" value="${schedule.Id}" />
                    <button type="button" class="update-link btn btn-sm btn-outline-primary ms-1" data-toggle="modal" data-target="#updateSchedule-modals">Update</button>` : ""}
                ${schedule.Status === "Approved" && pceCaseStatus !== "Completed" ? `
                    <input type="hidden" id="ScheduleId" name="Id" value="${schedule.Id}" />
                    <button type="button" class="btn btn-sm btn-outline-primary ms-1" data-toggle="modal" data-target="#reschedule-modals">
                        <i class="fas fa-plus-circle"></i> Re-Schedule
                    </button>` : ""}
            `;

            caseScheduleContainer.innerHTML += `
                <div class="post clearfix" style="border-bottom: 1px solid #adb5bd; color: #666; margin-bottom: 15px; padding-bottom: 15px;">
                    <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="/img/avatar5.png" alt="User Image">
                        <span class="username">
                            <a href="/UserManagment/Profile?id=${schedule.User.Id}">${schedule.User.Name}</a>
                        </span>
                        <span class="description">${new Date(schedule.CreatedAt).toLocaleString()}</span>
                    </div>
                    <p id="ScheduleDate">Schedule Date: ${new Date(schedule.ScheduleDate).toLocaleDateString()}</p>
                    <p>Status: <span class="${statusClass}">${schedule.Status}</span> <i class="fas ${statusIcon} ${statusClass}"></i></p>
                    ${schedule.Reason ? `<p>Reason: <span class="text-danger">${schedule.Reason}</span></p>` : ""}
                    ${(currentUserRole === "Maker Officer" || currentUserRole === "Relation Manager") ? `<div class="btn-group">${actionButtons}</div>` : ""}
                </div>`;
        });
    }

    function showLoadingIndicator() {

        // Disable the page
        document.body.style.pointerEvents = 'none';
        document.body.style.opacity = '0.5';

        // Show a loading indicator
        var loadingIndicator = document.createElement('div');
        loadingIndicator.classList.add('loading-indicator');

        var spinner = document.createElement('div');
        spinner.classList.add('spinner');
        loadingIndicator.appendChild(spinner);

        var loadingText = document.createElement('span');
        loadingText.textContent = 'Setting up schedule date, please wait...';
        loadingIndicator.appendChild(loadingText);

        document.body.appendChild(loadingIndicator);
    }

    function hideLoadingIndicator() {

        // Remove the loading indicator
        var loadingIndicator = document.querySelector('.loading-indicator');
        if (loadingIndicator) {
            document.body.removeChild(loadingIndicator);
        }

        // Enable the page
        document.body.style.pointerEvents = 'auto';
        document.body.style.opacity = '1';
    }

    function isSameDate(date1, date2) {
        return date1.getUTCFullYear() === date2.getUTCFullYear() &&
            date1.getUTCMonth() === date2.getUTCMonth() &&
            date1.getUTCDate() === date2.getUTCDate();
    }

    function stripTime(date) {
        return new Date(Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate()));
    }
    
    function scrollToBottom() {
        $('.CaseSchedule').scrollTop($('.CaseSchedule').prop('scrollHeight'));
    }
</script>

<style>
    .loading-indicator {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        z-index: 9999; 
        text-align: center;
        border-radius: 10px;
    }
    .spinner {
        width: 40px;
        height: 40px;
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-left-color: #000;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
</style>