
<script>


    $(document).ready(function () {

        $('#UpdateSchedules').on('click', function (event) {
            event.preventDefault();
            $('#datetimepicker-modals').modal('show');
        });

        $('#proposeNewScheduleButtons').on('click', function (event) {
            event.preventDefault();
            $('#proposeNewSchedule-modals').modal('show');
        });


        $('#proposeReScheduleButtons').on('click', function (event) {
            event.preventDefault();
            $('#proposeReSchedule-modals').modal('show');
        });






        $('#datetimepicker-form').submit(function (event) {
            event.preventDefault();
            var selectedDate = new Date($('#updateScheduleDate').val());
            var currentDate = new Date();
            $('#updatedateError').text('');
            if (selectedDate < currentDate) {
                $('#updatedateError').text('The selected date must be greater than the current date.');
                return; // Stop the submission
            }
            //// Show the spinner
            showLoadingIndicator();
            var formData = new FormData(this);
            var Id = $('#CaseSchedulleId').val();
            formData.append('Id', Id);
            $.ajax({
                url: '/PCECaseSchedule/UpdateSchedule',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                   location.reload();
                },
                error: function () {
                    alert('Error occurred while updating the date.');
                },
                complete: function () {
                    // do some task here after responce
                    hideLoadingIndicator();
                }
            });
        });





        /////////////////////////////////////


        $('#AcceptButton').click(function (event) {
            event.preventDefault();

            var selectedDate = new Date($('#ScheduleDate').val());
            var currentDate = new Date();
            $('#dateError').text('');
            if (selectedDate < currentDate) {
                $('#dateError').text('The selected date must be greater than the current date.');
                return; // Stop the submission
            }


            //// Show the spinner
            showLoadingIndicator();


            var formData = new FormData();
            var Id = $('#CaseScheduleId').val();
            formData.append('Id', Id);

            $.ajax({
                url: '/PCECaseSchedule/ApproveSchedule',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    location.reload();
                },
                error: function () {
                    alert('Error occurred while updating the date.');
                },
                complete: function () {
                    // do some task here after responce
                    hideLoadingIndicator();
                }
            });
        });

   




        var CaseId = $('#CaseId').val();

        $('#proposeNewSchedule-form').submit(function (event) {
            event.preventDefault();

            var selectedDate = new Date($('#proposeScheduleDate').val());
            var currentDate = new Date();
            $('#proposedateError').text('');
            if (selectedDate < currentDate) {
                $('#proposedateError').text('The selected date must be greater than the current date.');
                return; // Stop the submission
            }


            //// Show the spinner
            showLoadingIndicator();

            var formData = new FormData(this);
            var Id = $('#CaseScheduleId').val();
            formData.append('id', Id);

            $.ajax({
                url: '/PCECaseSchedule/CreateProposeSchedule',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {

                    $('#proposeNewSchedule-modals').modal('hide');
                    location.reload();
                    // Handle success response
                },
                error: function () {
                    $('#evaluationForm').append('<p class="text-danger">Error occurred while creating the schedule.</p>');
                },
                complete: function () {
                    // do some task here after responce
                    hideLoadingIndicator();
                }
            });
        });





        var CaseId = $('#CaseId').val();

        $('#proposeReSchedule-form').submit(function (event) {
            event.preventDefault();


            var selectedDate = new Date($('#ScheduleDate').val());
            var currentDate = new Date();
            $('#dateError').text('');
            if (selectedDate < currentDate) {
                $('#dateError').text('The selected date must be greater than the current date.');
                return; // Stop the submission
            }


            //// Show the spinner
            showLoadingIndicator();

            var formData = new FormData(this);
            var Id = $('#CaseScheduleId').val();
            formData.append('id', Id);

            $.ajax({
                url: '/PCECaseSchedule/CreateReSchedule',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {

                    $('#proposeReSchedule-modals').modal('hide');
                    location.reload();
                    // Handle success response
                },
                error: function () {
                    $('#evaluationForm').append('<p class="text-danger">Error occurred while creating the schedule.</p>');
                },
                complete: function(){
                // do some task here after responce
                    hideLoadingIndicator();

                }
            });
        });

        function showLoadingIndicator() {
            // Disable the page
            document.body.style.pointerEvents = 'none';
            document.body.style.opacity = '0.5';

            // Show a loading indicator
            var loadingIndicator = document.createElement('div');
            loadingIndicator.classList.add('loading-indicator');

            var spinner = document.createElement('div');
            spinner.classList.add('spinner');
            loadingIndicator.appendChild(spinner);

            var loadingText = document.createElement('span');
            loadingText.textContent = 'Please wait...';
            loadingIndicator.appendChild(loadingText);

            document.body.appendChild(loadingIndicator);
        }

        function hideLoadingIndicator() {
            // Remove the loading indicator
            var loadingIndicator = document.querySelector('.loading-indicator');
            if (loadingIndicator) {
                document.body.removeChild(loadingIndicator);
            }

            // Enable the page
            document.body.style.pointerEvents = 'auto';
            document.body.style.opacity = '1';
        }








        var CaseId = $('#CaseId').val();


        $('#pceCaseScheduleForm').submit(function (event) {
            event.preventDefault();

            var selectedDate = new Date($('#ScheduleDate').val());
            var currentDate = new Date();
            $('#dateError').text('');
            if (selectedDate < currentDate) {
                $('#dateError').text('The selected date must be greater than the current date.');
                return; // Stop the submission
            }

            showLoadingIndicator();

            var formData = new FormData(this);
            var Id = $('#CaseScheduleId').val();
            formData.append('id', Id);

            $.ajax({
                url: '/PCECaseSchedule/CreateSchedule',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    location.reload();
                },
                error: function () {
                    $('#evaluationForm').append('<p class="text-danger">Error occurred while creating the schedule.</p>');
                },
                complete: function () {
                    hideLoadingIndicator();
                }
            });
        });




    });
</script>
