<script>
    function initializeForAssignment(getSubordinateUrl, assignUrl, selectName, isReassign = false) {
        $.ajax({
            url: getSubordinateUrl,
            method: 'GET',
            dataType: 'json'
        })
        .done(function (data) {
            var selectOption = $('<option selected disabled></option>').attr('value', '').text('Select ' + selectName);
            $('#employeeDropdown').append(selectOption);
            data.forEach(function (employee) {
                var option = $('<option></option>').attr('value', employee.Id).text(employee.Name);
                $('#employeeDropdown').append(option);
            });
        })
        .fail(function (jqXHR, textStatus, errorThrown) {
            console.log('Error fetching employee data:', errorThrown);
        });

        $('#assignButton').on('click', function () {
            var checkedProductions = $('.purple-checkbox:checked');
            var SelectedPCEIds = [];

            checkedProductions.each(function () {
                SelectedPCEIds.push($(this).val());
            });
            if (SelectedPCEIds.length === 0) {
                toastr.error('Please select at least one Production');
            } else {
                $('#SelectedPCEIds').val(SelectedPCEIds.join(','));

                $('#assignModal').modal('show');
            }
        });

        $('#selectAllCheckbox').on('click', function () {
            if ($(this).is(':disabled')) {
                return;
            }

            var isChecked = $(this).prop('checked');
            $('.purple-checkbox').each(function () {
                if (!$(this).is(':disabled')) {
                    $(this).prop('checked', isChecked);
                }
            });
        });

        @* $('#selectAllCheckbox').on('click', function () {
            var isChecked = $(this).prop('checked');
            $('.purple-checkbox').prop('checked', isChecked);
        }); *@

        $('#Productions tbody').on('change', '.purple-checkbox', function () {
            var allChecked = $('.purple-checkbox').length === $('.purple-checkbox:checked').length;
            $('#selectAllCheckbox').prop('checked', allChecked);
        });

        $('#assignForm').submit(function (e) {
            e.preventDefault();

            var formData = new FormData(this);

            $.ajax({
                url: assignUrl,
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    toastr.success(response.message);
                    $('#assignModal').modal('hide');
                    loadProductions();
                },
                error: function (error) {
                    if (!isReassign){
                        toastr.error("Unable to assign Production");
                    }else{
                        toastr.error("Unable to re-assign Production");
                    }                    
                    console.log(error);
                }
            });
        });
    }
</script>