<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="text-indigo">My Pending Case</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">My Pending Case</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <table id="pendingCaseDataTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Created At</th>
                            <th>Case No</th>
                            <th>Requsting Unit</th>
                            <th>Aplicant Name</th>
                            <th>Aplicant Customer ID</th>
                            <th>Center</th>
                            <th>Current Stage</th>
                            <th>Current Status</th>
                            <th>No of Collateral</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("ScriptPartial/MM/_MMMyPendingCasesDatatableSriptsPartial");
    }
}
