<section class="content">
        <div class="card direct-chat direct-chat-purple">
            <div class="card-header">
                <h3 class="card-title">PCE Case Comment</h3>
                <div class="card-tools">
                <span title="New Messages" class="badge badge-warning CommentBage"></span>
                    <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                        <i class="fas fa-comments"></i>
                    </button>
                </div>
            </div>
            <div class="card-body" >
                <div class="direct-chat-messages" style="height:30rem;"></div>
                <div class="direct-chat-contacts">
                    <ul class="contacts-list"></ul>
                </div>
            </div>
            <div class="card-footer">
                <form action="#" method="post">
                    <div class="input-group">
                        <input type="text" name="message" id="messageinput" placeholder="Type Message ..." class="form-control">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-primary" id="SendButton">Send</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
</section>