<script src="~/lib/datatable/js/jquery.datatables.min.js"></script>
<script src="~/lib/datatable/js/datatables.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/datatables.responsive.min.js"></script>
<script src="~/lib/datatable/js/responsive.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/datatables.buttons.min.js"></script>
<script src="~/lib/datatable/js/buttons.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/jszip.min.js"></script>
<script src="~/lib/datatable/js/pdfmake.min.js"></script>
<script src="~/lib/datatable/js/vfs_fonts.js"></script>
<script src="~/lib/datatable/js/buttons.html5.min.js"></script>
<script src="~/lib/datatable/js/buttons.print.min.js"></script>
<script src="~/lib/datatable/js/buttons.colvis.min.js"></script>
<script src="~/lib/toastr/toastr.min.js"></script>
<script>
    console.log("debug");
    $(document).ready(function () {
        $('#UpdateSchedule').on('click', function (event) {
            event.preventDefault();
            $('#datetimepicker-modal').modal('show');
        });
        $('#datetimepicker-form').submit(function (event) {
            event.preventDefault();
            var formData = new FormData(this);
            var Id = $('#CaseSchedulleId').val();
            formData.append('Id', Id);

            $.ajax({
                //url: '/MOCase/UpdateSchedule',
                url: '/MOPCECase/UpdateSchedule',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    location.reload();
                },
                error: function () {
                    alert('Error occurred while updating the date.');
                }
            });
        });
        $('#AcceptButton').click(function (event) {
            event.preventDefault();
            var formData = new FormData();
            var Id = $('#CaseScheduleId').val();
            formData.append('Id', Id);

            $.ajax({
                url: '/MOPCECase/ApproveSchedule',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    location.reload();
                },
                error: function () {
                    alert('Error occurred while updating the date.');
                }
            });
        });





        fetch('/UserManagment/GetDistrict')
            .then(response => response.json())
            .then(data => {
                var selectOption = $('<option selected disabled></option>').attr('value', '').text('Select Valuation Center');
                $('#CenterDropdown').append(selectOption);
                data.forEach(function (district) {
                    var option = $('<option></option>').attr('value', district.Id).text(district.Name);
                    $('#CenterDropdown').append(option);
                });
            })
            .catch(error => {
                console.log('Error fetching District data:', error);
            });

        var CaseId = $('#CaseId').val();
        $('#addCollateralButton').click(function () {
            $('#addCollateralModal').modal('show');
        });


        $('#proposeNewScheduleButton').click(function () {
            $('#proposeNewSchedule-modal').modal('show');
        });



        var CaseId = $('#CaseId').val();

        $('#proposeNewSchedule-form').submit(function (event) {
            event.preventDefault();
            var formData = new FormData(this);
            var Id = $('#CaseScheduleId').val();
            formData.append('id', Id);

            $.ajax({
                url: '/MOPCECase/CreateProposeSchedule',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    location.reload();
                    // Handle success response
                },
                error: function () {
                    $('#evaluationForm').append('<p class="text-danger">Error occurred while creating the schedule.</p>');
                }
            });
        });

    });
</script>
