<script src="~/lib/datatable/js/jquery.datatables.min.js"></script>
<script src="~/lib/datatable/js/datatables.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/datatables.responsive.min.js"></script>
<script src="~/lib/datatable/js/responsive.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/datatables.buttons.min.js"></script>
<script src="~/lib/datatable/js/buttons.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/jszip.min.js"></script>
<script src="~/lib/datatable/js/pdfmake.min.js"></script>
<script src="~/lib/datatable/js/vfs_fonts.js"></script>
<script src="~/lib/datatable/js/buttons.html5.min.js"></script>
<script src="~/lib/datatable/js/buttons.print.min.js"></script>
<script src="~/lib/datatable/js/buttons.colvis.min.js"></script>

<script>
    $(document).ready(function () {
        $.ajax({
            url: '/MMCase/GetMyPendingCases',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#pendingCaseDataTable').DataTable({
                    data: data,
                    columns: [
                        {
                            data: 'CreationDate',
                            width: '15%',
                            render: function (data, type, row, meta) {
                                var date = new Date(data);
                                return date.toLocaleString(); 
                            }
                        }, 
                        { data: 'CaseNo', width: '10%' },
                        { data: 'ApplicantName', width: '20%' },
                        { data: 'Segement', width: '15%' },
                        { data: 'CustomerId', width: '20%' },
                        { data: 'Center', width: '10%' },
                        { data: 'CurrentStage', width: '10%' },
                        {
                            data: 'CurrentStatus',
                            width: '10%',
                            render: function (data, type, row) {
                                if (data === 'New') {
                                    return '<span class="text-success">' + data + '</span>';
                                } else if (data === 'Pending') {
                                    return '<span class="text-warning">' + data + '</span>';
                                } else if (data === 'Complete') {
                                    return '<span class="text-purple">' + data + '</span>';
                                }  
                            }
                        },
                        { data: 'NoOfCollateral', width: '10%' },
                        {
                            data: 'Id',
                            width: '15%',
                            render: function (data, type, row, meta) {
                                return '<a href="@Url.Action("MyCase", "Case")?Id=' + data + '">Details | </a><a href="@Url.Action("Index", "CaseTimeLine")?CaseId=' + data + '">  <i class="nav-icon fas fa-sitemap "> </i></a>';
                            }
                        }
                        
                    ], 
                    order: [[0, 'desc']],
                    responsive: true,
                    lengthChange: false,
                    autoWidth: false,
                    buttons: ["copy", "csv", "excel", { extend: 'pdf', title: 'My Pending Case - pdf' }, { extend: 'print', title: 'My Pending Case - Print' }, "colvis"]
                }).buttons().container().appendTo('#pendingCaseDataTable_wrapper .col-md-6:eq(0)');
            }
        });
    });
   
</script>
