@model mechanical.Models.Entities.CreateUser
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery-ui.min.js"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="~/js/adminlte.min.js"></script>
<script src="~/js/dashboard.js"></script>
<script src="~/lib/chart.js/chart.min.js"></script>
<script src="~/lib/datatable/js/jquery.datatables.min.js"></script>
<script src="~/lib/datatable/js/datatables.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/datatables.responsive.min.js"></script>
<script src="~/lib/datatable/js/responsive.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/datatables.buttons.min.js"></script>
<script src="~/lib/datatable/js/buttons.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/jszip.min.js"></script>
<script src="~/lib/datatable/js/pdfmake.min.js"></script>
<script src="~/lib/datatable/js/vfs_fonts.js"></script>
<script src="~/lib/datatable/js/buttons.html5.min.js"></script>
<script src="~/lib/datatable/js/buttons.print.min.js"></script>
<script src="~/lib/datatable/js/buttons.colvis.min.js"></script>
<script src="~/lib/toastr/toastr.min.js"></script>

@* <script>

  

    $(document).ready(function () {

        // Make AJAX request to get roles

        $.ajax({

            type: "GET",

            url: '/UserManagment/GetRoles',

            dataType: 'json',

            success: function (data) {

                // Populate dropdown list with roles

                console.log("your list of roles are" + data);

                var dropdown = $('#RoleId');
                dropdown.append($('<option></option>').val(0).text('Select role for this user'));

                $(data).each(function (index, role) {

                    dropdown.append($('<option></option>').val(role.RoleId).text(role.Name));

                });

            },

            error: function () {

                alert('Error getting roles.');

                console.log("your list of roles are" + data);



            }

        });

    });
    </script> *@

<script>



    $(document).ready(function () {

        // Make AJAX request to get roles

        $.ajax({

            type: "GET",

            url: '/UserManagment/GetDistrict',

            dataType: 'json',

            success: function (datas) {

                // Populate dropdown list with roles

                console.log("your list of district are" + datas);

                var dropdown = $('#DistrictId');

                // dropdown.append($('<option></option>').val(0).text('Select District for this user'));

                $(datas).each(function (index, district) {

                    dropdown.append($('<option></option>').val(district.Id).text(district.Name));

                });

            },

            error: function () {

                alert('Error getting roles.');

                console.log("your list of districts are" + datas);



            }

        });

    });
</script>
 
@{
    ViewData["Title"] = "Create";
}

<script>
    $(document).ready(function () {
        // Make AJAX request to get roles
        $.ajax({
            type: "GET",
            url: '/UserManagment/GetRoles',
            dataType: 'json',
            success: function (data) {
                // Populate dropdown list with roles
                console.log("your list of roles are" + data);
                var dropdown = $('#RoleId');
                dropdown.empty(); // Clear existing options
                dropdown.append($('<option></option>').val('').text('Select role for this user')); // Add default option
                $(data).each(function (index, role) {
                    
                    dropdown.append($('<option></option>').val(role.RoleId).text(role.Name));
                });
            },
            error: function () {
                alert('Error getting roles.');
                console.log("your list of roles are" + data);
            }
        });

        // Make AJAX request to get supervisors based on selected role
        $("#RoleId").change(function () {
            var selectedRole = $(this).find(":selected").text();
            console.log(selectedRole);
            if (selectedRole == 'Relation Manager') {
                $('#Department').html(`
                    <option value = "" selected disabled > Select Department </option>
                    <option value="Wholesale">Wholesale</option>
                    <option value="Retail">Retail</option>
                    <option value="Workout">Workout</option>
                    <option value="Legal">Legal</option>
                    <option value="Acquired Asset Administration">Acquired Asset Administration</option>
                    <option value="Facility Management">Facility Management</option>
                `);
            } else {
                $('#Department').html(`
                    <option value="" selected disabled>Select valuation unit</option>
                    <option value="Mechanical">Mechanical</option>
                    <option value="Civil">Civil</option>
                    <option value="Agriculture">Agriculture</option>
                    `);
            }


            var roleId = $(this).val();
            var Department = $("#Department").val();
            var districtId = $("#DistrictId").val();
            var dropdown = $('#SupervisorId');
            dropdown.empty(); // Clear existing options
            dropdown.append($('<option></option>').val('').text('Select Supervisor')); // Add default option
            if (roleId) {
                // Make an AJAX request to retrieve the supervisors based on the selected role
                $.ajax({
                    url: '/UserManagment/GetSupervisors',
                    type: 'GET',
                    data: { roleId: roleId, districtId: districtId, Department: Department },
                    dataType: 'json',
                    success: function (data) {
                        if (data != null && data.length > 0) {
                            $(data).each(function (index, supervisor) {
                                dropdown.append($('<option></option>').val(supervisor.Id).text(supervisor.Name));
                            });
                        } else {
                            dropdown.prop('disabled', true);
                        }
                    },
                    error: function () {
                        alert('Error getting supervisors.');
                        console.log("your list of supervisors are" + data);
                    }
                });
            } else {
                dropdown.prop('disabled', true);
            }
        });
    });
</script>

<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">CreateUser</h3>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-4">
                <form method="POST" action="/UserManagment/CreateUser">

                    @*    @{using (Html.BeginForm("CreateUser", "UserManagment", FormMethod.Post))
                    { *@

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNO" class="control-label">Phone Number</label>
                        <input asp-for="PhoneNO" class="form-control" />
                        <span asp-validation-for="PhoneNO" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="emp_ID" class="control-label">Employee Id:</label>
                        <input asp-for="emp_ID" class="form-control" />
                        <span asp-validation-for="emp_ID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DistrictId" class="control-label"></label>
                        <select id="DistrictId" name="DistrictId" class="form-control" required></select>
                        <span asp-validation-for="DistrictId" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="Branch" class="control-label"></label>
                        <input asp-for="Branch" class="form-control" />
                        <span asp-validation-for="Branch" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RoleId" class="control-label">Roles</label>
                        <select id="RoleId" name="RoleId" class="form-control" required></select>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="SupervisorId" class="control-label">Super Visor:</label>
                        <select id="SupervisorId" name="SupervisorId" class="form-control" ></select>
                        <span asp-validation-for="SupervisorId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Department" class="control-label">Department</label>
                        <select name="Department" id="Department" class="form-control" required>
                        </select>
                        <span asp-validation-for="Department" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                    @*  }
                    }  *@
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    </div>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("ScriptPartial/_ValidationScriptsPartial");
    }
}
