@using mechanical.Models.PCE.Dto.PCECaseDto

@{
    var myPCECase = ViewData["PCECase"] as PCECaseReturnDto;
}
@model mechanical.Models.PCE.Dto.PCECaseCommentDto.PCECaseCommentPostDto
<section class="content">
        <div class="card direct-chat direct-chat-purple">
            <div class="card-header">
                <h3 class="card-title">PCE Case Comment</h3>
                <div class="card-tools">
                <span title="New Messages" class="badge badge-warning CommentBage"></span>
                    <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                        <i class="fas fa-comments"></i>
                    </button>
                </div>
            </div>
            <div class="card-body" >
                <div class="direct-chat-messages" style="height:30rem;"></div>
                <div class="direct-chat-contacts">
                    <ul class="contacts-list"></ul>
                </div>
            </div>
            <div class="card-footer">
                <form action="/PCECaseComment/CreateCaseComment" method="Post" id="commentForm" onsubmit="return false;">
                    <div class="input-group">                        
                        <input asp-for="PCECaseId" value='@myPCECase.Id' type="hidden" id="PCECaseId" /> 
                        <input type="text" name="message" id="messageinput" placeholder="Type message ..." class="form-control">
                        <span class="input-group-append">
                            @* <button type="submit" class="btn btn-primary" id="SendButton"><i class="fab fa-telegram-plane"></i></button> *@
                            <button type="submit" class="btn btn-primary" id="SendButton"><i class="fas fa-arrow-right"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
</section>