@model mechanical.Models.Dto.ProductionCaseDto.ProductionCasePostDto
 @{
    var empId = ViewData["EmployeeId"];


 }
 
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 col-xl-6 offset-xl-1">
                <h4 class="m-0">Create New Case</h4>
            </div>
            <div class="col-sm-6 col-xl-4">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("RM", "Dashboard")">Home</a></li>
                    <li class="breadcrumb-item active">Create new case</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <section class="col-xl-10 offset-xl-1 connectedSortable">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <img src="~/img/assignment_add_FILL0_wght300_GRAD200_opsz20.svg" class="nav-icon" alt="Custom Icon">
                    Case
                </h3>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" asp-action="Create">
                    <div class="row">
                        <div class="form-group col-xl-10">
                            <label asp-for="Segement">Segement <i class="text-danger">*</i></label>
                            <select asp-for="Segement" class="form-control form-control" id="Segement" required>
                                <option value="" disabled selected>Select Segement</option>
                                <option value="Wholesale">Wholesale</option>
                                <option value="Retail">Retail</option>
                                <option value="Workout">Workout</option>
                                <option value="Legal">Legal</option>
                                <option value="Acquired Asset Administration">Acquired Asset Administration</option>
                                <option value="Facility Management">Facility Management</option>
                            </select>
                            <span asp-validation-for="Segement" class="text-danger"></span>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="form-group col-xl-10">
                            <label asp-for="CaseNo">Case Number</label>
                            <div class="input-group" style="margin:0;">
                                <input asp-for="CaseNo" type="text" class="form-control col-lg-10" id="caseNumber" required readonly>
                                <input type="button" class="form-control btn btn-outline-primary  col-lg-2" id="GenerateCaseNo"  value="Generate" required>
                            </div>
                            <span asp-validation-for="CaseNo" class="text-danger"></span>
                        </div>
                    </div>      
                    <div class="row">
                        <div class="form-group col-xl-10">
                            <label asp-for="ApplicantName" id="applicantNameLabel">Applicant Name</label>
                            <input asp-for="ApplicantName" type="text" class="form-control" id="applicantName" required oninvalid="handleInvalidInput()">
                            <span id="applicantName-error" asp-validation-for="ApplicantName" class="text-danger"></span>
                        </div>
             
                    </div>
                    <div class="row">
                        <div class="form-group col-xl-10">
                            <label asp-for="CustomerId">Customer ID</label>
                            <input asp-for="CustomerId" type="number" class="form-control" id="CustomerId"  maxlength="10"  required>
                            <span id="CustomerId-error" asp-validation-for="CustomerId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xl-10">
                            <label asp-for="CustomerEmail">Customer Email</label>
                            <input asp-for="CustomerEmail" type="email" class="form-control" id="CustomerId" >
                            <span asp-validation-for="CustomerEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row" id="businessLicnese">
                        <div class="form-group col-lg-10">

                            <label asp-for="ProductionBussinessLicence">Business License  <i class="text-danger">*</i></label>
                            <input asp-for="ProductionBussinessLicence" type="file" class="form-control" id="ownerCertificate" required>
                            <span asp-validation-for="ProductionBussinessLicence" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="col-xl-4  btn bg-purple">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("ScriptPartial/_ValidationScriptsPartial"); }
    <script>
        $(document).ready(function () {

            $("#businessLicnese").hide();
            $("#Segement").change(function () {
                var Segements = $("#Segement").val();
                if (Segements == "Wholesale") {
                    $("#businessLicnese").show();

                }else{
                    $("#businessLicnese").hide();

                }
                if (Segements === 'Acquired Asset Administration') {
                    $("#applicantName").val('CBE');
                    $("#applicantName").prop('readonly', true);
                }
            });

            $("#GenerateCaseNo").on('click', function () {
                var employeeId = @empId;
                console.log(employeeId);
                var currentDate = new Date();
                var year = currentDate.getFullYear();
                var month = currentDate.getMonth() + 1; 
                var formattedMonth = month.toString().padStart(2, '0'); 

                $.ajax({
                    url: '/Case/GetNextCaseNumber',
                    method: "GET",
                    success: function (data) {
                        var consecutiveNumber = data.nextNumber.toString().padStart(4, '0'); 
                        var caseNumber = employeeId +'/'+ consecutiveNumber +'/'+ formattedMonth +'/'+ year;

                        $("#caseNumber").val(caseNumber);
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
                $('#GenerateCaseNo').prop('disabled', true);

            });
        });

        //this is the input validation for application name
        document.getElementById("applicantName").addEventListener("input", function () {
            var input = this.value;
            var alphanumericRegex = /^[A-Za-z0-9]+$/;

            if (!alphanumericRegex.test(input)) {
                this.setCustomValidity("Only alphanumeric characters are allowed.");
                document.getElementById("applicantName-error").textContent = "Only alphanumeric characters are allowed.";
            } else {
                this.setCustomValidity("");
                document.getElementById("applicantName-error").textContent = "";
            }
        });
        //validate the customer Id length
        document.getElementById("CustomerId").addEventListener("input", function () {
            var input = this.value;
            if (input.length !== 10) {
                this.setCustomValidity("Customer ID must be exactly 10 digits.");
                document.getElementById("CustomerId-error").textContent = "Customer ID must be exactly 10 digits.";
            } else {
                this.setCustomValidity("");
                document.getElementById("CustomerId-error").textContent = "";
            }
        });
        var segementSelect = document.getElementById('Segement');
         var applicantNameLabel = document.getElementById('applicantNameLabel');
        var applicantNameInput = document.getElementById('applicantName');

  
        segementSelect.addEventListener('change', function () {
        var selectedSegement = segementSelect.value;
        console.log(selectedSegement);


        if (selectedSegement === 'Workout' || selectedSegement === 'Legal') {
            applicantNameLabel.textContent = 'Defaulter Name';
        } else {
            applicantNameLabel.textContent = 'Applicant Name';
        }

        
    });
    </script>
}

