﻿@{
    var Status = ViewBag.Status as string;
    var EmptyMessage = "There are no PCEs found";
    var FetchUrl = "/PCEEvaluation/GetMyPCEs?Status=" + Status;
    var PCECaseId = ViewData["PCECaseId"] as Guid?;

    if (!string.IsNullOrEmpty(Status) && !Status.Equals("All", StringComparison.OrdinalIgnoreCase))
    {
        EmptyMessage = "There are no " + Status + " PCEs found";
    }
    if (PCECaseId.HasValue)
    {
        FetchUrl = "/PCEEvaluation/GetPCEs?Status=" + Status + "&PCECaseId=" + PCECaseId;
        EmptyMessage = EmptyMessage + " for this  PCE Case";
    }
}

<script>
    $(document).ready(function () {
        
        var fetchUrl = '@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(FetchUrl))';
        function initializeDataTable(data) {

            PCEsTable = $('#PCEs').DataTable({
                language: {
                    emptyTable: '@EmptyMessage'
                },
                responsive: true,
                pageLength: 8,
                lengthChange: false,
                autoWidth: false,
                buttons: ["copy", "csv", "excel", { extend: 'pdf', title: 'My PCE Case - pdf' }, { extend: 'print', title: 'My PCE Case - Print' }, "colvis"],
                data: data,
                columns: [
                    {
                        data: null,
                        render: function (data, type, row, meta) {
                            return '<input class="purple-checkbox" type="checkbox" value="' + data.Id + '">';
                        }
                    },
                    { data: 'PropertyOwner', width: '25%' },
                    { data: 'Role', width: '25%' },
                    { data: 'ProductionType', width: '35%' },
                    {
                        data: 'Id',
                        width: '10%',
                        render: function (data, type, row, meta) {
                            var detailUrl = '@Url.Action("Detail", "ProductionCapcity")';
                            return '<a href="@Url.Action("Create", "PCEEvaluation")?PCEId=' + data +
                                '">Evaluation</a> | ' + '<a href="' + detailUrl + '?Id=' + data +
                                '">Details</a> | ' + '<a href="#" onclick="openRejectionModal(\'' + data +
                                '\')">Return</a>';

                        }
                    }
                ]
            }).buttons().container().appendTo('#PCEs_wrapper .col-md-6:eq(0)');
        }
        function loadPCEs() {
            $.ajax({
                url: fetchUrl,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if ($.fn.DataTable.isDataTable('#PCEs')) {
                        var PCEsTable = $('#PCEs').DataTable();
                        PCEsTable.destroy();
                    }
                    initializeDataTable(data);
                },
                error: function (error) {
                    toastr.error("Failed to load Production Capacities");
                    console.log(error);
                }
            });
        }
        loadPCEs();
    });

    function openRejectionModal(PCEId) {
        document.querySelector('#rejectionModal1 input[name="PCEId"]').value = PCEId;
        $('#rejectionModal1').modal('show');
    }
</script>