@using mechanical.Models.Enum.ProductionCapcityEstimation
@using mechanical.Models.Enum.ProductionCapcityEstimation
@using mechanical.Models.PCE.Dto.PCECaseDto
@model mechanical.Models.PCE.Dto.ProductionCapacityDto.ProductionPostDto

@{
    ViewData["Title"] = ViewBag.Title ?? "PCE Case";
    var myPCECase = ViewData["PCECase"] as PCECaseReturntDto;
}

<script>
    $(document).ready(function () {      

        // var PCECaseId = $('#PCECaseId').val();
        var PCECaseId = '@myPCECase.Id';

        function initializeDataTable(data) {
            
            var combinedData = productions.concat(plants); // Combine productions and plants data

            PCEsTable = $('#PCEs').DataTable({
                language: {
                    emptyTable: "There is no PCE register for this case. Please click the above add button to add PCE."
                },
                responsive: true,
                pageLength: 8,
                lengthChange: false,
                autoWidth: false,
                buttons: ["copy", "csv", "excel", { extend: 'pdf', title: 'My PCE Case - pdf' }, { extend: 'print', title: 'My PCE Case - Print' }, "colvis"],
                data: data,
                columns: [
                    {
                        data: null,
                        render: function (data, type, row, meta) {
                            return '<input class="purple-checkbox" type="checkbox" value="' + data.Id + '">';
                        }
                    },
                    { data: 'PropertyOwner', width: '25%' },
                    { data: 'Role', width: '25%' },
                    { data: 'ProductionType', width: '35%' },
                    {
                        data: 'Id',
                        width: '10%',
                        render: function (data, type, row, meta) {
                            var productionType = row.ProductionType;
                            var detailUrl = '@Url.Action("Detail", "ProductionCapcity")';
                            // var detailUrl = '@Url.Action("Detail", "ProductionCapacity")';
                            var addUrl = (productionType === 'Plant')
                                ? 'openAddManufacturingModal()'
                                : 'openAddPlantModal()';
                            return  '<a href="@Url.Action("Create", "PCEEvaluation")?PCEId=' + data + 
                                    '">Evaluation</a> | ' + '<a href="' + detailUrl + '?Id=' + data + 
                                    '">Details</a> | ' + '<a href="#" onclick="openRejectionModal(\'' + data + 
                                    '\')">Return</a> | ' + '<a href="#" onclick="' + addUrl + '">Add</a>';

                        }
                    }
                ]
            }).buttons().container().appendTo('#PCEs_wrapper .col-md-6:eq(0)');
        }

        function loadPCEs() {
            $.ajax({
                url: '/PCEEvaluation/GetAllMyPCEs?PCECaseId=' + PCECaseId,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if ($.fn.DataTable.isDataTable('#PCEs')) {
                        var PCEsTable = $('#PCEs').DataTable();
                        PCEsTable.destroy();
                    }
                    initializeDataTable(data);
                },
                error: function (error) {
                    toastr.error("Failed to load Production Capacities");
                    console.log(error);
                }
            });    
        }

        loadPCEs();
    }); 

    function openRejectionModal(PCEId) {
        var rejectionModal = document.getElementById('rejectionModal1');
        var PCEIdField = document.querySelector('#rejectionModal1 input[name="PCEId"]');

        // Set the PCEId value
        PCEIdField.value = PCEId;
            $('#rejectionModal1').modal('show');
        }

        $('#rejectionModal1').on('shown.bs.modal', function () {
            $('#rejectionComment').focus();
        });

        $('#rejectionForm').submit(function (event) {
            event.preventDefault(); // Prevent default form submission

            var rejectionComment = $('#rejectionComment').val();
            var CollateralId = $('#CollateralId').val();

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),

                data: { rejectionComment: rejectionComment, CollateralId: CollateralId },
                success: function (response) {
                    // Handle the response from the controller if needed
                    toastr.success(' Reason for Return saved successfully');
                    $('#rejectionModal1').modal('hide');
                    window.location.href = '/MOPCECase/MyPCECases';

                },
                error: function (error) {
                    // Handle the error if needed
                    toastr.error('Error saving rejection comment:', error);
                }
            });
        });
          
    }); 
</script>
