@* <h2>Not working.............</h2>


<script>
    $(document).ready(function () {      

      
        $('#UpdateSchedule').on('click', function (event) {
            event.preventDefault();
            $('#datetimepicker-modal').modal('show');
        });
        $('#datetimepicker-form').submit(function (event) {
            event.preventDefault();
            var formData = new FormData(this);
            var Id = $('#CaseSchedulleId').val();
            formData.append('Id', Id);

            $.ajax({
                url: '/MOCase/UpdateSchedule',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    location.reload();
                },
                error: function () {
                    alert('Error occurred while updating the date.');
                }
            });
        });
        $('#AcceptButton').click(function (event) {
            event.preventDefault();
            var formData = new FormData();
            var Id = $('#CaseScheduleId').val();
            formData.append('Id', Id);

            $.ajax({
                url: '/MOCase/ApproveSchedule',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    location.reload();
                },
                error: function () {
                    alert('Error occurred while updating the date.');
                }
            });
        });


        var CaseId = $('#CaseId').val();
        $('#proposeNewScheduleButton').click(function () {
            $('#proposeNewSchedule-modal').modal('show');
        });
       

        $('#proposeNewSchedule-form').submit(function (event) {
            event.preventDefault();
            var formData = new FormData(this);
            var Id = $('#CaseScheduleId').val();
            formData.append('id', Id);

            $.ajax({
                url: '/Case/CreateSchedule',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    location.reload();
                    // Handle success response
                },
                error: function () {
                    $('#evaluationForm').append('<p class="text-danger">Error occurred while creating the schedule.</p>');
                }
            });
        });


    });
</script>
 *@
