<section class="content">
    <div class="card direct-chat direct-chat-purple">
        <div class="card-header">
            <h3 class="card-title">Case History</h3>
            <div class="card-tools">
                <span title="3 New Messages" class="badge badge-purple CorrectionBage">0</span>

            </div>
        </div>
        <div class="card-body">
            <div class="correctionHistories" style="height:30rem;">
                <!-- Messages will be dynamically loaded here -->
            </div>
        </div>
        <div class="card-footer">

            <span>@DateTime.Now</span>
        </div>
    </div>
</section>