@model mechanical.Models.Dto.CollateralDto.CollateralPostDto;
@{
    var myCase = ViewData["case"] as CaseReturnDto;
}

<div class="card">
    <div class="card-body">
        <input asp-for="CaseId" value=@myCase.Id type="hidden" id="CaseId" />
        <table id="caseCollaterals" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Property Owner</th>
                    <th>Role</th>
                    <th>Equipment Category</th>
                    <th>Equipment Type</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Scripts {
    @{
        <script>
            const myCaseId = "@myCase.Id";
        </script>
        await Html.RenderPartialAsync("ScriptPartial/_DetailDatatableSriptsPartial");
    }
}