@model mechanical.Models.Dto.CollateralDto.AgricultureCollateralPostDto;
@{
    var myCase = ViewData["case"] as CaseReturnDto;
}

<div class="modal fade" id="addAgricultureCollateralModal" tabindex="-1" role="dialog" aria-labelledby="addCollateralModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCollateralModalLabel">   <img src="~/img/assignment_add_FILL0_wght300_GRAD200_opsz20.svg" class="nav-icon" alt="Custom Icon"> Add Agriculture Collateral</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("CreateAgriculture", "Collateral", FormMethod.Post, new { id = "addAgricultureCollateralForm" }))
            {
                <div class="modal-body" style="padding-top:0px;">
                    <div class="card-body">
                        <input asp-for="CaseId" value=@myCase.Id type="hidden" id="CaseId" />
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label asp-for="PropertyOwner">Property Owner <i class="text-danger">*</i></label>
                                <input asp-for="PropertyOwner" type="text" class="form-control form-control-sm" id="PropertyOwnerAgr" placeholder="Property Owner *" required>
                                <span id="PropertyOwnerAgr-error" asp-validation-for="PropertyOwner" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-6">
                                <label asp-for="Role">Role <i class="text-danger">*</i></label>
                                <select asp-for="Role" class="form-control form-control-sm" id="Role" required>
                                    <option value="" disabled selected>Select Role *</option>
                                    <option value="Applicant">Applicant</option>
                                    <option value="Guarantor">Guarantor</option>
                                </select>
                                <span asp-validation-for="Role" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-2">
                                <label asp-for="Region">Region</label>
                                <select asp-for="Region" class="form-control form-control-sm" id="Region" onchange="handleRegionChange(this)">
                                    <option value="">Select Region</option>
                                    <option value="Addis Ababa">Addis Ababa</option>
                                    <option value="Afar">Afar</option>
                                    <option value="Amhara">Amhara</option>
                                    <option value="Benshangul">Benshangul</option>
                                    <option value="Central Ethiopia">Central Ethiopia</option>
                                    <option value="Diredawa">Diredawa</option>
                                    <option value="Gambella">Gambella</option>
                                    <option value="Harrari">Harrari</option>
                                    <option value="Oromia">Oromia</option>
                                    <option value="Sidama">Sidama</option>
                                    <option value="Somali">Somali</option>
                                    <option value="South western Ethiopia">South western Ethiopia</option>
                                    <option value="Southern Ethiopia">Southern Ethiopia</option>
                                    <option value="Tigray">Tigray</option>
                                    <option value="Others">Others, please specify</option>
                                </select>
                                <input type="text" class="form-control form-control-sm mt-2" id="OtherRegion" name="OtherRegion" style="display: none;">
                                <span asp-validation-for="Region" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="City">City </label>
                                <input asp-for="City" type="text" class="form-control form-control-sm" id="CityAgr" placeholder="City">
                                <span id="CityAgr-error" asp-validation-for="City" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="SubCity">Sub-City </label>
                                <input asp-for="SubCity" type="text" class="form-control form-control-sm" id="SubCityAgr" placeholder="Sub-City">
                                <span id="SubCityAgr-error" asp-validation-for="SubCity" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="Zone">Zone </label>
                                <input asp-for="Zone" type="text" class="form-control form-control-sm" id="ZoneAgr" placeholder="Zone">
                                <span id="ZoneAgr-error" asp-validation-for="Zone" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="Woreda">Woreda </label>
                                <input asp-for="Woreda" type="text" class="form-control form-control-sm" id="WoredaAgr" placeholder="Woreda">
                                <span id="WoredaAgr-error" asp-validation-for="Woreda" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="Kebele">Kebele </label>
                                <input asp-for="Kebele" type="text" class="form-control form-control-sm" id="KebeleAgr" placeholder="Kebele">
                                <span id="KebeleAgr-error" asp-validation-for="Kebele" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label asp-for="TypeOfFarming">Type of Farming <i class="text-danger">*</i></label>
                                <select asp-for="Role" class="form-control form-control-sm" id="Role" required>
                                    <option value="" disabled selected>Select Type of Farming *</option>
                                    <option value="Coffee">Coffee</option>
                                    <option value="Fruit">Fruit</option>
                                    <option value="Citrus">Citrus</option>
                                    <option value="Mango">Mango</option>
                                    <option value="Grapevine">Grapevine</option>
                                    <option value="Papaya">Papaya</option>
                                    <option value="Banana">Banana</option>
                                    <option value="Avocado">Avocado</option>
                                    <option value="Others, please specify">Others, please specify</option>
                                    <option value="Seeds and Crops,please specify">Seeds and Crops,please specify</option>
                                    <option value="Others,please specify">Others,please specify</option>
                                </select>
                                <span asp-validation-for="TypeOfFarming" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-6">
                                <label asp-for="PurposeOfTheLand">Purpose of the land <i class="text-danger">*</i></label>
                                <input asp-for="PurposeOfTheLand" type="text" class="form-control form-control-sm" placeholder="Purpose of the land" id="PurposeOfTheLandAgr">
                                <span id="PurposeOfTheLandAgr-error" asp-validation-for="PurposeOfTheLand" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label asp-for="LHCNo">LHC Number: <i class="text-danger">*</i></label>
                                <input asp-for="LHCNo" type="number" class="form-control form-control-sm" placeholder="LHC Number" id="LHCNo">
                                <span asp-validation-for="LHCNo" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-6">
                                <label asp-for="PlotOfLand">Plot of Land(hectare): <i class="text-danger">*</i></label>
                                <input asp-for="PlotOfLand" type="number" class="form-control form-control-sm" placeholder="Plot Of Land(hectare)" id="PlotOfLand">
                                <span asp-validation-for="PlotOfLand" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label asp-for="UploadLHC">Upload LHC</label>
                                <input asp-for="UploadLHC" type="file" class="form-control  form-control-sm" id="UploadLHC">
                                <span asp-validation-for="UploadLHC" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-6">
                                <label asp-for="UploadSitePlan">Upload Site Plan:</label>
                                <input asp-for="UploadSitePlan" type="file" class="form-control  form-control-sm" id="UploadSitePlan">
                                <span asp-validation-for="UploadSitePlan" class="text-danger"></span>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label asp-for="LeaseAgreement">Lease Agreement</label>
                                <input asp-for="LeaseAgreement" type="file" class="form-control  form-control-sm" id="LeaseAgreement">
                                <span asp-validation-for="LeaseAgreement" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-6">
                                <label asp-for="CurrentLeasePaymentReceipt">Current Lease Payment Receipt:</label>
                                <input asp-for="CurrentLeasePaymentReceipt" type="file" class="form-control  form-control-sm" id="CurrentLeasePaymentReceipt">
                                <span asp-validation-for="CurrentLeasePaymentReceipt" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <button type="submit" id="assignButton" class="col-xl-4  btn btn-sm bg-purple">Add</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="modal fade" id="SendForEvaluationModal" tabindex="-1" role="dialog" aria-labelledby="SendForEvaluationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignModalLabel">Send For Valuation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SendForValuation", "Case", FormMethod.Post, new { id = "assignForm" }))
                {
                    <input type="hidden" id="selectedCollateralIds" name="selectedCollateralIds">
                    <div class="form-group">
                        <label for="CenterDropdown">Select Valuation Center:</label>
                        <select class="form-control" id="CenterDropdown" name="CenterId">
                        </select>
                    </div>
                    <div class="row col-12">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-sm bg-purple col-6  ms-1" id="assignButton">Assign</button>
                            <button type="button" class="btn btn-sm btn-secondary col-6  ms-1" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("ScriptPartial/_DetailCaseSriptsPartial");
        await Html.RenderPartialAsync("ScriptPartial/_DetailCaseDataTableSriptsPartial");
        await Html.RenderPartialAsync("ScriptPartial/_ValidationScriptsPartial");
    }

}
<script>

    function validateInputAgr(inputId, errorId) {
        var input = document.getElementById(inputId).value;
        var alphanumericRegex = /^[A-Za-z0-9]+$/;
        console.log("from agr");
        if (!alphanumericRegex.test(input)) {
            document.getElementById(inputId).setCustomValidity("Only alphanumeric characters are allowed.");
            document.getElementById(errorId).textContent = "Only alphanumeric characters are allowed.";
        } else {
            document.getElementById(inputId).setCustomValidity("");
            document.getElementById(errorId).textContent = "";
        }
    }
    document.getElementById("PropertyOwnerAgr").addEventListener("input", function () {
        validateInputAgr("PropertyOwnerAgr", "PropertyOwnerAgr-error");
    });
    // document.getElementById("InvoiceNoAgr").addEventListener("input", function () {
    //     validateInputAgr("InvoiceNoAgr", "InvoiceNoAgr-error");
    // });
    // document.getElementById("SerialNoMac").addEventListener("input", function () {
    //     validateInput("SerialNoMac", "SerialNoMac-error");
    // });
    // document.getElementById("EngineMotorNoMac").addEventListener("input", function () {
    //     validateInput("EngineMotorNoMac", "EngineMotorNoMac-error");
    // });
    document.getElementById("PurposeOfTheLandAgr").addEventListener("input", function () {
        validateInputAgr("PurposeOfTheLandAgr", "PurposeOfTheLandAgr-error");
    });
    // document.getElementById("ModelNoMac").addEventListener("input", function () {
    //     validateInput("ModelNoMac", "ModelNoMac-error");
    // });
    // document.getElementById("ChassisNoMac").addEventListener("input", function () {
    //     validateInput("ChassisNoMac", "ChassisNoMac-error");
    // });
    document.getElementById("ZoneAgr").addEventListener("input", function () {
        validateInputAgr("ZoneAgr", "ZoneAgr-error");
    });
    document.getElementById("CityAgr").addEventListener("input", function () {
        validateInputAgr("CityAgr", "CityAgr-error");
    });
    document.getElementById("SubCityAgr").addEventListener("input", function () {
        validateInputAgr("SubCityAgr", "SubCityAgr-error");
    });
    document.getElementById("WoredaAgr").addEventListener("input", function () {
        validateInputAgr("WoredaAgr", "WoredaAgr-error");
    });
    document.getElementById("KebeleAgr").addEventListener("input", function () {
        validateInputAgr("KebeleAgr", "KebeleAgr-error");
    });
    document.getElementById("HouseNoAgr").addEventListener("input", function () {
        validateInputAgr("HouseNoAgr", "HouseNoAgr-error");
    });
    function handleRegionChange(selectElement) {
        var otherRegionInput = document.getElementById("OtherRegion");
        if (selectElement.value === "Others") {
            otherRegionInput.style.display = "block";
            otherRegionInput.setAttribute("required", "required");
            otherRegionInput.setAttribute("name", "Region"); // Set the name attribute to "Region"
        } else {
            otherRegionInput.style.display = "none";
            otherRegionInput.removeAttribute("required");
            otherRegionInput.removeAttribute("name"); // Remove the name attribute
        }
    }
    // document.getElementById("PropertyAddress").addEventListener("input", function () {
    //     var input = this.value;
    //     var alphanumericRegex = /^[A-Za-z0-9]+$/;
    //     if (!alphanumericRegex.test(input)) {
    //         this.setCustomValidity("Only alphanumeric characters are allowed.");
    //         document.getElementById("PropertyAddress-error").textContent = "Only alphanumeric characters are allowed.";
    //     } else {
    //         this.setCustomValidity("");
    //         document.getElementById("PropertyAddress-error").textContent = "";
    //     }
    // });
    // document.getElementById("PurposeOfTheLand").addEventListener("input", function () {
    //     var input = this.value;
    //     var alphanumericRegex = /^[A-Za-z0-9]+$/;
    //     if (!alphanumericRegex.test(input)) {
    //         this.setCustomValidity("Only alphanumeric characters are allowed.");
    //         document.getElementById("PurposeOfTheLand-error").textContent = "Only alphanumeric characters are allowed.";
    //     } else {
    //         this.setCustomValidity("");
    //         document.getElementById("PurposeOfTheLand-error").textContent = "";
    //     }
    // });
    // document.getElementById("PropertyOwnerAgr").addEventListener("input", function () {
    //     var input = this.value;
    //     var alphanumericRegex = /^[A-Za-z0-9]+$/;
    //     console.log("from agri");
    //     if (!alphanumericRegex.test(input)) {
    //         this.setCustomValidity("Only alphanumeric characters are allowed.");
    //         document.getElementById("PropertyOwnerAgr-error").textContent = "Only alphanumeric characters are allowed.";
    //         console.log("here agr");
    //     } else {
    //         this.setCustomValidity("");
    //         document.getElementById("PropertyOwnerAgr-error").textContent = "";
    //     }
    // });
    // document.getElementById("InvoiceNo").addEventListener("input", function () {
    //     var input = this.value;
    //     var alphanumericRegex = /^[A-Za-z0-9]+$/;
    //     if (!alphanumericRegex.test(input)) {
    //         this.setCustomValidity("Only alphanumeric characters are allowed.");
    //         document.getElementById("InvoiceNo-error").textContent = "Only alphanumeric characters are allowed.";
    //     } else {
    //         this.setCustomValidity("");
    //         document.getElementById("InvoiceNo-error").textContent = "";
    //     }
    // });
    // document.getElementById("SerialNo").addEventListener("input", function () {
    //     var input = this.value;
    //     var alphanumericRegex = /^[A-Za-z0-9]+$/;
    //     if (!alphanumericRegex.test(input)) {
    //         this.setCustomValidity("Only alphanumeric characters are allowed.");
    //         document.getElementById("SerialNo-error").textContent = "Only alphanumeric characters are allowed.";
    //     } else {
    //         this.setCustomValidity("");
    //         document.getElementById("SerialNo-error").textContent = "";
    //     }
    // });
    // function for the Region dropdown value
    // function handleRegionChange(selectElement) {
    //     var otherRegionInput = document.getElementById("OtherRegion");
    //     if (selectElement.value === "Others") {
    //         otherRegionInput.style.display = "block";
    //         otherRegionInput.setAttribute("required", "required");
    //         otherRegionInput.setAttribute("name", "Region"); // Set the name attribute to "Region"
    //     } else {
    //         otherRegionInput.style.display = "none";
    //         otherRegionInput.removeAttribute("required");
    //         otherRegionInput.removeAttribute("name"); // Remove the name attribute
    //     }
    // }
    // //this is to validate all collateral addresses
    // function validateZoneInput(inputElement) {
    //     var zoneError = document.getElementById("Zone-error");
    //     var zoneValue = inputElement.value;

    //     var alphanumericRegex = /^[a-zA-Z0-9\s]*$/;
    //     if (zoneValue.length > 0 && !alphanumericRegex.test(zoneValue)) {
    //         zoneError.textContent = "Zone must contain only alphanumeric characters.";
    //     } else {
    //         zoneError.textContent = ""; // Clear the error message if valid
    //     }
    // }
    // function validateCityInput(inputElement) {
    //     var zoneError = document.getElementById("City-error");
    //     var zoneValue = inputElement.value;

    //     var alphanumericRegex = /^[a-zA-Z0-9\s]*$/;
    //     if (zoneValue.length > 0 && !alphanumericRegex.test(zoneValue)) {
    //         zoneError.textContent = "City must contain only alphanumeric characters.";
    //     } else {
    //         zoneError.textContent = ""; // Clear the error message if valid
    //     }
    // }
    // function validateSubCityInput(inputElement) {
    //     var zoneError = document.getElementById("SubCity-error");
    //     var zoneValue = inputElement.value;

    //     var alphanumericRegex = /^[a-zA-Z0-9\s]*$/;
    //     if (zoneValue.length > 0 && !alphanumericRegex.test(zoneValue)) {
    //         zoneError.textContent = "SubCity must contain only alphanumeric characters.";
    //     } else {
    //         zoneError.textContent = ""; // Clear the error message if valid
    //     }
    // }
    // function validateWeredaInput(inputElement) {
    //     var zoneError = document.getElementById("Wereda-error");
    //     var zoneValue = inputElement.value;

    //     var alphanumericRegex = /^[a-zA-Z0-9\s]*$/;
    //     if (zoneValue.length > 0 && !alphanumericRegex.test(zoneValue)) {
    //         zoneError.textContent = "Wereda must contain only alphanumeric characters.";
    //     } else {
    //         zoneError.textContent = ""; // Clear the error message if valid
    //     }
    // }
    // function validateKebeleInput(inputElement) {
    //     var zoneError = document.getElementById("Kebele-error");
    //     var zoneValue = inputElement.value;

    //     var alphanumericRegex = /^[a-zA-Z0-9\s]*$/;
    //     if (zoneValue.length > 0 && !alphanumericRegex.test(zoneValue)) {
    //         zoneError.textContent = "Kebele must contain only alphanumeric characters.";
    //     } else {
    //         zoneError.textContent = ""; // Clear the error message if valid
    //     }
    // }
    // // document.getElementById("PropertyOwnerAgr").addEventListener("input", function () {
    // //     var input = this.value;
    // //     console.log("this is from agr");
    // //     var alphanumericRegex = /^[A-Za-z0-9]+$/;
    // //     if (!alphanumericRegex.test(input)) {
    // //         this.setCustomValidity("Only alphanumeric characters are allowed.");
    // //         document.getElementById("PropertyOwnerAgr-error").textContent = "Only alphanumeric characters are allowed.";
    // //         console.log("this is from agr if");
    // //     } else {
    // //         this.setCustomValidity("");
    // //         console.log("this is from agr else");
    // //         document.getElementById("PropertyOwnerAgr-error").textContent = "";
    // //     }
    // // });
    // function validateHouseNoInput(inputElement) {
    //     var zoneError = document.getElementById("HouseNo-error");
    //     var zoneValue = inputElement.value;

    //     var alphanumericRegex = /^[a-zA-Z0-9\s]*$/;
    //     if (zoneValue.length > 0 && !alphanumericRegex.test(zoneValue)) {
    //         zoneError.textContent = "HouseNo must contain only alphanumeric characters.";
    //     } else {
    //         zoneError.textContent = ""; // Clear the error message if valid
    //     }
    // }
</script>