@using mechanical.Models.Dto.CaseScheduleDto;
@using mechanical.Models.Dto.TaskManagmentDto
@model mechanical.Models.Dto.CollateralDto.CollateralPostDto
@{
    var myCase = ViewData["case"] as CaseReturnDto;
    var caseSchedule = ViewData["CaseSchedule"] as IEnumerable<CaseScheduleReturnDto>;
    var userId = ViewData["Id"] as Guid? ?? Guid.Empty;
    var motorVehicle = ViewData["motorVehicle"];
    var indBldgFacEq = ViewData["indBldgFacEq"];

    var conMngAgr = ViewData["conMngAgr"];
    var caseType = ViewData["CaseType"] as string;
    var shareTaskData = ViewData["ShareTaskData"] as ShareTasksDto;
    var moFile = ViewData["moFile"] as IEnumerable<ReturnFileDto>;
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4>Case Detail</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"><a href="@Url.Action("MyCases", "Case")">My Case</a></li>
                    <li class="breadcrumb-item active">Case Detail</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-purple card-outline card-outline-tabs">
            <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true"><i class="nav-icon fas fa-home"></i>  General Inforamtion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false"><i class="nav-icon fas fa-file"></i> Collaterals Informations</a>
                    </li>

                    @if (shareTaskData == null || (shareTaskData.TaskName != "Report Generation" && shareTaskData.TaskName != "Collateral Addition"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-four-messages-tab" data-toggle="pill" href="#custom-tabs-four-messages" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false"><i class="nav-icon fas fa-calendar-alt"></i> Schedule</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-four-settings-tab" data-toggle="pill" href="#custom-tabs-four-settings" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">
                                <i class="fas fa-comments"> </i>
                                Comments <span class="badge badge-warning right CommentBage"> </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-four-correction-tab" data-toggle="pill" href="#custom-tabs-four-correction" role="tab" aria-controls="custom-tabs-four-correction" aria-selected="false">
                                <i class="fas fa-history"></i> Case History <span class="badge badge-warning right CorrectionBage"></span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="custom-tabs-four-tabContent">
                    <div class="tab-pane fade " id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                        @await Html.PartialAsync("_GeneralInfo")
                    </div>
                  @*   <div class="tab-pane fade show active" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                        @await Html.PartialAsync("_CompleteCollateral")
                    </div> *@


                    <div class="tab-pane fade show active" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                        @await Html.PartialAsync("_CompleteCollateral", Model, new ViewDataDictionary(ViewData) { { "ShareTaskDatas", shareTaskData } })
                    </div>


                    @if (shareTaskData == null || ( shareTaskData.TaskName != "Report Generation" && shareTaskData.TaskName != "Collateral Addition"))
                    {
                        <div class="tab-pane fade" id="custom-tabs-four-messages" role="tabpanel" aria-labelledby="custom-tabs-four-messages-tab">
                            @await Html.PartialAsync("_CaseSchedule")
                        </div>
                        <div class="tab-pane fade" id="custom-tabs-four-settings" role="tabpanel" aria-labelledby="custom-tabs-four-settings-tab">
                            @await Html.PartialAsync("_CaseComment")
                        </div>

                        <div class="tab-pane fade" id="custom-tabs-four-correction" role="tabpanel" aria-labelledby="custom-tabs-four-correction-tab">
                            @await Html.PartialAsync("_CaseCorrectionHistory")
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{

        await Html.RenderPartialAsync("ScriptPartial/_RMMyCompleteCaseDatatableSriptsPartial");
        // await Html.RenderPartialAsync("ScriptPartial/_ValidationScriptsPartial");
    }

}


