@model mechanical.Models.Dto.TaskManagmentDto.TaskManagmentPostDto;
@{
    // var myCase = ViewData["case"] as CaseReturntDto;
   
}
 
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4>My New Case</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">My New Case</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <table id="MyNewCase" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th><input type="checkbox" class="form-check bg-purple" id="selectAllCheckbox"></th>
                            <th>Created At</th>
                            <th>Case No</th>
                            <th>Aplicant Name</th>
                            <th>Customer Id</th>
                            <th>New Collateral</th>
                            <th>Total Collateral</th>
                            <th> Case Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
                <div class="row">
                     @* <input asp-for="CaseId" value=@myCase.Id type="hidden" id="CaseId" /> *@
                    <div class="row">
                        <button type="submit" id="shareTaskButton" class="col-xl-2  btn btn-sm  bg-purple"> Share Task <i class="fa-regular fa-share-nodes"></i> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("ScriptPartial/_NewCasesDatatableSriptsPartial");
        await Html.RenderPartialAsync("ScriptPartial/_DetailCaseDataTableSriptsPartial");
        await Html.RenderPartialAsync("~/Views/TaskManagment/_shareTaskModel.cshtml");
        await Html.RenderPartialAsync("~/Views/TaskManagment/ScriptPartial/_taskShareDatatableScriptPartial.cshtml");
      

    }
}

 
                 