
<!DOCTYPE html>
<html>
<head>
    <title>AJAX Request</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnSubmit").click(function () {
                var inputData = {
                    name: $("#txtName").val(),
                    email: $("#txtEmail").val()
                };

                $.ajax({
                    url: '/Signature/ProcessData',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(inputData),
                    success: function (response) {
                        alert(response);
                    },
                    error: function (xhr, status, error) {
                        alert('Error: ' + error);
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h1>AJAX Request</h1>
    <input type="text" id="txtName" placeholder="Name" />
    <br />
    <input type="text" id="txtEmail" placeholder="Email" />
    <br />
    <button id="btnSubmit">Submit</button>
</body>
</html>
