<div class="card">
    <div class="Card-header">
        <div class="col-12">
            <div class="row">                
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
          <table id="PCEs" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th><input type="checkbox" class="form-check bg-purple" id="selectAllCheckbox"></th>
                    <th>Property Owner</th>
                    <th>Role</th>
                    <th>Production Type</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table> 
        </div>
        <div class="row">
            <div class="col-xl-2 col-lg-4 col-sm-6">
                <button id="assignButton" class="col-12 btn btn-sm bg-purple">Assign</button>
            </div>
        </div>
    </div>
  
</div>

<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignModalLabel">Assign Case</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("PCEAssignTeamleader", "MMCase", FormMethod.Post, new { id = "assignForm" }))
                {
                    <input type="hidden" id="SelectedPCEIds" name="SelectedPCEIds">
                    <div class="form-group">
                        <label for="employeeDropdown">Select Employee:</label>
                        <select class="form-control" id="employeeDropdown" name="employeeId">
                        </select>
                    </div>
                    <div class="row col-12">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-sm bg-purple col-6  ms-1" id="assignButton">Assign</button>
                            <button type="button" class="btn btn-sm btn-secondary col-6  ms-1" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>