@using mechanical.Models.Dto.CaseScheduleDto;
@using mechanical.Models.Dto.CaseTerminateDto;
@model mechanical.Models.Dto.CollateralDto.CollateralPostDto
@{
    var myCase = ViewData["case"] as CaseReturnDto;
    var caseSchedule = ViewData["CaseSchedule"] as IEnumerable<CaseScheduleReturnDto>;
    var userId = ViewData["Id"] as Guid? ?? Guid.Empty;
    var caseTerminate = ViewData["caseTerminate"] as IEnumerable<CaseTerminateReturnDto>;
    var moFile = ViewData["moFile"] as IEnumerable<ReturnFileDto>;
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4>Case Detail</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"><a href="@Url.Action("MyCases", "Case")">My Case</a></li>
                    <li class="breadcrumb-item active">Case Detail</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-purple card-outline card-outline-tabs">
            <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true"><i class="nav-icon fas fa-home"></i>  General Inforamtion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false"><i class="nav-icon fas fa-file"></i> Collaterals Informations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-four-messages-tab" data-toggle="pill" href="#custom-tabs-four-messages" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false"><i class="nav-icon fas fa-calendar-alt"></i> Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-four-settings-tab" data-toggle="pill" href="#custom-tabs-four-settings" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">
                            <i class="fas fa-comments"> </i>
                            Comments <span class="badge badge-warning right CommentBage"> </span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-four-correction-tab" data-toggle="pill" href="#custom-tabs-four-correction" role="tab" aria-controls="custom-tabs-four-correction" aria-selected="false">
                            <i class="fas fa-history"></i> Case History <span class="badge badge-warning right CorrectionBage"></span>
                        </a>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link" style="color:red;" id="custom-tabs-four-Terminate-tab" data-toggle="pill" href="#custom-tabs-four-Terminate" role="tab" aria-controls="custom-tabs-four-Terminate" aria-selected="false">
                            <i class="fas fa-ban"> </i>
                            Terminate @{
                                if (caseTerminate.Count() > 0)
                                {
                                    <span class="right badge badge-danger">New</span>
                                }
                            }
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="custom-tabs-four-tabContent">
                    <div class="tab-pane fade " id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                        @await Html.PartialAsync("_GeneralInfo")
                    </div>
                    <div class="tab-pane fade show active" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                        @await Html.PartialAsync("_CreateCollateral")
                    </div>
                    <div class="tab-pane fade" id="custom-tabs-four-messages" role="tabpanel" aria-labelledby="custom-tabs-four-messages-tab">
                        @await Html.PartialAsync("_CaseSchedule")
                    </div>
                    <div class="tab-pane fade" id="custom-tabs-four-settings" role="tabpanel" aria-labelledby="custom-tabs-four-settings-tab">
                        @await Html.PartialAsync("_CaseComment")
                    </div>
                    <div class="tab-pane fade" id="custom-tabs-four-correction" role="tabpanel" aria-labelledby="custom-tabs-four-correction-tab">
                        @await Html.PartialAsync("_CaseCorrectionHistory")
                    </div>
                    @{
                        if (caseTerminate.Count() > 0)
                        {
                            <div class="tab-pane fade" id="custom-tabs-four-Terminate" role="tabpanel" aria-labelledby="custom-tabs-four-Terminate-tab">
                                @await Html.PartialAsync("_CaseTerminate")
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignModalLabel">Assign Case</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AssignTeamleader", "MMCase", FormMethod.Post, new { id = "assignForm" }))
                {
                    <input type="hidden" id="selectedCollateralIds" name="selectedCollateralIds">
                    <div class="form-group">
                        <label for="employeeDropdown">Select Employee:</label>
                        <select class="form-control" id="employeeDropdown" name="employeeId">
                        </select>
                    </div>
                    <div class="row col-12">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-sm bg-purple col-6  ms-1" id="assignButton">Assign</button>
                            <button type="button" class="btn btn-sm btn-secondary col-6  ms-1" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
        
            $('#AcceptcaseTerminationButton').click(function (event) {
                event.preventDefault();
                var formData = new FormData();
                var Id = $('#CaseTerminationId').val();
                formData.append('Id', Id);

                var submitButton = $('#AcceptcaseTerminationButton');
                submitButton.prop('disabled', true);
                submitButton.html('<i class="fas fa-spinner fa-spin"></i> Processing...');

                $.ajax({
                    url: '/Case/ApproveCaseTermination',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        location.reload();
                    },
                    error: function () {
                        alert('Error occurred while updating the date.');
                    }
                });
            });
        
        });
        function fetchCollateralDetails(collateralId) {
            $('#CollateralFileModal').modal('show');
            $.ajax({
                url: '/UploadFile/GetUploadFileByCollateralId',
                type: 'GET',
                data: { CollateralId: collateralId },
                success: function (response) {
                    // Populate the modal table with the fetched data
                    populateModalTable(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function populateModalTable(data) {
            var tableBody = '';
            data.forEach(function (collateralFile) {
                tableBody += '<tr>';
                tableBody += '<td>' + collateralFile.Name + '</td>';
                tableBody += '<td>' + collateralFile.Category + '</td>';
                tableBody += '<td>' + collateralFile.ContentType + '</td>';
                tableBody += '<td><a href="/UploadFile/ViewFile/' + collateralFile.Id + '" target="_blank">View <i class="fas fas-solid fa-eye"></i></a>&nbsp;|&nbsp;<a href="/UploadFile/DownloadFile/' + collateralFile.Id + '" target="_blank">Download <i class="fas fas-solid fa-download"></i></a></td>';
                tableBody += '</tr>';
            });

            // Append the table body to the modal table
            $('#CollateralFileModal tbody').html(tableBody);
        }
    </script>
    @{
        await Html.RenderPartialAsync("ScriptPartial/MTL/_MTLMyCaseDatatableSriptsPartial");
    }
}





<div class="modal fade" id="CollateralFileModal" tabindex="-1" role="dialog" aria-labelledby="addCollateralModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CollateralFileModalLabel">   <img src="~/img/assignment_add_FILL0_wght300_GRAD200_opsz20.svg" class="nav-icon" alt="Custom Icon"> Collateral Related Document List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>File Category</th>
                        <th>File Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="modalTableBody">
                </tbody>
            </table>
        </div>
    </div>
</div>