@using mechanical.Models.Dto.CaseScheduleDto;
@model mechanical.Models.Dto.CollateralDto.CollateralPostDto
@{
    var myCase = ViewData["case"] as CaseReturnDto;
    var caseSchedule = ViewData["CaseSchedule"] as IEnumerable<CaseScheduleReturnDto>;
    var userId = ViewData["Id"] as Guid? ?? Guid.Empty;
    var moFile = ViewData["moFile"] as IEnumerable<ReturnFileDto>;
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4>Case Detail</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"><a href="@Url.Action("MyCases", "Case")">My Case</a></li>
                    <li class="breadcrumb-item active">Case Detail</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-purple card-outline card-outline-tabs">
            <input type="hidden" id="CaseId" value=@myCase.Id />
            <table id="caseCollaterals" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th><input type="checkbox" class="form-check bg-purple" id="selectAllCheckbox"></th>
                        <th>Property Owner</th>
                        <th>Role</th>
                        <th>Equipment Category</th>
                        <th>Equipment Type</th>
                        <th>Assignment Date</th>
                        <th>Case Owner</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>

            </table>
            <div class="row">
                <div class="col-xl-2 col-lg-4 col-sm-6">
                    <button id="assignButton" class="col-12 btn btn-sm bg-purple">Re-Assign</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignModalLabel">Assign Case</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ReAssignCheckerOfficer", "CTLCase", FormMethod.Post, new { id = "assignForm" }))
                {
                    <input type="hidden" id="selectedCollateralIds" name="selectedCollateralIds">
                    <div class="form-group">
                        <label for="employeeDropdown">Select Employee:</label>
                        <select class="form-control" id="employeeDropdown" name="employeeId">
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="selectedCollateralIds" />
                    </div>
                    <div class="row col-12">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-sm bg-purple col-6  ms-1" id="assignButton">Re-Assign</button>
                            <button type="button" class="btn btn-sm btn-secondary col-6  ms-1" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/datatable/js/jquery.datatables.min.js"></script>
    <script src="~/lib/datatable/js/datatables.bootstrap4.min.js"></script>
    <script src="~/lib/datatable/js/datatables.responsive.min.js"></script>
    <script src="~/lib/datatable/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/datatable/js/datatables.buttons.min.js"></script>
    <script src="~/lib/datatable/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/datatable/js/jszip.min.js"></script>
    <script src="~/lib/datatable/js/pdfmake.min.js"></script>
    <script src="~/lib/datatable/js/vfs_fonts.js"></script>
    <script src="~/lib/datatable/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatable/js/buttons.print.min.js"></script>
    <script src="~/lib/datatable/js/buttons.colvis.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script>
       
        $(document).ready(function () {
            fetch('/UserManagment/GetCheckerOfficer')
                .then(response => response.json())
                .then(data => {
                    var selectOption = $('<option selected disabled></option>').attr('value', '').text('Select Team Leader');
                    $('#employeeDropdown').append(selectOption);
                    data.forEach(function (employee) {
                        var option = $('<option></option>').attr('value', employee.Id).text(employee.Name);
                        $('#employeeDropdown').append(option);

                    });
                })
                .catch(error => {
                    console.log('Error fetching employee data:', error);
                });
            $('#assignButton').on('click', function () {

                var checkedCollaterals = $('.purple-checkbox:checked');
                var selectedCollateralIds = [];

                checkedCollaterals.each(function () {
                    var caseAssignmentId= $(this).val();
                    selectedCollateralIds.push(caseAssignmentId);
                });
                if (selectedCollateralIds.length === 0) {
                    toastr.error('Please select at least one collateral');
                } else {
                    $('#selectedCollateralIds').val(selectedCollateralIds.join(','));

                    $('#assignModal').modal('show');
                }
            });
            $('#selectAllCheckbox').on('click', function () {
                if ($(this).is(':disabled')) {
                    return; // Skip the code if the checkbox is disabled
                }

                var isChecked = $(this).prop('checked');
                $('.purple-checkbox').each(function () {
                    if (!$(this).is(':disabled')) {
                        $(this).prop('checked', isChecked);
                    }
                });
            });

            $('#caseCollaterals tbody').on('change', '.purple-checkbox', function () {
                var allChecked = $('.purple-checkbox').length === $('.purple-checkbox:checked').length;
                $('#selectAllCheckbox').prop('checked', allChecked);
            });
            $('#assignForm').submit(function (e) {
                e.preventDefault();

                var formData = new FormData(this);

                $.ajax({
                    url: '/CTLCase/ReAssignCheckerOfficer',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        console.log("in response");
                        toastr.success(response.message);
                        loadCollaterals();
                        $('#assignModal').modal('hide');
                    },
                    error: function (error) {
                        toastr.error("Unable to assign collateral");
                        console.log(error);
                    }
                });
            });
            var CaseId = $('#CaseId').val();
            var caseCollateralsTable;

            function initializeDataTable(data) {
                caseCollateralsTable = $('#caseCollaterals').DataTable({
                    language: {
                        emptyTable: "There is no collateral register for this case please click the above add button to add collaterals"
                    },
                    responsive: true,
                    pageLength: 8,
                    lengthChange: false,
                    autoWidth: false,
                    buttons: ["copy", "csv", "excel", { extend: 'pdf', title: 'My Case - pdf' }, { extend: 'print', title: 'My Case - Print' }, "colvis"],
                    data: data,
                    columns: [
                        {
                            data: null,
                            render: function (data, type, row, meta) {
                                if (data.Status == "New" || data.Status == "Remark"){
                                    return '<input class="purple-checkbox" type="checkbox"  value="' + data.CaseAssigmentId + '">';
                                }
                                else{

                                    return '<input disabled class="purple-checkbox" type="checkbox"  value="' + data.CaseAssigmentId + '">';

                                }
                                
                            }
                        },
                        { data: 'PropertyOwner', width: '15%' },
                        { data: 'Role', width: '10%' },
                        { data: 'Category', width: '15%' },
                        { data: 'Type', width: '15%' },
                        { data: 'AssignmentDate', width: '10%' },
                        { data: 'User', width: '10%' },
                        { data: 'Status', width: '10%' },
                        {
                            data: 'CollateralId',
                            width: '15%',
                            render: function (data, type, row, meta) {
                                return '<a href="@Url.Action("Detail", "Collateral")?Id=' + data + '">Details';
                            }
                        }
                    ]
                }).buttons().container().appendTo('#caseCollaterals_wrapper .col-md-6:eq(0)');
            }

            function loadCollaterals() {
                $.ajax({
                    url: '/Collateral/GetMyAssigmentCollateral?CaseId=' + CaseId,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        if ($.fn.DataTable.isDataTable('#caseCollaterals')) {
                            var caseCollateralsTable = $('#caseCollaterals').DataTable();
                            caseCollateralsTable.destroy();
                        }
                        initializeDataTable(data);
                    },
                    error: function (error) {
                        toastr.error("Failed to load collaterals");
                        console.log(error);
                    }
                });
            }

            loadCollaterals();
       
           


          


        });





    </script>
    @{
        // await Html.RenderPartialAsync("ScriptPartial/MM/_MMMyCaseDatatableSriptsPartial");
    }
}


<div class="modal fade" id="CollateralFileModal" tabindex="-1" role="dialog" aria-labelledby="addCollateralModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CollateralFileModalLabel">   <img src="~/img/assignment_add_FILL0_wght300_GRAD200_opsz20.svg" class="nav-icon" alt="Custom Icon"> Collateral Related Document List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>File Category</th>
                        <th>File Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="modalTableBody">
                </tbody>
            </table>
        </div>
    </div>
</div>