<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>My Remark PCE Cases</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">My Remark PCE Cases</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <table id="MyPCECasesDatatable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Created At</th>
                            <th>Case No</th>
                            <th>Applicant Name</th>
                            <th>Customer Id</th>
                            <th>Remarked Productions</th>
                            <th>Total Productions</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("Partial/_RemarkPCECasesDatatableSriptsPartial");
        await Html.RenderPartialAsync("ScriptPartial/_CommonLibrariesScriptPartial");
    }   
 }