<script>
    $(document).ready(function () {
        var selectedCategory = document.getElementById("selectedCategory").value;

        var categoryDropdown = document.getElementById("categoryDropdown");
        for (var i = 0; i < categoryDropdown.options.length; i++) {
            if (categoryDropdown.options[i].text === selectedCategory) {
                categoryDropdown.selectedIndex = i;
                break;
            }
        }
        var typeDropdown = $("#typeDropdown");
        function populateTypeDropdown() {
            var category = $("#categoryDropdown").val();
            typeDropdown = $("#typeDropdown");
            typeDropdown.empty();
            typeDropdown.append('<option value = "" disabled selected > Select manufacturing sub sector </option>');
                switch (category) {
                case "Aerospace":
                    typeDropdown.append('<option value="Aircraft manufacturing">Aircraft manufacturing</option>');
                    typeDropdown.append('<option value="Spacecraft manufacturing">Spacecraft manufacturing</option>');
                    typeDropdown.append('<option value="Satellite manufacturing">Satellite manufacturing</option>');
                    typeDropdown.append('<option value="Aircraft engine manufacturing">Aircraft engine manufacturing</option>');
                    typeDropdown.append('<option value="Avionics manufacturing">Avionics manufacturing</option>');
                    typeDropdown.append('<option value="Missileand defense system manufacturing">Missile and defense system manufacturing</option>');
                    typeDropdown.append('<option value="Drone manufacturing">Drone manufacturing</option>');
                    typeDropdown.append('<option value="Aerospace composite materials manufacturing">Aerospace composite materials manufacturing</option>');
                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Agriculturalmachinery":
                    typeDropdown.append('<option value="Tractor manufacturing">Tractor manufacturing</option>');
                    typeDropdown.append('<option value="Combine harvester manufacturing">Combine harvester manufacturing</option>');
                    typeDropdown.append('<option value="Irrigation equipment manufacturing">Irrigation equipment manufacturing</option>');
                    typeDropdown.append('<option value="Seed processing equipment manufacturing">Seed processing equipment manufacturing</option>');
                    typeDropdown.append('<option value="Livestock equipment manufacturing"> Livestock equipment manufacturing</option>');
                    typeDropdown.append('<option value="Farm implement manufacturing">Farm implement manufacturing</option>');
                    typeDropdown.append('<option value="Farm implement manufacturing">Farm implement manufacturing</option>');
                    typeDropdown.append('<option value="Precision agriculture technology manufacturing">Precision agriculture technology manufacturing</option>');
                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Alcoholicbeverage":
                    typeDropdown.append('<option value="Brewery">Brewery</option>');
                    typeDropdown.append('<option value="Winery">Winery</option>');
                    typeDropdown.append('<option value="Distillery">Distillery</option>');
                    typeDropdown.append('<option value="Cider production">Cider production</option>');
                    typeDropdown.append('<option value="Craft beer production">Craft beer production</option>');
                    typeDropdown.append('<option value="Spirit production">Spirit production</option>');
                    typeDropdown.append('<option value="Wine bottling and packaging">Wine bottling and packaging</option>');
                    typeDropdown.append('<option value="Alcoholic beverage labeling">Alcoholic beverage labeling</option>');
                    typeDropdown.append('<option value="Alcoholic beverage labeling">Alcoholic beverage labeling</option>');
                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Animalfeed":
                    typeDropdown.append('<option value="Livestock feed manufacturing">Livestock feed manufacturing</option>');
                    typeDropdown.append('<option value="Pet food manufacturing">Pet food manufacturing</option>');
                    typeDropdown.append('<option value="Aqua feed manufacturing">Aqua feed manufacturing</option>');
                    typeDropdown.append('<option value="Poultry feed manufacturing">Poultry feed manufacturing</option>');
                    typeDropdown.append('<option value="Dairy feed manufacturing">Dairy feed manufacturing</option>');
                    typeDropdown.append('<option value="Feed additives manufacturing">Feed additives manufacturing</option>');
                    typeDropdown.append('<option value="Feed premix manufacturing">Feed premix manufacturing</option>');
                    typeDropdown.append('<option value="Feed processing equipment manufacturing">Feed processing equipment manufacturing</option>');
                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Artsandentertainment":
                    typeDropdown.append('<option value="Film production">Film production</option>');
                    typeDropdown.append('<option value="Music instrument manufacturing">Music instrument manufacturing</option>');
                    typeDropdown.append('<option value="Toy manufacturing">Toy manufacturing</option>');
                    typeDropdown.append('<option value="Costume and prop manufacturing">Costume and prop manufacturing</option>');
                    typeDropdown.append('<option value="Stage equipment manufacturing">Stage equipment manufacturing</option>');
                    typeDropdown.append('<option value="Recording studio equipment manufacturing">Recording studio equipment manufacturing</option>');
                    typeDropdown.append('<option value="Event production equipment manufacturing">Event production equipment manufacturing</option>');
                    typeDropdown.append('<option value="Art and entertainment software development">Art and entertainment software development</option>');

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Automotiveparts":
                    typeDropdown.append('<option value="Engine parts manufacturing">Engine parts manufacturing</option>');
                    typeDropdown.append('<option value="Brake system manufacturing">Brake system manufacturing</option>');
                    typeDropdown.append('<option value="Electrical components manufacturing">Electrical components manufacturing</option>');
                    typeDropdown.append('<option value="Transmission and drivetrain manufacturing"Transmission and drivetrain manufacturing></option>');
                    typeDropdown.append('<option value="Exhaust system manufacturing">Exhaust system manufacturing</option>');
                    typeDropdown.append('<option value="Automotive electronics manufacturing">Automotive electronics manufacturing</option>');
                    typeDropdown.append('<option value="Automotive glass manufacturing">Automotive glass manufacturing</option>');
                    typeDropdown.append('<option value="Automotive seating and interiors manufacturing">Automotive seating and interiors manufacturing</option>');
                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "BakerandSnackFood":
                    typeDropdown.append('<option value="Bread and pastry manufacturing">Bread and pastry manufacturing</option>');
                    typeDropdown.append('<option value="Snack food manufacturing">Snack food manufacturing</option>');
                    typeDropdown.append('<option value="Tortilla and chip manufacturing">Tortilla and chip manufacturing</option>');
                    typeDropdown.append('<option value="Confectionery manufacturing">Confectionery manufacturing</option>');
                    typeDropdown.append('<option value="Biscuit manufacturing">Biscuit manufacturing</option>');
                    typeDropdown.append('<option value="Bakery and snack food packaging">Bakery and snack food packaging</option>');
                    typeDropdown.append('<option value="Bakery equipment manufacturing">Bakery equipment manufacturing</option>');
                    typeDropdown.append('<option value="Snack food seasoning and flavoring manufacturing">Snack food seasoning and flavoring manufacturing</option>');
                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Buildingmaterials":
                    typeDropdown.append('<option value="Cement manufacturing">Cement manufacturing</option>');
                    typeDropdown.append('<option value="Brick and tile manufacturing">Brick and tile manufacturing</option>');
                    typeDropdown.append('<option value="Glass manufacturing">Glass manufacturing</option>');
                    typeDropdown.append('<option value="Roofing materials manufacturing">Roofing materials manufacturing</option>');
                    typeDropdown.append('<option value="Insulation materials manufacturing">Insulation materials manufacturing</option>');
                    typeDropdown.append('<option value="Flooring materials manufacturing">Flooring materials manufacturing</option>');
                    typeDropdown.append('<option value="Wood products manufacturing">Wood products manufacturing</option>');
                    typeDropdown.append('<option value="Steel and metal products manufacturing">Steel and metal products manufacturing</option>');

                    $("#IndusteryProp").show();
                    break;
                case "CastingandFoundries":
                    typeDropdown.append('<option value="Iron casting">Iron casting</option>');
                    typeDropdown.append('<option value="Steel casting">Steel casting</option>');
                    typeDropdown.append('<option value="Aluminum casting">Aluminum casting</option>');
                    typeDropdown.append('<option value="Copper casting">Copper casting</option>');
                    typeDropdown.append('<option value="Investment casting">Investment casting</option>');
                    typeDropdown.append('<option value="Sand casting">Sand casting</option>');
                    typeDropdown.append('<option value="Die casting">Die casting</option>');
                    typeDropdown.append('<option value="Foundry equipment manufacturing">Foundry equipment manufacturing</option>');


                    $("#IndusteryProp").show();
                    break;
                case "ChemicalsandFertilizers":
                    typeDropdown.append('<option value="Petrochemical manufacturing">Petrochemical manufacturing</option>');
                    typeDropdown.append('<option value="Agrochemical manufacturing">Agrochemical manufacturing</option>');
                    typeDropdown.append('<option value="Specialty chemical manufacturing">Specialty chemical manufacturing</option>');
                    typeDropdown.append('<option value="Organic chemical manufacturing">Organic chemical manufacturing</option>');
                    typeDropdown.append('<option value="Inorganic chemical manufacturing">Inorganic chemical manufacturing</option>');
                    typeDropdown.append('<option value="Fertilizer manufacturing">Fertilizer manufacturing</option>');
                    typeDropdown.append('<option value="Adhesive and sealant manufacturing">Adhesive and sealant manufacturing</option>');
                    typeDropdown.append('<option value="Paint and coating manufacturing">Paint and coating manufacturing</option>');

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Cleaningmaterials":
                    typeDropdown.append('<option value="Household cleaning product manufacturing">Household cleaning product manufacturing</option>');
                    typeDropdown.append('<option value="Industrial cleaning product manufacturing">Industrial cleaning product manufacturing</option>');
                    typeDropdown.append('<option value="Laundry detergent manufacturing">Laundry detergent manufacturing</option>');
                    typeDropdown.append('<option value="Surface cleaner manufacturing">Surface cleaner manufacturing</option>');
                    typeDropdown.append('<option value="Disinfectant manufacturing">Disinfectant manufacturing</option>');
                    typeDropdown.append('<option value="Cleaning equipment manufacturing">Cleaning equipment manufacturing</option>');
                    typeDropdown.append('<option value="Cleaning chemical manufacturing">Cleaning chemical manufacturing</option>');
                    typeDropdown.append('<option value="Janitorial supplies manufacturing">Janitorial supplies manufacturing</option>');

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Cleaningsortingandprocessingofagriculturalproducts":
                    typeDropdown.append('<option value="Grain cleaning and processing">Grain cleaning and processing</option>');
                    typeDropdown.append('<option value="Fruit and vegetable sorting and processing">Fruit and vegetable sorting and processing</option>');
                    typeDropdown.append('<option value="Seed cleaning and processing">Seed cleaning and processing</option>');
                    typeDropdown.append('<option value="Nut processing">Nut processing</option>');
                    typeDropdown.append('<option value="Coffee cherries hulling">Coffee cherries hulling</option>');
                    typeDropdown.append('<option value="Green coffee bean washing">Green coffee bean washing</option>');
                    typeDropdown.append('<option value="Green coffee bean sorting and packaging">Green coffee bean sorting and packaging</option>');
                    typeDropdown.append('<option value="Rice milling and processing">Rice milling and processing</option>');

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Constructionmaterials":
                    typeDropdown.append('<option value="Concrete product manufacturing">Concrete product manufacturing</option>');
                    typeDropdown.append('<option value="Bricks and blocks manufacturing">Bricks and blocks manufacturing</option>');
                    typeDropdown.append('<option value=""></option>');
                    typeDropdown.append('<option value="Roofing materials manufacturing">Roofing materials manufacturing</option>');
                    typeDropdown.append('<option value="Insulation materials manufacturing">Insulation materials manufacturing</option>');
                    typeDropdown.append('<option value="Doors and windows manufacturing">Doors and windows manufacturing</option>');
                    typeDropdown.append('<option value="Plumbing fixtures manufacturing">Plumbing fixtures manufacturing</option>');
                    typeDropdown.append('<option value="Flooring materials manufacturing">Flooring materials manufacturing</option>');
                    typeDropdown.append('<option value="Structural steel manufacturing">Structural steel manufacturing</option>');

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Constructionmachineries":
                    typeDropdown.append('<option value="Excavator manufacturing">Excavator manufacturing</option>');
                    typeDropdown.append('<option value="Bulldozer manufacturing">Bulldozer manufacturing</option>');
                    typeDropdown.append('<option value="Crane manufacturing">Crane manufacturing</option>');
                    typeDropdown.append('<option value="Paver manufacturing">Paver manufacturing</option>');
                    typeDropdown.append('<option value="Concrete pump manufacturing">Concrete pump manufacturing</option>');
                    typeDropdown.append('<option value="Backhoe loader manufacturing">Backhoe loader manufacturing</option>');
                    typeDropdown.append('<option value="Crane manufacturing">Crane manufacturing</option>');
                    typeDropdown.append('<option value="Paver manufacturing">Paver manufacturing</option>');
                    typeDropdown.append('<option value="Concrete pump manufacturing">Concrete pump manufacturing</option>');
                    typeDropdown.append('<option value="Backhoe loader manufacturing">Backhoe loader manufacturing</option>');
                    typeDropdown.append('<option value="Construction equipment attachments manufacturing">Construction equipment attachments manufacturing</option>');
                    typeDropdown.append('<option value="Road roller manufacturing">Road roller manufacturing</option>');

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "CosmeticsandPerfumes":
                    typeDropdown.append('<option value="Skincare product manufacturing">Skincare product manufacturing</option>');
                    typeDropdown.append('<option value="Makeup product manufacturing">Makeup product manufacturing</option>');
                    typeDropdown.append('<option value="Haircare product manufacturing">Haircare product manufacturing</option>');
                    typeDropdown.append('<option value="Fragrance manufacturing">Fragrance manufacturing</option>');
                    typeDropdown.append('<option value="Personal care product manufacturing">Personal care product manufacturing</option>');
                    typeDropdown.append('<option value="Cosmetics packaging manufacturing">Cosmetics packaging manufacturing</option>');
                    typeDropdown.append('<option value="Cosmetic tools and accessories manufacturing">Cosmetic tools and accessories manufacturing</option>');
                    typeDropdown.append('<option value="Cosmeceutical manufacturing">Cosmeceutical manufacturing</option>');

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Defenseequipment":
                    typeDropdown.append('<option value="Military vehicle manufacturing">Military vehicle manufacturing</option>');
                    typeDropdown.append('<option value="Aircraft and aerospace systems manufacturing">Aircraft and aerospace systems manufacturing</option>');
                    typeDropdown.append('<option value="Naval vessel manufacturing">Naval vessel manufacturing</option>');
                    typeDropdown.append('<option value="Weapons and ammunition manufacturing">Weapons and ammunition manufacturing</option>');
                    typeDropdown.append('<option value="Radar and electronic systems manufacturing">Radar and electronic systems manufacturing</option>');
                    typeDropdown.append('<option value="Communication systems manufacturing">Communication systems manufacturing</option>');
                    typeDropdown.append('<option value="Protective gear and armor manufacturing">Protective gear and armor manufacturing</option>');
                    typeDropdown.append('<option value="Military optics and targeting systems manufacturing">Military optics and targeting systems manufacturing</option>');


                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Edibleoil":
                    typeDropdown.append('<option value="Vegetable oil refining and processing">Vegetable oil refining and processing</option>');
                    typeDropdown.append('<option value="Olive oil production">Olive oil production</option>');
                    typeDropdown.append('<option value="Seed oil production">Seed oil production</option>');
                    typeDropdown.append('<option value="Nut oil production">Nut oil production</option>');
                    typeDropdown.append('<option value="Specialty oil production (e.g., avocado oil)">Specialty oil production (e.g., avocado oil)</option>');
                    typeDropdown.append('<option value="Edible oil packaging">Edible oil packaging</option>');
                    
                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Electricalequipment":
                    typeDropdown.append('<option value="Transformer manufacturing">Transformer manufacturing</option>');
                    typeDropdown.append('<option value="Switchgear and control panel manufacturing">Switchgear and control panel manufacturing</option>');
                    typeDropdown.append('<option value="Electrical motor manufacturing">Electrical motor manufacturing</option>');
                    typeDropdown.append('<option value="Power distribution equipment manufacturing">Power distribution equipment manufacturing</option>');
                    typeDropdown.append('<option value="Wiring device and electrical connector manufacturing">Wiring device and electrical connector manufacturing</option>');
                    typeDropdown.append('<option value="Electrical cable and wire manufacturing">Electrical cable and wire manufacturing</option>');
                    typeDropdown.append('<option value="Circuit breaker and fuse manufacturing">Circuit breaker and fuse manufacturing</option>');
                    typeDropdown.append('<option value="Electrical component manufacturing">Electrical component manufacturing</option>');

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Electronics":
                    typeDropdown.append('<option value="Consumer electronics manufacturing">Consumer electronics manufacturing</option>');
                    typeDropdown.append('<option value="Semiconductor manufacturing">Semiconductor manufacturing</option>');
                    typeDropdown.append('<option value="Printed circuit board (PCB) manufacturing">Printed circuit board (PCB) manufacturing</option>');
                    typeDropdown.append('<option value="Electronic component manufacturing">Electronic component manufacturing</option>');
                    typeDropdown.append('<option value="Communication equipment manufacturing">Communication equipment manufacturing</option>');
                    typeDropdown.append('<option value="Medical electronics manufacturing">Medical electronics manufacturing</option>');
                    typeDropdown.append('<option value="Automotive electronics manufacturing">Automotive electronics manufacturing</option>')
                    typeDropdown.append('<option value="Electronic assembly and testing">Electronic assembly and testing</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Energy":
                    typeDropdown.append('<option value="Renewable energy equipment manufacturing (solar, wind, hydro)">Renewable energy equipment manufacturing (solar, wind, hydro)</option>')
                    typeDropdown.append('<option value="Power generation equipment manufacturing">Power generation equipment manufacturing</option>')
                    typeDropdown.append('<option value="Energy storage system manufacturing">Energy storage system manufacturing</option>')
                    typeDropdown.append('<option value="Transmission and distribution equipment manufacturing">Transmission and distribution equipment manufacturing</option>')

                    typeDropdown.append('<option value="Energy management systems manufacturing">Energy management systems manufacturing</option>')
                    typeDropdown.append('<option value="Energy metering and monitoring equipment manufacturing">Energy metering and monitoring equipment manufacturing</option>')
                    typeDropdown.append('<option value="Energy efficiency solutions manufacturing">Energy efficiency solutions manufacturing</option>')
                    typeDropdown.append('<option value="Power plant construction and equipment manufacturing">Power plant construction and equipment manufacturing</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "FirearmandAmmunition":
                    typeDropdown.append('<option value="Firearm manufacturing">Firearm manufacturing</option>')
                    typeDropdown.append('<option value="Ammunition manufacturing">Ammunition manufacturing</option>')
                    typeDropdown.append('<option value="Firearm components manufacturing">Firearm components manufacturing</option>')
                    typeDropdown.append('<option value="Firearm accessories manufacturing">Firearm accessories manufacturing</option>')
                    typeDropdown.append('<option value="Firearm barrel manufacturing">Firearm barrel manufacturing</option>')
                    typeDropdown.append('<option value="Firearm optics and sights manufacturing">Firearm optics and sights manufacturing</option>')
                    typeDropdown.append('<option value="Ammunition reloading equipment manufacturing">Ammunition reloading equipment manufacturing</option>')
                    typeDropdown.append('<option value="Shooting range equipment manufacturing">Shooting range equipment manufacturing</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Foodprocessing":
                    typeDropdown.append('<option value="Fruit and vegetable processing">Fruit and vegetable processing</option>')
                    typeDropdown.append('<option value="Meat processing">Meat processing</option>')
                    typeDropdown.append('<option value="Dairy product processing">Dairy product processing</option>')
                    typeDropdown.append('<option value="Grain milling and processing">Grain milling and processing</option>')
                    typeDropdown.append('<option value="Snack food processing">Snack food processing</option>')
                    typeDropdown.append('<option value="Frozen food processing">Frozen food processing</option>')
                    typeDropdown.append('<option value="Canned food processing">Canned food processing</option>')
                    typeDropdown.append('<option value="Food packaging and labeling">Food packaging and labeling</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Fruitsandvegetables":
                    typeDropdown.append('<option value="Fresh Produce Sorting and Grading">Fresh Produce Sorting and Grading</option>')
                    typeDropdown.append('<option value="Fruit and Vegetable Processing">Fruit and Vegetable Processing</option>')
                    typeDropdown.append('<option value="Fruit and Vegetable Juices and Concentrates">Fruit and Vegetable Juices and Concentrates</option>')
                    typeDropdown.append('<option value="Frozen Fruits and Vegetables">Frozen Fruits and Vegetables</option>')
                    typeDropdown.append('<option value="Fruit and Vegetable Snacks">Fruit and Vegetable Snacks</option>')
                    typeDropdown.append('<option value="Fruit and Vegetable Sauces and Condiments">Fruit and Vegetable Sauces and Condiments</option>')
                    typeDropdown.append('<option value="Fruit and Vegetable Extracts and Powders">Fruit and Vegetable Extracts and Powders</option>')
                    typeDropdown.append('<option value="Fruit and Vegetable Packaging">Fruit and Vegetable Packaging</option>')
                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Garment":
                    typeDropdown.append('<option value="Clothing manufacturing">Clothing manufacturing</option>')
                    typeDropdown.append('<option value="Apparel accessories manufacturing">Apparel accessories manufacturing</option>')
                    typeDropdown.append('<option value="Textile printing and dyeing">Textile printing and dyeing</option>')
                    typeDropdown.append('<option value="Sewing and stitching services">Sewing and stitching services</option>')
                    typeDropdown.append('<option value="Embroidery and embellishment services">Embroidery and embellishment services</option>')
                    typeDropdown.append('<option value="Apparel pattern making and grading">Apparel pattern making and grading</option>')
                    typeDropdown.append('<option value="Garment washing and finishing">Garment washing and finishing</option>')
                    typeDropdown.append('<option value="Garment packaging and labeling">Garment packaging and labeling</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Glass":
                    typeDropdown.append('<option value="Flat glass manufacturing">Flat glass manufacturing</option>')
                    typeDropdown.append('<option value="Glass container manufacturing">Glass container manufacturing</option>')
                    typeDropdown.append('<option value="Fiberglass manufacturing">Fiberglass manufacturing</option>')
                    typeDropdown.append('<option value="Glassware manufacturing">Glassware manufacturing</option>')
                    typeDropdown.append('<option value="Automotive glass manufacturing">Automotive glass manufacturing</option>')
                    typeDropdown.append('<option value="Glass fiber manufacturing">Glass fiber manufacturing</option>')
                    typeDropdown.append('<option value="Glass cutting and processing">Glass cutting and processing</option>')
                    typeDropdown.append('<option value="Glass coating and laminating">Glass coating and laminating</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "HerbalandMedicinalProduct":
                    typeDropdown.append('<option value="Herbal medicine manufacturing">Herbal medicine manufacturing</option>')
                    typeDropdown.append('<option value="Traditional medicine manufacturing">Traditional medicine manufacturing</option>')
                    typeDropdown.append('<option value="Herbal supplements manufacturing">Herbal supplements manufacturing</option>')
                    typeDropdown.append('<option value="Herbal skincare products manufacturing">Herbal skincare products manufacturing</option>')
                    typeDropdown.append('<option value="Herbal extracts and tinctures manufacturing">Herbal extracts and tinctures manufacturing</option>')
                    typeDropdown.append('<option value="Medicinal tea manufacturing">Medicinal tea manufacturing</option>')
                    typeDropdown.append('<option value="Herbal product packaging">Herbal product packaging</option>')
                    typeDropdown.append('<option value="Herbal product research and development">Herbal product research and development</option>')


                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Homeappliances":
                    typeDropdown.append('<option value="Kitchen appliances manufacturing">Kitchen appliances manufacturing</option>')
                    typeDropdown.append('<option value="Laundry appliances manufacturing">Laundry appliances manufacturing</option>')
                    typeDropdown.append('<option value="Refrigeration appliances manufacturing">Refrigeration appliances manufacturing</option>')
                    typeDropdown.append('<option value="Heating and cooling appliances manufacturing">Heating and cooling appliances manufacturing</option>')
                    typeDropdown.append('<option value="Cleaning appliances manufacturing">Cleaning appliances manufacturing</option>')
                    typeDropdown.append('<option value="Small home appliances manufacturing">Small home appliances manufacturing</option>')
                    typeDropdown.append('<option value="Smart home appliances manufacturing">Smart home appliances manufacturing</option>')
                    typeDropdown.append('<option value="Home appliance parts manufacturing">Home appliance parts manufacturing</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "HoneyandBeeProductsProcessing":
                    typeDropdown.append('<option value="Honey extraction and processing">Honey extraction and processing</option>')
                    typeDropdown.append('<option value="Beeswax production and processing">Beeswax production and processing</option>')
                    typeDropdown.append('<option value="Royal jelly production and processing">Royal jelly production and processing</option>')
                    typeDropdown.append('<option value="Propolis production and processing">Propolis production and processing</option>')
                    typeDropdown.append('<option value="Pollen collection and processing">Pollen collection and processing</option>')
                    typeDropdown.append('<option value="Honey and bee products packaging">Honey and bee products packaging</option>')
                    typeDropdown.append('<option value="Beekeeping equipment manufacturing">Beekeeping equipment manufacturing</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "HouseholdandPersonalProducts":
                    typeDropdown.append('<option value="Cleaning product manufacturing">Cleaning product manufacturing</option>')
                    typeDropdown.append('<option value="Personal care product manufacturing">Personal care product manufacturing</option>')
                    typeDropdown.append('<option value="Laundry detergent manufacturing">Laundry detergent manufacturing</option>')
                    typeDropdown.append('<option value="Air freshener manufacturing">Air freshener manufacturing</option>')
                    typeDropdown.append('<option value="Dishwashing product manufacturing">Dishwashing product manufacturing</option>')
                    typeDropdown.append('<option value="Personal hygiene product manufacturing">Personal hygiene product manufacturing</option>')
                    typeDropdown.append('<option value="Insect repellent manufacturing">Insect repellent manufacturing</option>')
                    typeDropdown.append('<option value="Household and personal product packaging">Household and personal product packaging</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "ICTequipment":
                    typeDropdown.append('<option value="Computer hardware manufacturing">Computer hardware manufacturing</option>')
                    typeDropdown.append('<option value="Telecommunications equipment manufacturing">Telecommunications equipment manufacturing</option>')
                    typeDropdown.append('<option value="Data storage device manufacturing">Data storage device manufacturing</option>')
                    typeDropdown.append('<option value="Server and data center equipment manufacturing">Server and data center equipment manufacturing</option>')
                    typeDropdown.append('<option value="Mobile device manufacturing">Mobile device manufacturing</option>')
                    typeDropdown.append('<option value="ICT peripherals manufacturing">ICT peripherals manufacturing</option>')
                    typeDropdown.append('<option value="ICT equipment assembly and testing">ICT equipment assembly and testing</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;

                case "Industrialequipment":
                    typeDropdown.append('<option value="Heavy machinery manufacturing">Heavy machinery manufacturing</option>')
                    typeDropdown.append('<option value="Industrial automation equipment manufacturing">Industrial automation equipment manufacturing</option>')
                    typeDropdown.append('<option value="Material handling equipment manufacturing">Material handling equipment manufacturing</option>')
                    typeDropdown.append('<option value="Industrial pumps and compressors manufacturing">Industrial pumps and compressors manufacturing</option>')
                    typeDropdown.append('<option value="Industrial filtration and separation equipment manufacturing">Industrial filtration and separation equipment manufacturing</option>')
                    typeDropdown.append('<option value="Industrial heating and cooling equipment manufacturing">Industrial heating and cooling equipment manufacturing</option>')
                    typeDropdown.append('<option value="Industrial mixing and blending equipment manufacturing">Industrial mixing and blending equipment manufacturing</option>')
                    typeDropdown.append('<option value="Industrial equipment maintenance and repair services">Industrial equipment maintenance and repair services</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Leatherandleatherproducts":
                    typeDropdown.append('<option value="Leather goods manufacturing (bags, belts, wallets)">Leather goods manufacturing (bags, belts, wallets)</option>')
                    typeDropdown.append('<option value="Footwear manufacturing">Footwear manufacturing</option>')
                    typeDropdown.append('<option value="Leather garment manufacturing">Leather garment manufacturing</option>')
                    typeDropdown.append('<option value="Leather upholstery manufacturing">Leather upholstery manufacturing</option>')
                    typeDropdown.append('<option value="Leather accessories manufacturing">Leather accessories manufacturing</option>')
                    typeDropdown.append('<option value="Leather tanning and processing">Leather tanning and processing</option>')
                    typeDropdown.append('<option value="Leather care and maintenance products manufacturing">Leather care and maintenance products manufacturing</option>')
                    typeDropdown.append('<option value="Leather and leather products export and distribution">Leather and leather products export and distribution</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();

                    break;
                case "Marine":
                    typeDropdown.append('<option value="Shipbuilding">Shipbuilding</option>')
                    typeDropdown.append('<option value="Boat manufacturing">Boat manufacturing</option>')
                    typeDropdown.append('<option value="Marine engine manufacturing">Marine engine manufacturing</option>')
                    typeDropdown.append('<option value="Marine electronics manufacturing">Marine electronics manufacturing</option>')
                    typeDropdown.append('<option value="Marine propulsion systems manufacturing">Marine propulsion systems manufacturing</option>')
                    typeDropdown.append('<option value="Marine safety equipment manufacturing">Marine safety equipment manufacturing</option>')
                    typeDropdown.append('<option value="Marine navigation and communication equipment manufacturing">Marine navigation and communication equipment manufacturing</option>')
                    typeDropdown.append('<option value="Marine vessel repair and maintenance services">Marine vessel repair and maintenance services</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();

                    break;
                case "Railway":
                    typeDropdown.append('<option value="Locomotive manufacturing">Locomotive manufacturing</option>')
                    typeDropdown.append('<option value="Railway rolling stock manufacturing">Railway rolling stock manufacturing</option>')
                    typeDropdown.append('<option value="Railway signaling and control systems manufacturing">Railway signaling and control systems manufacturing</option>')
                    typeDropdown.append('<option value="Railway track and infrastructure manufacturing">Railway track and infrastructure manufacturing</option>')
                    typeDropdown.append('<option value="Railway maintenance equipment manufacturing">Railway maintenance equipment manufacturing</option>')
                    typeDropdown.append('<option value="Railway electrical systems manufacturing">Railway electrical systems manufacturing</option>')
                    typeDropdown.append('<option value="Railway passenger and freight car manufacturing">Railway passenger and freight car manufacturing</option>')
                    typeDropdown.append('<option value="Railway transportation services">Railway transportation services</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();

                    break;
                case "Constructionmachinery":
                    typeDropdown.append('<option value="Excavator manufacturing">Excavator manufacturing</option>');
                    typeDropdown.append('<option value="Bulldozer manufacturing">Bulldozer manufacturing</option>');
                    typeDropdown.append('<option value="Crane manufacturing">Crane manufacturing</option>')
                    typeDropdown.append('<option value="Paver manufacturing">Paver manufacturing</option>')
                    typeDropdown.append('<option value="Concrete pump manufacturing">Concrete pump manufacturing</option>')
                    typeDropdown.append('<option value="Backhoe loader manufacturing">Backhoe loader manufacturing</option>')
                    typeDropdown.append('<option value="Construction equipment attachments manufacturing">Construction equipment attachments manufacturing</option>')
                    typeDropdown.append('<option value="Road roller manufacturing">Road roller manufacturing</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();

                    break;
                case "Medicaldevicesandequipment":
                    typeDropdown.append('<option value="Surgical instrument manufacturing">Surgical instrument manufacturing</option>')
                    typeDropdown.append('<option value="Imaging and diagnostic equipment manufacturing">Imaging and diagnostic equipment manufacturing</option>')
                    typeDropdown.append('<option value="Patient monitoring equipment manufacturing">Patient monitoring equipment manufacturing</option>')
                    typeDropdown.append('<option value="Medical laboratory equipment manufacturing">Medical laboratory equipment manufacturing</option>')
                    typeDropdown.append('<option value="Medical consumables manufacturing">Medical consumables manufacturing</option>')
                    typeDropdown.append('<option value="Dental equipment manufacturing">Dental equipment manufacturing</option>')
                    typeDropdown.append('<option value="Rehabilitation and mobility aids manufacturing">Rehabilitation and mobility aids manufacturing</option>')
                    typeDropdown.append('<option value="Medical device packaging and sterilization">Medical device packaging and sterilization</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;

                case "MetalFabricationandMachining":
                    typeDropdown.append('<option value="Sheet metal fabrication">Sheet metal fabrication</option>')
                    typeDropdown.append('<option value="Welding and metal joining services">Welding and metal joining services</option>')
                    typeDropdown.append('<option value="CNC machining services">CNC machining services</option>')
                    typeDropdown.append('<option value="Metal stamping and forming">Metal stamping and forming</option>')
                    typeDropdown.append('<option value="Metal casting">Metal casting</option>')
                    typeDropdown.append('<option value="Metal cutting and sawing services">Metal cutting and sawing services</option>')
                    typeDropdown.append('<option value="Metal surface treatment and finishing">Metal surface treatment and finishing</option>')
                    typeDropdown.append('<option value="Metal fabrication tool and equipment manufacturing">Metal fabrication tool and equipment manufacturing</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "MetalFinishingandCoating":
                    typeDropdown.append('<option value="Surface coating and painting services">Surface coating and painting services</option>')
                    typeDropdown.append('<option value="Electroplating and metal plating services">Electroplating and metal plating services</option>')
                    typeDropdown.append('<option value="Powder coating services">Powder coating services</option>')
                    typeDropdown.append('<option value="Anodizing services">Anodizing services</option>')
                    typeDropdown.append('<option value="Galvanizing services">Galvanizing services</option>')
                    typeDropdown.append('<option value="Metal polishing and buffing services">Metal polishing and buffing services</option>')
                    typeDropdown.append('<option value="Metal passivation services">Metal passivation services</option>')
                    typeDropdown.append('<option value="Metal surface treatment chemicals manufacturing">Metal surface treatment chemicals manufacturing</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "MetalRecycling":
                    typeDropdown.append('<option value="Scrap metal collection and processing">Scrap metal collection and processing</option>')
                    typeDropdown.append('<option value="Metal shredding and sorting">Metal shredding and sorting</option>')
                    typeDropdown.append('<option value="Ferrous metal recycling">Ferrous metal recycling</option>')
                    typeDropdown.append('<option value="Non-ferrous metal recycling">Non-ferrous metal recycling</option>')
                    typeDropdown.append('<option value="Metal alloy recycling">Metal alloy recycling</option>')
                    typeDropdown.append('<option value="Metal smelting and refining services">Metal smelting and refining services</option>')
                    typeDropdown.append('<option value="Metal waste management and disposal">Metal waste management and disposal</option>')
                    typeDropdown.append('<option value="Metal recycling equipment manufacturing">Metal recycling equipment manufacturing</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "MetalWork":
                    typeDropdown.append('<option value="Metal forging and pressing">Metal forging and pressing</option>')
                    typeDropdown.append('<option value="Metal machining and turning">Metal machining and turning</option>')
                    typeDropdown.append('<option value="Metal welding and fabrication">Metal welding and fabrication</option>')
                    typeDropdown.append('<option value="Metal bending and forming">Metal bending and forming</option>')
                    typeDropdown.append('<option value="Metal cutting and shearing">Metal cutting and shearing</option>')
                    typeDropdown.append('<option value="Metal drilling and tapping">Metal drilling and tapping</option>')
                    typeDropdown.append('<option value="Metal punching and stamping">Metal punching and stamping</option>')
                    typeDropdown.append('<option value="Metal assembly and sub-assembly">Metal assembly and sub-assembly</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "MiningandQuarrying":
                    typeDropdown.append('<option value="Coal mining">Coal mining</option>')
                    typeDropdown.append('<option value="Metal ore mining">Metal ore mining</option>')
                    typeDropdown.append('<option value="Stone quarrying">Stone quarrying</option>')
                    typeDropdown.append('<option value="Mineral extraction and processing">Mineral extraction and processing</option>')
                    typeDropdown.append('<option value="Sand and gravel mining">Sand and gravel mining</option>')
                    typeDropdown.append('<option value="Salt mining">Salt mining</option>')
                    typeDropdown.append('<option value="Phosphate mining">Phosphate mining</option>')
                    typeDropdown.append('<option value="Mining equipment manufacturing">Mining equipment manufacturing</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Motorvehicle":
                    typeDropdown.append('<option value="Passenger car manufacturing">Passenger car manufacturing</option>')
                    typeDropdown.append('<option value="Commercial vehicle manufacturing">Commercial vehicle manufacturing</option>')
                    typeDropdown.append('<option value="Electric vehicle manufacturing">Electric vehicle manufacturing</option>')
                    typeDropdown.append('<option value="Automotive component manufacturing">Automotive component manufacturing</option>')
                    typeDropdown.append('<option value="Automotive assembly and testing">Automotive assembly and testing</option>')
                    typeDropdown.append('<option value="Automotive chassis and body manufacturing">Automotive chassis and body manufacturing</option>')
                    typeDropdown.append('<option value="Automotive engine manufacturing">Automotive engine manufacturing</option>')
                    typeDropdown.append('<option value="Automotive parts and accessories manufacturing">Automotive parts and accessories manufacturing</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Nonalcoholicbeverage":
                    typeDropdown.append('<option value="Bottled water manufacturing">Bottled water manufacturing</option>')
                    typeDropdown.append('<option value="Soft drink manufacturing">Soft drink manufacturing</option>')
                    typeDropdown.append('<option value="Juice and beverage concentrate manufacturing">Juice and beverage concentrate manufacturing</option>')
                    typeDropdown.append('<option value="Energy drink manufacturing">Energy drink manufacturing</option>')
                    typeDropdown.append('<option value="Ready-to-drink coffee and tea manufacturing">Ready-to-drink coffee and tea manufacturing</option>')
                    typeDropdown.append('<option value="Sports and vitamin drink manufacturing">Sports and vitamin drink manufacturing</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "NonFerrousMetals":
                    typeDropdown.append('<option value="Aluminum production and processing">Aluminum production and processing</option>')
                    typeDropdown.append('<option value="Copper production and processing">Copper production and processing</option>')
                    typeDropdown.append('<option value="Zinc production and processing">Zinc production and processing</option>')
                    typeDropdown.append('<option value="Lead production and processing">Lead production and processing</option>')
                    typeDropdown.append('<option value="Nickel production and processing">Nickel production and processing</option>')
                    typeDropdown.append('<option value="Tin production and processing">Tin production and processing</option>')
                    typeDropdown.append('<option value="Precious metal production and processing (excluding gold)">Precious metal production and processing (excluding gold)</option>')
                    typeDropdown.append('<option value="Non-ferrous metal recycling and scrap processing">Non-ferrous metal recycling and scrap processing</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "PackagingandContainers":
                    typeDropdown.append('<option value="Paper packaging manufacturing">Paper packaging manufacturing</option>')
                    typeDropdown.append('<option value="Plastic packaging manufacturing">Plastic packaging manufacturing</option>')
                    typeDropdown.append('<option value="Glass packaging manufacturing">Glass packaging manufacturing</option>')
                    typeDropdown.append('<option value="Metal packaging manufacturing">Metal packaging manufacturing</option>')
                    typeDropdown.append('<option value="Flexible packaging manufacturing">Flexible packaging manufacturing</option>')
                    typeDropdown.append('<option value="Rigid packaging manufacturing">Rigid packaging manufacturing</option>')
                    typeDropdown.append('<option value="Packaging printing and labeling">Packaging printing and labeling</option>')
                    typeDropdown.append('<option value="Packaging machinery manufacturing">Packaging machinery manufacturing</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "PetroleumandCoalProducts":
                    typeDropdown.append('<option value="Refining of crude oil">Refining of crude oil</option>')
                    typeDropdown.append('<option value="Petroleum product manufacturing (gasoline, diesel, jet fuel, etc.)">Petroleum product manufacturing (gasoline, diesel, jet fuel, etc.)</option>')
                    typeDropdown.append('<option value="Petrochemical manufacturing">Petrochemical manufacturing</option>')
                    typeDropdown.append('<option value="Asphalt manufacturing">Asphalt manufacturing</option>')
                    typeDropdown.append('<option value="Lubricant manufacturing">Lubricant manufacturing</option>')
                    typeDropdown.append('<option value="Coal processing and manufacturing">Coal processing and manufacturing</option>')
                    typeDropdown.append('<option value="Charcoal manufacturing">Charcoal manufacturing</option>')
                    typeDropdown.append('<option value="Petroleum and coal product storage and distribution">Petroleum and coal product storage and distribution</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Pharmaceuticals":
                    typeDropdown.append('<option value="Pharmaceutical research and development">Pharmaceutical research and development</option>')
                    typeDropdown.append('<option value="Pharmaceutical manufacturing">Pharmaceutical manufacturing</option>')
                    typeDropdown.append('<option value="Generic drug manufacturing">Generic drug manufacturing</option>')
                    typeDropdown.append('<option value="Biopharmaceutical manufacturing">Biopharmaceutical manufacturing</option>')
                    typeDropdown.append('<option value="Pharmaceutical packaging and labeling">Pharmaceutical packaging and labeling</option>')
                    typeDropdown.append('<option value="Pharmaceutical distribution and wholesaling">Pharmaceutical distribution and wholesaling</option>')
                    typeDropdown.append('<option value="Pharmaceutical testing and analysis">Pharmaceutical testing and analysis</option>')
                    typeDropdown.append('<option value="Pharmaceutical contract manufacturing">Pharmaceutical contract manufacturing</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "PreciousMetals":
                    typeDropdown.append('<option value="Gold mining and refining">Gold mining and refining</option>')
                    typeDropdown.append('<option value="Silver mining and refining">Silver mining and refining</option>')
                    typeDropdown.append('<option value="Platinum group metals mining and refining">Platinum group metals mining and refining</option>')
                    typeDropdown.append('<option value="Precious metal jewelry manufacturing">Precious metal jewelry manufacturing</option>')
                    typeDropdown.append('<option value="Precious metal bullion manufacturing">Precious metal bullion manufacturing</option>')
                    typeDropdown.append('<option value="Precious metal coin manufacturing">Precious metal coin manufacturing</option>')
                    typeDropdown.append('<option value="Precious metal recycling and refining">Precious metal recycling and refining</option>')
                    typeDropdown.append('<option value="Precious metal investment and trading">Precious metal investment and trading</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;

                case "PlasticsandRubber":
                    typeDropdown.append('<option value="Plastic product manufacturing">Plastic product manufacturing</option>')
                    typeDropdown.append('<option value="Plastic packaging manufacturing">Plastic packaging manufacturing</option>')
                    typeDropdown.append('<option value="Plastic film and sheet manufacturing">Plastic film and sheet manufacturing</option>')
                    typeDropdown.append('<option value="Plastic pipe and fittings manufacturing">Plastic pipe and fittings manufacturing</option>')
                    typeDropdown.append('<option value="Rubber product manufacturing">Rubber product manufacturing</option>')
                    typeDropdown.append('<option value="Rubber tire manufacturing">Rubber tire manufacturing</option>')
                    typeDropdown.append('<option value="Synthetic rubber manufacturing">Synthetic rubber manufacturing</option>')
                    typeDropdown.append('<option value="Plastic and rubber recycling">Plastic and rubber recycling</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Printingandwriting":
                    typeDropdown.append('<option value="Commercial printing services">Commercial printing services</option>')
                    typeDropdown.append('<option value="Offset printing">Offset printing</option>')
                    typeDropdown.append('<option value="Digital printing">Digital printing</option>')
                    typeDropdown.append('<option value="Screen printing">Screen printing</option>')
                    typeDropdown.append('<option value="Flexographic printing">Flexographic printing</option>')
                    typeDropdown.append('<option value="Flexographic printing">Flexographic printing</option>')
                    typeDropdown.append('<option value="Gravure printing">Gravure printing</option>')
                    typeDropdown.append('<option value="Paper and stationery manufacturing">Paper and stationery manufacturing</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Pulpandpaper":
                    typeDropdown.append('<option value="Pulp production">Pulp production</option>')
                    typeDropdown.append('<option value="Paper manufacturing">Paper manufacturing</option>')
                    typeDropdown.append('<option value="Paperboard manufacturing">Paperboard manufacturing</option>')
                    typeDropdown.append('<option value="Specialty paper manufacturing">Specialty paper manufacturing</option>')
                    typeDropdown.append('<option value="Tissue and hygiene product manufacturing">Tissue and hygiene product manufacturing</option>')
                    typeDropdown.append('<option value="Paper packaging manufacturing">Paper packaging manufacturing</option>')
                    typeDropdown.append('<option value="Paper recycling">Paper recycling</option>')
                    typeDropdown.append('<option value="Pulp and paper machinery manufacturing">Pulp and paper machinery manufacturing</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "RefrigerationandCoolingEquipment":
                    typeDropdown.append('<option value="Refrigerator manufacturing">Refrigerator manufacturing</option>')
                    typeDropdown.append('<option value="Air conditioning equipment manufacturing">Air conditioning equipment manufacturing</option>')
                    typeDropdown.append('<option value="Commercial refrigeration equipment manufacturing">Commercial refrigeration equipment manufacturing</option>')
                    typeDropdown.append('<option value="Industrial cooling systems manufacturing">Industrial cooling systems manufacturing</option>')
                    typeDropdown.append('<option value="HVAC systems manufacturing">HVAC systems manufacturing</option>')
                    typeDropdown.append('<option value="Heat pump manufacturing">Heat pump manufacturing</option>')
                    typeDropdown.append('<option value="Refrigeration and cooling equipment parts manufacturing">Refrigeration and cooling equipment parts manufacturing</option>')
                    typeDropdown.append('<option value="Refrigeration and cooling equipment installation and servicing">Refrigeration and cooling equipment installation and servicing</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Semiconductor":
                    typeDropdown.append('<option value="Semiconductor wafer fabrication">Semiconductor wafer fabrication</option>')
                    typeDropdown.append('<option value="Semiconductor packaging and testing">Semiconductor packaging and testing</option>')
                    typeDropdown.append('<option value="Integrated circuit (IC) manufacturing">Integrated circuit (IC) manufacturing</option>')
                    typeDropdown.append('<option value="Semiconductor equipment manufacturing">Semiconductor equipment manufacturing</option>')
                    typeDropdown.append('<option value="Semiconductor materials manufacturing">Semiconductor materials manufacturing</option>')
                    typeDropdown.append('<option value="Semiconductor component manufacturing">Semiconductor component manufacturing</option>')
                    typeDropdown.append('<option value="Semiconductor design and engineering services">Semiconductor design and engineering services</option>')
                    typeDropdown.append('<option value="Semiconductor research and development">Semiconductor research and development</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "SpiceandSeasoning":
                    typeDropdown.append('<option value="Spice blending and packaging">Spice blending and packaging</option>')
                    typeDropdown.append('<option value="Spice processing and grinding">Spice processing and grinding</option>')
                    typeDropdown.append('<option value="Spice extract manufacturing">Spice extract manufacturing</option>')
                    typeDropdown.append('<option value="Seasoning mix manufacturing">Seasoning mix manufacturing</option>')
                    typeDropdown.append('<option value="Herb and spice infusion manufacturing">Herb and spice infusion manufacturing</option>')
                    typeDropdown.append('<option value="Spice and seasoning distribution and wholesaling">Spice and seasoning distribution and wholesaling</option>')
                    typeDropdown.append('<option value="Spice and seasoning retail packaging">Spice and seasoning retail packaging</option>')
                    typeDropdown.append('<option value="Spice and seasoning export and distribution">Spice and seasoning export and distribution</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Sponge":
                    typeDropdown.append('<option value="Mattress manufacturing">Mattress manufacturing</option>')
                    typeDropdown.append('<option value="Mattress manufacturing">Mattress manufacturing</option>')
                    typeDropdown.append('<option value="Cleaning product manufacturing (sponges, scrubbers, etc.)">Cleaning product manufacturing (sponges, scrubbers, etc.)</option>')
                    typeDropdown.append('<option value="Automotive cleaning product manufacturing">Automotive cleaning product manufacturing</option>')
                    typeDropdown.append('<option value="Medical device manufacturing (foam padding, wound dressings, etc.)">Medical device manufacturing (foam padding, wound dressings, etc.)</option>')
                    typeDropdown.append('<option value="Soundproofing and insulation product manufacturing">Soundproofing and insulation product manufacturing</option>')
                    typeDropdown.append('<option value="Sponge and foam product packaging">Sponge and foam product packaging</option>')
                    typeDropdown.append('<option value="Sponge and foam product customization and fabrication">Sponge and foam product customization and fabrication</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Sportsandrecreation":
                    typeDropdown.append('<option value="Sports equipment manufacturing">Sports equipment manufacturing</option>')
                    typeDropdown.append('<option value="Fitness equipment manufacturing">Fitness equipment manufacturing/option>')
                    typeDropdown.append('<option value="Outdoor gear manufacturing">Outdoor gear manufacturing</option>')
                    typeDropdown.append('<option value="Athletic footwear manufacturing">Athletic footwear manufacturing</option>')
                    typeDropdown.append('<option value="Sports apparel manufacturing">Sports apparel manufacturing</option>')
                    typeDropdown.append('<option value="Sporting goods manufacturing">Sporting goods manufacturing</option>')
                    typeDropdown.append('<option value="Recreational vehicle manufacturing">Recreational vehicle manufacturing</option>')
                    typeDropdown.append('<option value="Sports and recreation product distribution">Sports and recreation product distribution</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Soapanddetergents":
                    typeDropdown.append('<option value="Soap manufacturing">Soap manufacturing</option>')
                    typeDropdown.append('<option value="Detergent manufacturing">Detergent manufacturing</option>')
                    typeDropdown.append('<option value="Laundry soap manufacturing">Laundry soap manufacturing</option>')
                    typeDropdown.append('<option value="Liquid soap manufacturing">Liquid soap manufacturing</option>')
                    typeDropdown.append('<option value="Dishwashing detergent manufacturing">Dishwashing detergent manufacturing</option>')
                    typeDropdown.append('<option value="Industrial soap and detergent manufacturing">Industrial soap and detergent manufacturing</option>')
                    typeDropdown.append('<option value="Soap and detergent packaging">Soap and detergent packaging</option>')
                    typeDropdown.append('<option value="Soap and detergent distribution and retail">Soap and detergent distribution and retail</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "SteelFabrication":
                    typeDropdown.append('<option value="Structural steel fabrication">Structural steel fabrication</option>')
                    typeDropdown.append('<option value="Steel plate fabrication">Steel plate fabrication</option>')
                    typeDropdown.append('<option value="Steel beam and column fabrication">Steel beam and column fabrication</option>')
                    typeDropdown.append('<option value="Steel bridge and infrastructure fabrication">Steel bridge and infrastructure fabrication</option>')
                    typeDropdown.append('<option value="Steel pipe and tube fabrication">Steel pipe and tube fabrication</option>')
                    typeDropdown.append('<option value="Steel staircase and railing fabrication">Steel staircase and railing fabrication</option>')
                    typeDropdown.append('<option value="Steel tank and vessel fabrication">Steel tank and vessel fabrication</option>')
                    typeDropdown.append('<option value="Steel fabrication welding and assembly">Steel fabrication welding and assembly</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "SteelRecyclingandScrapProcessing":
                    typeDropdown.append('<option value="Scrap metal collection and processing">Scrap metal collection and processing</option>')
                    typeDropdown.append('<option value="Steel scrap sorting and grading">Steel scrap sorting and grading</option>')
                    typeDropdown.append('<option value="Metal shredding and shearing">Metal shredding and shearing</option>')
                    typeDropdown.append('<option value="Ferrous metal recycling">Ferrous metal recycling</option>')
                    typeDropdown.append('<option value="Non-ferrous metal recycling">Non-ferrous metal recycling</option>')
                    typeDropdown.append('<option value="Metal smelting and refining">Metal smelting and refining</option>')
                    typeDropdown.append('<option value="Steel scrap trading and export">Steel scrap trading and export</option>')
                    typeDropdown.append('<option value="Metal waste management and disposal">Metal waste management and disposal</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "SugarandConfectionery":
                    typeDropdown.append('<option value="Sugar refining">Sugar refining</option>')
                    typeDropdown.append('<option value="Candy and confectionery manufacturing">Candy and confectionery manufacturing</option>')
                    typeDropdown.append('<option value="Chocolate manufacturing">Chocolate manufacturing</option>')
                    typeDropdown.append('<option value="Baking and pastry product manufacturing">Baking and pastry product manufacturing</option>')
                    typeDropdown.append('<option value="Sugar and confectionery packaging">Sugar and confectionery packaging</option>')
                    typeDropdown.append('<option value="Sugar substitutes and sweeteners manufacturing">Sugar substitutes and sweeteners manufacturing</option>')
                    typeDropdown.append('<option value="Sugar and confectionery distribution and retail">Sugar and confectionery distribution and retail</option>')
                    typeDropdown.append('<option value="Sugar and confectionery export and import">Sugar and confectionery export and import</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Teaprocessing":
                    typeDropdown.append('<option value="Tea cultivation and harvesting">Tea cultivation and harvesting</option>')
                    typeDropdown.append('<option value="Tea processing and manufacturing">Tea processing and manufacturing</option>')
                    typeDropdown.append('<option value="Tea blending and packaging">Tea blending and packaging</option>')
                    typeDropdown.append('<option value="Herbal tea manufacturing">Herbal tea manufacturing</option>')
                    typeDropdown.append('<option value="Instant tea manufacturing">Instant tea manufacturing</option>')
                    typeDropdown.append('<option value="Tea flavoring and infusion">Tea flavoring and infusion</option>')
                    typeDropdown.append('<option value="Tea distribution and retail">Tea distribution and retail</option>')
                    typeDropdown.append('<option value="Tea export and import">Tea export and import</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Textile":
                    typeDropdown.append('<option value="Textile fiber production (natural and synthetic)">Textile fiber production (natural and synthetic)</option>')
                    typeDropdown.append('<option value="Yarn spinning and twisting">Yarn spinning and twisting</option>')
                    typeDropdown.append('<option value="Fabric weaving and knitting">Fabric weaving and knitting</option>')
                    typeDropdown.append('<option value="Textile dyeing and printing">Textile dyeing and printing</option>')
                    typeDropdown.append('<option value="Textile finishing and coating">Textile finishing and coating</option>')
                    typeDropdown.append('<option value="Textile manufacturing (apparel, home textiles, etc.)">Textile manufacturing (apparel, home textiles, etc.)</option>')
                    typeDropdown.append('<option value="Technical textile manufacturing">Technical textile manufacturing</option>')
                    typeDropdown.append('<option value="Textile product distribution and retail">Textile product distribution and retail</option>')

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;

                    break;
                default:
                    break;
                   
            }
        }
       
        $("#categoryDropdown").change(function () {
            typeDropdown.prop("disabled", false);
            populateTypeDropdown();
        });
        populateTypeDropdown();
        var selectedType = "@Model.Type";
        var TypeDropDowns = document.getElementById("typeDropdown");
        for (var i = 0; i < TypeDropDowns.options.length; i++) {
            if (TypeDropDowns.options[i].text === selectedType) {
                TypeDropDowns.selectedIndex = i;
              
                break;
            }
        }

    });
</script>