<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - mechanical</title>
        
        <link rel="stylesheet" href="~/css/style.css" />
        @* <link rel="stylesheet" href="~/css/all.min.css" /> *@
        <link rel="stylesheet" href="~/css/adminlte.min.css" />
        <link rel="stylesheet" href="~/css/icheck-bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/mechanical.styles.css" asp-append-version="true" />
        
        <link rel="stylesheet" href="~/lib/select2/select2.min.css" />
        <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
        <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/datatable/css/buttons.bootstrap4.min.css" />
        <link rel="stylesheet" href="~/lib/datatable/css/datatables.bootstrap4.min.css" />
        <link rel="stylesheet" href="~/lib/datatable/css/responsive.bootstrap4.min.css" />
        <link rel="stylesheet" href="~/lib/overlayscrollbars/css/overlayscrollbars.min.css" />
        <link rel="stylesheet" href="~/css/layout.css" />
        <link rel="stylesheet" href="~/css/notification.css" />
        <link rel="stylesheet" href="~/css/taskmanagement.css" />

        <style>
            header {
                position: sticky;
                top: 0;
                z-index: 1000;
            }
        </style>
    </head>
    <body class="hold-transition sidebar-mini layout-fixed accent-purple"  style="font-family: 'Times New Roman', Times, serif">
        <div class="wrapper">
            <header>
                @await Html.PartialAsync("_MainHeader")
                @await Html.PartialAsync("_MainSideBar")
            </header>
            <div class="content-wrapper">
                @RenderBody()
                <aside class="control-sidebar control-sidebar-dark"></aside>
            </div>
            <footer class="main-footer">
                <div class="float-left d-none d-sm-block">
                    <b>Version</b> 3.2.0
                </div>
                <strong>&copy; 2023 - mechanical - 
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </strong>
            </footer>
        </div>
        
        <!---->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery/dist/jquery-ui.min.js"></script>

        <!-- Include Bootstrap JS and dependencies -->
        <script src="~/lib/select2/select2.min.js"></script>
        <script src="~/lib/signalr/signalr.min.js"></script>
        <script src="~/js/adminlte.min.js"></script>
        <script src="~/js/dashboard.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/chart.js/chart.min.js"></script>

        <script src="~/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/lib/toastr/toastr.min.js"></script>
        <script src="~/js/notification.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <!---->

        @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> *@

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>