@{
    @inject IHttpContextAccessor HttpContextAccessor
    var session = HttpContextAccessor.HttpContext.Session;
    var userRole = session.GetString("userRole");

}
<nav class="main-header navbar navbar-expand navbar-purple navbar-white ">
    <ul class="navbar-nav" >
        <li class="nav-item">
            <a class="nav-link " style="color:#6f42c1" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="@Url.Action("Index", "Dashboard", new { Role = userRole })" style="color:#6f42c1" class="nav-link">
                <i class="nav-icon fas fa-home"></i>
                Home
            </a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" style="color:#6f42c1" class="nav-link">Contact</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" style="color:#6f42c1" data-widget="navbar-search" href="#" role="button">
                <i class="fas fa-search"></i>
            </a>
            <div class="collapse navbar-search-block center" style="width:85%" id="navbar-search">
            @* <div class="navbar-collapse navbar-search-block" id="navbar-search"> *@
                <form class="form-inline">
                    <div class="input-group input-group-sm">
                        <label for="search-input" class="sr-only">Search</label>
                        <input id="search-input" class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button style="color:#6f42c1" class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                            <button class="btn btn-navbar" style="color:#6f42c1"  type="button" data-widget="navbar-search" data-toggle="collapse" data-target="#navbar-search">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" style="color:#6f42c1" href="#">
                <i class="far fa-comments"></i>
                <span class="badge badge-danger navbar-badge position-absolute top-0 start-100 translate-middle">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <a href="#" class="dropdown-item" >
                    <div class="media">
                        <img src="~/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                        <div class="media-body">
                            <h3 class="dropdown-item-title">
                                Brad Diesel
                                <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                            </h3>
                            <p class="text-sm">Call me whenever you can...</p>
                            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                        </div>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <div class="media">
                        <img src="~/img/avatar5.png" alt="User Avatar" class="img-size-50 img-circle mr-3">
                        <div class="media-body">
                            <h3 class="dropdown-item-title">
                                John Pierce
                                <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                            </h3>
                            <p class="text-sm">I got your message bro</p>
                            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                        </div>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <div class="media">
                        <img src="~/img/avatar5.png" alt="User Avatar" class="img-size-50 img-circle mr-3">
                        <div class="media-body">
                            <h3 class="dropdown-item-title">
                                Nora Silvester
                                <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                            </h3>
                            <p class="text-sm">The subject goes here</p>
                            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                        </div>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a id="notificationDropdown" class="nav-link" data-toggle="dropdown" href="#">
                🔔
                <span id="notificationBadge" class="badge navbar-badge badge-danger position-absolute top-0 start-100 translate-middle">
                    0
                </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
                <li>
                    <a class="dropdown-header text-center" href="/Notification">
                        <h6 style="margin: 0; font-weight: bold;">Notifications</h6>
                    </a>
                </li>
                <div id="notificationItems" class="px-3 py-2" style="max-height: 400px; overflow-y: auto;"></div>
                <li>
                    <div class="form-group row justify-content-center">
                        <a class="dropdown-item text-center flex-grow-1 col" href="/Notification/MarkAllAsRead">Mark All as Read</a>
                        <a class="dropdown-item text-center flex-grow-1 col" href="/Notification">View All</a>
                    </div>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" style="color:#6f42c1" href="#" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" style="color:#6f42c1" data-controlsidebar-slide="true" href="#" role="button">
                <i class="fas fa-th-large"></i>
            </a>
        </li>
    </ul>
</nav>
