@using mechanical.Models.Dto.UserDto
@using mechanical.Models.PCE.Dto.PCECaseDto
@using mechanical.Models.PCE.Enum.ProductionCapacity

@{
    var myPCECase = ViewData["PCECase"] as PCECaseReturntDto;
    var currentUser = ViewData["CurrentUser"] as ReturnUserDto;
    var status = ViewBag.Status as string;
    var emptyMessage = "There are no Productions found for this PCE Case.";
    var fetchUrl = "/ProductionCapacity/GetProductions?Status=" + status + "&PCECaseId=" + myPCECase.Id;

    if (!string.IsNullOrEmpty(status) && !status.Equals("All", StringComparison.OrdinalIgnoreCase))
    {
        emptyMessage = "There are no " + status + " Productions found for this PCE Case.";
    }
}

<script>

    var fetchUrl = '@Html.Raw(fetchUrl)';
    @* var fetchUrl = '@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(fetchUrl))'; *@
    var currentUserRoleName = '@Html.Raw(currentUser.Role.Name)';
    var emptyMessage = '@Html.Raw(emptyMessage)';
    
    fetch('/UserManagment/GetDistrict')
        .then(response => response.json())
        .then(data => {
            var selectOption = $('<option selected disabled></option>').attr('value', '').text('Select Valuation Center');
            $('#CenterDropdown').append(selectOption);
            data.forEach(function (district) {
                var option = $('<option></option>').attr('value', district.Id).text(district.Name);
                $('#CenterDropdown').append(option);
            });
        })
        .catch(error => {
            console.log('Error fetching District data:', error);
        });

    $('#assignButton').on('click', function () {

        var selectedPCEIds = [];

        $('.purple-checkbox:checked').each(function () {
            selectedPCEIds.push($(this).val());
        });
        if (selectedPCEIds.length === 0) {
            toastr.error('Please select at least one PCE');
        } else {
            $('#selectedPCEIds').val(selectedPCEIds.join(','));

            $('#SendForEvaluationModal').modal('show');
        }
    });

    $('#sendEvaluationButton').on('click', function () {

        var selectedPCEIds = [];

        $('.purple-checkbox:checked').each(function () {
            selectedPCEIds.push($(this).val());
        });
        if (selectedPCEIds.length === 0) {
            toastr.error('Please select at least one PCE');
        } else {
            $('#selectedPCEIds').val(selectedPCEIds.join(','));

            $('#SendForEvaluationModal').modal('show');
        }
    });

    $('#selectAllCheckbox').on('click', function () {
        var isChecked = $(this).prop('checked');
        $('.purple-checkbox').prop('checked', isChecked);
    });

    $('#Productions tbody').on('change', '.purple-checkbox', function () {
        var allChecked = $('.purple-checkbox').length === $('.purple-checkbox:checked').length;
        $('#selectAllCheckbox').prop('checked', allChecked);
    });

    $('#assignForm').submit(function (e) {
        e.preventDefault();

        var formData = new FormData(this);

        $.ajax({
            url: '/PCECaseAssignment/SendForValuation',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                toastr.success(response.message);
                loadProductions(fetchUrl, currentUserRoleName, emptyMessage);
                $('#SendForEvaluationModal').modal('hide');
                $('#assignForm')[0].reset();
            },
            error: function (xhr, textStatus, errorThrown) {
                var error = xhr.responseJSON;
                toastr.error(error.message);
            }
        });
    });
</script>
