<script>
    $(document).ready(function () {
        $.ajax({
            url: '/PCECase/GetPCERejectedCases',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#MyNewCase').DataTable({
                    data: data,
                    columns: [
                        {
                            data: 'CreationDate',
                            width: '15%',
                            render: function (data, type, row, meta) {
                                var date = new Date(data);
                                return date.toLocaleString();
                            }
                        },
                        { data: 'CaseNo', width: '10%' },
                        { data: 'ApplicantName', width: '20%' },
                        { data: 'CustomerUserId', width: '15%' },
                        { data: 'NoOfCollateral', width: '15%' },
                        { data: 'TotalNoOfCollateral', width: '15%' },
                        {
                            data: 'Id',
                            width: '10%',
                            render: function (data, type, row, meta) {
                                return '<a href="@Url.Action("PCERejectedDetail", "PCECase")?Id=' + data + '">Details | </a><a href="@Url.Action("Edit", "Case")?Id=' + data + '"> Edit | </a><a href="@Url.Action("Index", "PCECaseTimeLine")?PCECaseId=' + data + '">  <i class="nav-icon fas fa-sitemap ">  </i></a>';
                            }
                        }

                    ],
                    order: [[0, 'desc']],
                    responsive: true,
                    lengthChange: false,
                    autoWidth: false,
                    buttons: [{ extend: 'copy', title: 'RM New Case' },
                    { extend: 'csv', title: 'RM New Case' },
                    { extend: 'excel', title: 'RM New Case' },
                    { extend: 'pdf', title: 'RM New Case - pdf' },
                    { extend: 'print', title: 'RM New Case - Print' }, 'colvis']
                }).buttons().container().appendTo('#MyNewCase_wrapper .col-md-6:eq(0)');
            }
        });
    });

</script>
