@using mechanical.Models.Enum.ProductionCapcityEstimation
@using mechanical.Models.PCE.Dto.PCECaseDto
@* @model mechanical.Models.Dto.CollateralDto.CollateralPostDto; *@
@model mechanical.Models.PCE.Dto.ProductionCapacityDto.ProductionPostDto
@{
    var myCase = ViewData["pcecaseDtos"] as PCECaseReturntDto;
}


<div class="card">


    <div class="card-body">
        <table id="caseCollaterals" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th><input type="checkbox" class="form-check bg-purple" id="selectAllCheckbox"></th>
                    <th>Property Owner</th>
                    <th>Role</th>
                    <th>Production Catagory</th>
                    <th>Action</th>
                </tr>
            </thead>

        </table>
        <div class="row">
            <input asp-for="PCECaseId" value=@myCase.Id type="hidden" id="CaseId" />
          
        </div>
    </div>
</div>
