<script>
    $(document).ready(function () {
        var PCECaseId = $('#PCECaseId').val();

        function initializeDataTable(data) {
            $('#Productions').DataTable({
                language: {
                    emptyTable: "There is no production register for this PCE case. Please click the above add button to add Productions."
                },
                responsive: true,
                pageLength: 8,
                lengthChange: false,
                autoWidth: false,
                scrollX: true,
                data: data,
                columns: [
                    { data: null, render: function (data) { return data.PCE.SerialNo; }, width: '7%' },
                    { data: null, render: function (data) { return data.PCE.PropertyOwner; }, width: '7%' },
                    { data: null, render: function (data) { return data.ProductionLineOrEquipmentName }, width: '7%' },
                    { data: null, render: function (data) { return data.PCE.ManufactureYear; }, width: '7%' },
                    { data: null, render: function (data) { return data.PCE.CountryOfOrgin }, width: '7%' },
                    { data: null, render: function (data) { return data.PCE.ModelNo; }, width: '7%' },
                    { data: null, render: function (data) { return data.PCE.InvoiceNo; }, width: '7%' },
                    { data: null, render: function (data) { return data.PCE.LHCNumber; }, width: '7%' },
                    { data: null, render: function (data) { return data.PCE.Type; }, width: '7%' },
                    { data: null, render: function (data) { return data.PCE.SerialNo; }, width: '7%' },
                    { data: 'DepreciationRateApplied', width: '7%' },
                    { data: 'ActualProductionCapacity', width: '7%' },
                    { data: 'EstimatedProductionCapacity', width: '7%' },
                    { data: 'SurveyRemark', width: '7%' },
                ]
            });
        }
        function loadProductions() {
            $.ajax({
                url: '/PCECase/GetPCESummary?PCECaseId=' + PCECaseId,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if ($.fn.DataTable.isDataTable('#Productions')) {
                        $('#Productions').DataTable().destroy();
                    }

                    if (data && data.length > 0) {
                        initializeDataTable(data);
                    } else {
                        $('#Productions tbody').html('<tr><td colspan="14" class="text-center">There are no Productions.</td></tr>');
                    }
                },
                error: function (error) {
                    toastr.error("Failed to load Productions");
                    console.log(error);
                }
            });
        }

        loadProductions();
    });
</script>