<script src="~/lib/datatable/js/jquery.datatables.min.js"></script>
<script src="~/lib/datatable/js/datatables.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/datatables.responsive.min.js"></script>
<script src="~/lib/datatable/js/responsive.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/datatables.buttons.min.js"></script>
<script src="~/lib/datatable/js/buttons.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/jszip.min.js"></script>
<script src="~/lib/datatable/js/pdfmake.min.js"></script>
<script src="~/lib/datatable/js/vfs_fonts.js"></script>
<script src="~/lib/datatable/js/buttons.html5.min.js"></script>
<script src="~/lib/datatable/js/buttons.print.min.js"></script>
<script src="~/lib/datatable/js/buttons.colvis.min.js"></script>
<script src="~/lib/toastr/toastr.min.js"></script>
<script>




    $(document).ready(function () {
        $.ajax({
            url: '/Signature/Details',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                $('#mysignatureDatatable').DataTable({
                    data: data,
                    columns: [
                        { data: 'Emp_Id' },
                        {
                            data: 'CreatedDate',
                            width: '15%',
                            render: function (data, type, row, meta) {
                                var date = new Date(data);
                                return date.toLocaleString();
                            }
                        },

                         {
                            data: 'SignatureFileId',
                            width: '10%',
                            render: function (data) {
                                return '<a href="/UploadFile/ViewFile/' + data + '" target="_blank">View <i class="fas fas-solid fa-eye"></i></a>&nbsp;|&nbsp;<a href="/UploadFile/DownloadFile/' + data  + '" target="_blank">Download <i class="fas fas-solid fa-download"></i></a></td>';
                            }
                        }

                    ],
                    order: [[1, 'desc']],
                    responsive: true,
                    lengthChange: false,
                    autoWidth: false,
                    buttons: ["copy", "csv", "excel", { extend: 'pdf', title: 'My Case - pdf' }, { extend: 'print', title: 'My Case - Print' }, "colvis"]
                }).buttons().container().appendTo('#mysignatureDatatable_wrapper .col-md-6:eq(0)');
            }
        });
        function downloadfile(data) {
            // Your AJAX request code here
            $.ajax({
                url: '/Signature/DownloadFile',
                type: 'POST',
                data: {
                    id: data
                },
                success: function (response) {

                },
                error: function (error) {

                }
            });
        }
    });
</script>

                   