<script src="~/lib/datatable/js/jquery.datatables.min.js"></script>
<script src="~/lib/datatable/js/datatables.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/datatables.responsive.min.js"></script>
<script src="~/lib/datatable/js/responsive.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/datatables.buttons.min.js"></script>
<script src="~/lib/datatable/js/buttons.bootstrap4.min.js"></script>
<script src="~/lib/datatable/js/jszip.min.js"></script>
<script src="~/lib/datatable/js/pdfmake.min.js"></script>
<script src="~/lib/datatable/js/vfs_fonts.js"></script>
<script src="~/lib/datatable/js/buttons.html5.min.js"></script>
<script src="~/lib/datatable/js/buttons.print.min.js"></script>
<script src="~/lib/datatable/js/buttons.colvis.min.js"></script>

<script>
    $(document).ready(function () {
        var selectedCategory = document.getElementById("selectedCategory").value;

        var categoryDropdown = document.getElementById("categoryDropdown");
        for (var i = 0; i < categoryDropdown.options.length; i++) {
            if (categoryDropdown.options[i].text === selectedCategory) {
                categoryDropdown.selectedIndex = i;
                break;
            }
        }
        var typeDropdown = $("#typeDropdown");
        function populateTypeDropdown() {
            var category = $("#categoryDropdown").val();
            typeDropdown = $("#typeDropdown");
            typeDropdown.empty();
            typeDropdown.append('<option value = "" disabled selected > Select Equipment Type </option>');
                switch (category) {
                case "Aerospace":

                    // Append the enum values to the dropdown
                    // typeDropdown.append(Enum.GetValues(typeof(Aerospace))
                    //     .Cast<Aerospace>()
                    //     .Select(0 => $('<option></option>').val(0.ToString()).html(o.ToString())));
                    typeDropdown.append('<option value="Aircraftmanufacturing">Aircraft manufacturing</option>');
                    typeDropdown.append('<option value="Spacecraftmanufacturing">Spacecraft manufacturing</option>');
                    typeDropdown.append('<option value="Satellitemanufacturing">Satellite manufacturing</option>');
                    typeDropdown.append('<option value="Aircraftenginemanufacturing">Aircraft engine manufacturing</option>');
                    typeDropdown.append('<option value="Avionicsmanufacturing">Avionics manufacturing</option>');
                    typeDropdown.append('<option value="Missileanddefensesystemmanufacturing">Missile and defense system manufacturing</option>');
                    typeDropdown.append('<option value="Dronemanufacturing">Drone manufacturing</option>');
                    typeDropdown.append('<option value="Aerospacecompositematerialsmanufacturing">Aerospace composite materials manufacturing</option>');
                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Agriculturalmachinery":
                    typeDropdown.append('<option value="Tractor manufacturing">Tractor manufacturing</option>');
                    typeDropdown.append('<option value="Combine harvester manufacturing">Combine harvester manufacturing</option>');
                    typeDropdown.append('<option value="Irrigation equipment manufacturing">Irrigation equipment manufacturing</option>');
                    typeDropdown.append('<option value="Seed processing equipment manufacturing">Seed processing equipment manufacturing</option>');
                    typeDropdown.append('<option value="Livestock equipment manufacturing"> Livestock equipment manufacturing</option>');
                    typeDropdown.append('<option value="Farm implement manufacturing">Farm implement manufacturing</option>');
                    typeDropdown.append('<option value="Farm implement manufacturing">Farm implement manufacturing</option>');
                    typeDropdown.append('<option value="Precision agriculture technology manufacturing">Precision agriculture technology manufacturing</option>');
                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Alcoholicbeverage":
                    typeDropdown.append('<option value="Brewery">Brewery</option>');
                    typeDropdown.append('<option value="Winery">Winery</option>');
                    typeDropdown.append('<option value="Distillery">Distillery</option>');
                    typeDropdown.append('<option value="Cider production">Cider production</option>');
                    typeDropdown.append('<option value="Craft beer production">Craft beer production</option>');
                    typeDropdown.append('<option value="Spirit production">Spirit production</option>');
                    typeDropdown.append('<option value="Wine bottling and packaging">Wine bottling and packaging</option>');
                    typeDropdown.append('<option value="Alcoholic beverage labeling">Alcoholic beverage labeling</option>');
                    typeDropdown.append('<option value="Alcoholic beverage labeling">Alcoholic beverage labeling</option>');
                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Animalfeed":
                    typeDropdown.append('<option value="Livestock feed manufacturing">Livestock feed manufacturing</option>');
                    typeDropdown.append('<option value="Pet food manufacturing">Pet food manufacturing</option>');
                    typeDropdown.append('<option value="Aqua feed manufacturing">Aqua feed manufacturing</option>');
                    typeDropdown.append('<option value="Poultry feed manufacturing">Poultry feed manufacturing</option>');
                    typeDropdown.append('<option value="Dairy feed manufacturing">Dairy feed manufacturing</option>');
                    typeDropdown.append('<option value="Feed additives manufacturing">Feed additives manufacturing</option>');
                    typeDropdown.append('<option value="Feed premix manufacturing">Feed premix manufacturing</option>');
                    typeDropdown.append('<option value="Feed processing equipment manufacturing">Feed processing equipment manufacturing</option>');
                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Artsandentertainment":
                    typeDropdown.append('<option value="Film production">Film production</option>');
                    typeDropdown.append('<option value="Music instrument manufacturing">Music instrument manufacturing</option>');
                    typeDropdown.append('<option value="Toy manufacturing">Toy manufacturing</option>');
                    typeDropdown.append('<option value="Costume and prop manufacturing">Costume and prop manufacturing</option>');
                    typeDropdown.append('<option value="Stage equipment manufacturing">Stage equipment manufacturing</option>');
                    typeDropdown.append('<option value="Recording studio equipment manufacturing">Recording studio equipment manufacturing</option>');
                    typeDropdown.append('<option value="Event production equipment manufacturing">Event production equipment manufacturing</option>');
                    typeDropdown.append('<option value="Art and entertainment software development">Art and entertainment software development</option>');

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Automotiveparts":
                    typeDropdown.append('<option value="Engine parts manufacturing">Engine parts manufacturing</option>');
                    typeDropdown.append('<option value="Brake system manufacturing">Brake system manufacturing</option>');
                    typeDropdown.append('<option value="Electrical components manufacturing">Electrical components manufacturing</option>');
                    typeDropdown.append('<option value="Transmission and drivetrain manufacturing"Transmission and drivetrain manufacturing></option>');
                    typeDropdown.append('<option value="Exhaust system manufacturing">Exhaust system manufacturing</option>');
                    typeDropdown.append('<option value="Automotive electronics manufacturing">Automotive electronics manufacturing</option>');
                    typeDropdown.append('<option value="Automotive glass manufacturing">Automotive glass manufacturing</option>');
                    typeDropdown.append('<option value="Automotive seating and interiors manufacturing">Automotive seating and interiors manufacturing</option>');
                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "BakerandSnackFood":
                    typeDropdown.append('<option value="Bread and pastry manufacturing">Bread and pastry manufacturing</option>');
                    typeDropdown.append('<option value="Snack food manufacturing">Snack food manufacturing</option>');
                    typeDropdown.append('<option value="Tortilla and chip manufacturing">Tortilla and chip manufacturing</option>');
                    typeDropdown.append('<option value="Confectionery manufacturing">Confectionery manufacturing</option>');
                    typeDropdown.append('<option value="Biscuit manufacturing">Biscuit manufacturing</option>');
                    typeDropdown.append('<option value="Bakery and snack food packaging">Bakery and snack food packaging</option>');
                    typeDropdown.append('<option value="Bakery equipment manufacturing">Bakery equipment manufacturing</option>');
                    typeDropdown.append('<option value="Snack food seasoning and flavoring manufacturing">Snack food seasoning and flavoring manufacturing</option>');
                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Buildingmaterials":
                    typeDropdown.append('<option value="Cement manufacturing">Cement manufacturing</option>');
                    typeDropdown.append('<option value="Brick and tile manufacturing">Brick and tile manufacturing</option>');
                    typeDropdown.append('<option value="Glass manufacturing">Glass manufacturing</option>');
                    typeDropdown.append('<option value="Roofing materials manufacturing">Roofing materials manufacturing</option>');
                    typeDropdown.append('<option value="Insulation materials manufacturing">Insulation materials manufacturing</option>');
                    typeDropdown.append('<option value="Flooring materials manufacturing">Flooring materials manufacturing</option>');
                    typeDropdown.append('<option value="Wood products manufacturing">Wood products manufacturing</option>');
                    typeDropdown.append('<option value="Steel and metal products manufacturing">Steel and metal products manufacturing</option>');

                    $("#IndusteryProp").show();
                    break;
                case "CastingandFoundries":
                    typeDropdown.append('<option value="Iron casting">Iron casting</option>');
                    typeDropdown.append('<option value="Steel casting">Steel casting</option>');
                    typeDropdown.append('<option value="Aluminum casting">Aluminum casting</option>');
                    typeDropdown.append('<option value="Copper casting">Copper casting</option>');
                    typeDropdown.append('<option value="Investment casting">Investment casting</option>');
                    typeDropdown.append('<option value="Sand casting">Sand casting</option>');
                    typeDropdown.append('<option value="Die casting">Die casting</option>');
                    typeDropdown.append('<option value="Foundry equipment manufacturing">Foundry equipment manufacturing</option>');


                    $("#IndusteryProp").show();
                    break;
                case "ChemicalsandFertilizers":
                    typeDropdown.append('<option value="Petrochemical manufacturing">Petrochemical manufacturing</option>');
                    typeDropdown.append('<option value="Agrochemical manufacturing">Agrochemical manufacturing</option>');
                    typeDropdown.append('<option value="Specialty chemical manufacturing">Specialty chemical manufacturing</option>');
                    typeDropdown.append('<option value="Organic chemical manufacturing">Organic chemical manufacturing</option>');
                    typeDropdown.append('<option value="Inorganic chemical manufacturing">Inorganic chemical manufacturing</option>');
                    typeDropdown.append('<option value="Fertilizer manufacturing">Fertilizer manufacturing</option>');
                    typeDropdown.append('<option value="Adhesive and sealant manufacturing">Adhesive and sealant manufacturing</option>');
                    typeDropdown.append('<option value="Paint and coating manufacturing">Paint and coating manufacturing</option>');

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Cleaningmaterials":
                    typeDropdown.append('<option value="Household cleaning product manufacturing">Household cleaning product manufacturing</option>');
                    typeDropdown.append('<option value="Industrial cleaning product manufacturing">Industrial cleaning product manufacturing</option>');
                    typeDropdown.append('<option value="Laundry detergent manufacturing">Laundry detergent manufacturing</option>');
                    typeDropdown.append('<option value="Surface cleaner manufacturing">Surface cleaner manufacturing</option>');
                    typeDropdown.append('<option value="Disinfectant manufacturing">Disinfectant manufacturing</option>');
                    typeDropdown.append('<option value="Cleaning equipment manufacturing">Cleaning equipment manufacturing</option>');
                    typeDropdown.append('<option value="Cleaning chemical manufacturing">Cleaning chemical manufacturing</option>');
                    typeDropdown.append('<option value="Janitorial supplies manufacturing">Janitorial supplies manufacturing</option>');

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Cleaningsortingandprocessingofagriculturalproducts":
                    typeDropdown.append('<option value="Grain cleaning and processing">Grain cleaning and processing</option>');
                    typeDropdown.append('<option value="Fruit and vegetable sorting and processing">Fruit and vegetable sorting and processing</option>');
                    typeDropdown.append('<option value="Seed cleaning and processing">Seed cleaning and processing</option>');
                    typeDropdown.append('<option value="Nut processing">Nut processing</option>');
                    typeDropdown.append('<option value="Coffee cherries hulling">Coffee cherries hulling</option>');
                    typeDropdown.append('<option value="Green coffee bean washing">Green coffee bean washing</option>');
                    typeDropdown.append('<option value="Green coffee bean sorting and packaging">Green coffee bean sorting and packaging</option>');
                    typeDropdown.append('<option value="Rice milling and processing">Rice milling and processing</option>');

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Constructionmaterials":
                    typeDropdown.append('<option value="Concrete product manufacturing">Concrete product manufacturing</option>');
                    typeDropdown.append('<option value="Bricks and blocks manufacturing">Bricks and blocks manufacturing</option>');
                    typeDropdown.append('<option value=""></option>');
                    typeDropdown.append('<option value="Roofing materials manufacturing">Roofing materials manufacturing</option>');
                    typeDropdown.append('<option value="Insulation materials manufacturing">Insulation materials manufacturing</option>');
                    typeDropdown.append('<option value="Doors and windows manufacturing">Doors and windows manufacturing</option>');
                    typeDropdown.append('<option value="Plumbing fixtures manufacturing">Plumbing fixtures manufacturing</option>');
                    typeDropdown.append('<option value="Flooring materials manufacturing">Flooring materials manufacturing</option>');
                    typeDropdown.append('<option value="Structural steel manufacturing">Structural steel manufacturing</option>');

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Constructionmachineries":
                    typeDropdown.append('<option value="Excavator manufacturing">Excavator manufacturing</option>');
                    typeDropdown.append('<option value="Bulldozer manufacturing">Bulldozer manufacturing</option>');
                    typeDropdown.append('<option value="Crane manufacturing">Crane manufacturing</option>');
                    typeDropdown.append('<option value="Paver manufacturing">Paver manufacturing</option>');
                    typeDropdown.append('<option value="Concrete pump manufacturing">Concrete pump manufacturing</option>');
                    typeDropdown.append('<option value="Backhoe loader manufacturing">Backhoe loader manufacturing</option>');
                    typeDropdown.append('<option value="Crane manufacturing">Crane manufacturing</option>');
                    typeDropdown.append('<option value="Paver manufacturing">Paver manufacturing</option>');
                    typeDropdown.append('<option value="Concrete pump manufacturing">Concrete pump manufacturing</option>');
                    typeDropdown.append('<option value="Backhoe loader manufacturing">Backhoe loader manufacturing</option>');
                    typeDropdown.append('<option value="Construction equipment attachments manufacturing">Construction equipment attachments manufacturing</option>');
                    typeDropdown.append('<option value="Road roller manufacturing">Road roller manufacturing</option>');

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "CosmeticsandPerfumes":
                    typeDropdown.append('<option value="Skincare product manufacturing">Skincare product manufacturing</option>');
                    typeDropdown.append('<option value="Makeup product manufacturing">Makeup product manufacturing</option>');
                    typeDropdown.append('<option value="Haircare product manufacturing">Haircare product manufacturing</option>');
                    typeDropdown.append('<option value="Fragrance manufacturing">Fragrance manufacturing</option>');
                    typeDropdown.append('<option value="Personal care product manufacturing">Personal care product manufacturing</option>');
                    typeDropdown.append('<option value="Cosmetics packaging manufacturing">Cosmetics packaging manufacturing</option>');
                    typeDropdown.append('<option value="Cosmetic tools and accessories manufacturing">Cosmetic tools and accessories manufacturing</option>');
                    typeDropdown.append('<option value="Cosmeceutical manufacturing">Cosmeceutical manufacturing</option>');

                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Defenseequipment":
                    typeDropdown.append('<option value="Military vehicle manufacturing">Military vehicle manufacturing</option>');
                    typeDropdown.append('<option value="Aircraft and aerospace systems manufacturing">Aircraft and aerospace systems manufacturing</option>');
                    typeDropdown.append('<option value="Naval vessel manufacturing">Naval vessel manufacturing</option>');
                    typeDropdown.append('<option value="Weapons and ammunition manufacturing">Weapons and ammunition manufacturing</option>');
                    typeDropdown.append('<option value="Radar and electronic systems manufacturing">Radar and electronic systems manufacturing</option>');
                    typeDropdown.append('<option value="Communication systems manufacturing">Communication systems manufacturing</option>');
                    typeDropdown.append('<option value="Protective gear and armor manufacturing">Protective gear and armor manufacturing</option>');
                    typeDropdown.append('<option value="Military optics and targeting systems manufacturing">Military optics and targeting systems manufacturing</option>');


                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Edibleoil":
                    typeDropdown.append('<option value="Vegetable oil refining and processing">Vegetable oil refining and processing</option>');
                    typeDropdown.append('<option value="Olive oil production">Olive oil production</option>');
                    typeDropdown.append('<option value="Seed oil production">Seed oil production</option>');
                    typeDropdown.append('<option value="Nut oil production">Nut oil production</option>');
                    typeDropdown.append('<option value="Specialty oil production (e.g., avocado oil)">Specialty oil production (e.g., avocado oil)</option>');
                    typeDropdown.append('<option value="Edible oil packaging">Edible oil packaging</option>');
                    
                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    $("#IndusteryProp").show();
                    break;
                case "Marine":
                    typeDropdown.append('<option value="Aircraftmanufacturing">AB</option>');
                    typeDropdown.append('<option value="Spacecraftmanufacturing">CD</option>');
                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    
                    break;
                case "Railway":
                    typeDropdown.append('<option value="Aircraftmanufacturing">AB</option>');
                    typeDropdown.append('<option value="Spacecraftmanufacturing">CD</option>');
                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                    
                    break;

                case "Constructionmachinery":
                    typeDropdown.append('<option value="Aircraftmanufacturing">AB</option>');
                    typeDropdown.append('<option value="Spacecraftmanufacturing">CD</option>');
                    typeDropdown.append('<option value="Other">Others, please specify</option>');
                   
                    break;
                default:
                    break;
            }
        }
       
        $("#categoryDropdown").change(function () {
            typeDropdown.prop("disabled", false);
            populateTypeDropdown();
        });
        populateTypeDropdown();
        var selectedType = "@Model.Type";
        var TypeDropDowns = document.getElementById("typeDropdown");
        for (var i = 0; i < TypeDropDowns.options.length; i++) {
            if (TypeDropDowns.options[i].text === selectedType) {
                TypeDropDowns.selectedIndex = i;
              
                break;
            }
        }

    });
</script>