<section class="content">
    <section class="col-xl-12 connectedSortable">        
        <table id="PreviousValuations" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Property Owner</th>
                    <th>Production Line/Equipment</th>
                    <th>Production Type</th>
                    <th>CreatedAt</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>      
    </section>           
</section>