<section class="content">
    <section class="col-xl-12 connectedSortable">        
        <table id="PreviousValuations" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Property Owner</th>
                    <th>Machine Name</th>
                    <th>Production Type</th>
                    <th>Created At</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </section>
</section>